// -----------------------------------------------------------
// ARTICLE VIEW by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------

// Item
$articleview-item-text:                   $gray5 !default;
$articleview-item-bottom-border:          $gray2 1px solid !default;
$articleview-item-image-bg:               none !default;
$articleview-item-bg:                     $white !default;
// Item hover
$articleview-item-hover-text:             $gray9 !default;
$articleview-item-hover-bottom-border:    $gray3 1px solid !default;
$articleview-item-hover-image-bg:         none !default;
$articleview-item-hover-bg:               darken($white, 2%) !default;


// STYLES
// -----------------------------------------------------------

.articleview {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media($mobile){
    }
}

.articleview-item {
  display: flex;
  flex-direction: column;
  flex: 0 1 49%;
  margin-bottom: 1.2rem;
  color: $articleview-item-text;
  border-bottom: $articleview-item-bottom-border;
  background: $articleview-item-bg;

  @include media($mobile){
    flex: 0 1 100%;
    margin-bottom: 1rem;
    }
}

.articleview-item img {
  width: 100%;
  height: auto;
  @include media($mobile){

    }
}

.articleview-item-figure {
  @include media($mobile){

    }
}

.articleview-item-body {
  display: flex;
  flex-direction: column;
  color: $articleview-item-text;
}

.articleview-item-text {
  padding: 1rem 2rem;
  flex: 0 1 90%;
  @include media($mobile){
    padding: 1rem 2rem;
    }
}

.articleview-item-body h3 {
  font-size: $text-large - 0.2rem;
}

.articleview-item-body p {
  font-size: $text-small;
  line-height: 2rem;  
  color: $articleview-item-text;
}

.articleview-item-footer {
  display:flex;
  justify-content: flex-end;
  @include media($mobile){

    }
}

.land {
  flex-direction: row;
  flex: 0 1 100%;
  @include media($mobile){
    flex-direction: column;
    }
}

.land .articleview-item-text {
  padding: 4rem 3rem;
  @include media($mobile){
    padding: 1rem 2rem;
    }
}

.land .articleview-item-figure,
.land .articleview-item-body {
  flex: 0 1 50%;
  @include media($mobile){
    flex: 0 1 100%;
    }
}
