// -----------------------------------------------------------
// CARD VIEW by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------

// Item
$cardview-item-text:                   $gray5 !default;
$cardview-item-bottom-border:          $gray2 1px solid !default;
$cardview-item-image-bg:               none !default;
$cardview-item-bg:                     $white !default;
// Item hover
$cardview-item-hover-text:             $gray9 !default;
$cardview-item-hover-bottom-border:    $gray3 1px solid !default;
$cardview-item-hover-image-bg:         none !default;
$cardview-item-hover-bg:               darken($white, 2%) !default;


// STYLES
// -----------------------------------------------------------

.cardview {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media($mobile){
    }
}

.cardview-item {
  display: flex;
  flex: 0 1 32%;
  margin-bottom: 1.2rem;
  color: $cardview-item-text;
  background: $cardview-item-bg;

  @include media($mobile){
    flex: 0 1 100%;
    margin-bottom: 1rem;
    }
}

.cardview-item img {
  width: 100%;
  height: auto;
  @include media($mobile){

    }
}

.cardview-item-figure {
  @include media($mobile){

    }
}

.cardview-item-body {
  padding: 2rem;
  color: $cardview-item-text;
  @include media($mobile){
    padding: 1.5rem;
    }
}

.cardview-item-body h3 {
  font-size: $text-large - 0.4rem;
}

.cardview-item-body p {
  font-size: $text-small;
  line-height: 2rem;
  color: $cardview-item-text;
}

.cardview-item a {
  display: flex;
  flex-direction: column;
  border-bottom: $cardview-item-bottom-border;
}

.cardview-item a:hover {
  background: $gray8;
  cursor: pointer;
  transition:.2s;
  color: $cardview-item-hover-text;
  border-bottom: $cardview-item-hover-bottom-border;
  background: $cardview-item-hover-bg;
}
