// -----------------------------------------------------------
// MAP VIEW by Sebastian Serna - 2016
// -----------------------------------------------------------
// Based on CodyHouse https://codyhouse.co/gem/custom-google-map/
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------

$mapview-bg:                  $gray2 !default;
$mapview-address-text:        $white !default;
$mapview-address-bg:          $gray9 !default;


// STYLES
// -----------------------------------------------------------

.mapview-canvas  {
    position: relative;
    width: 100%;
    height: 400px;
    background: $mapview-bg;
}

.mapview {
  position: relative;
  min-height: 40rem;
  background: $mapview-bg;

  address {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1em 1em;
    background: $mapview-address-bg;
    color: $mapview-address-text;
    font-size: 1.3rem;
  }
}

.mapview-zoom-in, .mapview-zoom-out {
  display: block;
}
