// -----------------------------------------------------------
// BASE LAYOUT
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Containers

.layout {
	overflow: auto;
  min-height: 100%; // Afecta la posición del footer
  position: relative; // Afecta la posición del footer
  @include themify() {
    color: getTheme('text-basic');
    background: getTheme('layout-bg');
    }
}

// Header section

.layout-header {
	@include span-columns(12);
  @include themify() {
    color: getTheme('text-basic');
    background: getTheme('header-bg');
    }
}

// Main content section

.layout-main {
	@include span-columns(12);
  padding-bottom: $footer-size; // Afecta la posición del footer
  @include themify() {
    color: getTheme('text-basic');
    background: getTheme('main-bg');
    }
}

// Footer section

.layout-footer {
	@include span-columns(12);
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: em(30) em(10);
  height: $footer-size;   // Tamaño del footer
  @include themify() {
    color: getTheme('text-basic');
    background: getTheme('footer-bg');
    }
}

// Other classes

.centered {
  @include outer-container(980px);
  @include media($mobile){ 
    }
}

.pad {
  @include outer-container(980px);
  padding-top: 1em; 
  padding-bottom: 2em; 
  @include media($mobile){
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;   
    }
}

// Content units in Columns

.col-1  { @include span-columns(1); outline:$layout-border; }
.col-2  { @include span-columns(2); outline:$layout-border; }
.col-3  { @include span-columns(3); outline:$layout-border; }
.col-4  { @include span-columns(4); outline:$layout-border; }
.col-5  { @include span-columns(5); outline:$layout-border; }
.col-6  { @include span-columns(6); outline:$layout-border; }
.col-7  { @include span-columns(7); outline:$layout-border; }
.col-8  { @include span-columns(8); outline:$layout-border; }
.col-9  { @include span-columns(9); outline:$layout-border; }
.col-10 { @include span-columns(10); outline:$layout-border; }
.col-11 { @include span-columns(11); outline:$layout-border; }
.col-12 { @include span-columns(12); outline:$layout-border; }

.omega { @include omega; }
