// -----------------------------------------------------------
// BASE LAYOUT
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// Containers

.layout {
	overflow: auto;
  min-height: 100%; // Afecta la posición del footer
  position: relative; // Afecta la posición del footer
}

// Header section

.layout-header {
	@include span-columns(12);
  @include media($mobile){
    
  }
}

// Main content section

.layout-main {
	@include span-columns(12);
  padding-bottom: $footer-size; // Afecta la posición del footer
}

// Footer section

.layout-footer {
	@include span-columns(12);
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-size;   // Tamaño del footer
}

// Other classes

.centered {
  @include outer-container(980px); 
  @include media($mobile){
    }
}



