
// -----------------------------------------------------------
// COLOR MANAGER by Sebastian Serna - 2015
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// SWAN PALETTE 
// -----------------------------------------------------------

// TEXTS 
// -----------------------------------------------------------

body {
    color:                  $gray;
    background-color:       $gray-black; 
    }
    // -----------------------------------
h1, h2, h3, 
h4, h5, h6 { 
    color:                  $white; 
    }
    // -----------------------------------
p {
    color:                  $gray; 
    }
    // -----------------------------------
a { 
    color:                  $white; 
    }
    // -----------------------------------
a:hover { 
    color:                  $light-slategray; 
    }
    // -----------------------------------
small { 
    color:                  $gray; 
    }
    // -----------------------------------
ul, ol, li {
    color:                  $gray; 
    }
    // -----------------------------------
dl, dt, dd {
    color:                  $gray; 
    }
    // -----------------------------------
blockquote {
    border-left: 1px solid  $gray;
    color:                  $gray;
    background-color:       $gray-dark; 
    }
    // -----------------------------------
q {
    border-left: 1px solid  $gray;
    color:                  $gray;
    background-color:       $gray-dark; 
    }
    // -----------------------------------
cite {
    border-left: 1px solid  $gray;
    color:                  $gray;
    background-color:       $gray-dark; 
    }
    // -----------------------------------
pre {
    color:                  $gray; 
    border: 1px solid       $gray-dark; 
    }
    // -----------------------------------
hr {
    border: 1px solid       $gray-shadow; 
    }
    // -----------------------------------

// FORMS 
// -----------------------------------------------------------

legend { 
    color:                  $white; 
    }
    // -----------------------------------
fieldset { 
    border: 1px solid       $gray-dark; 
    }
    // -----------------------------------
label { 
    color:                  $white; 
    }
    // -----------------------------------
input[type="text"] { 
    border: 2px solid       $gray-shadow;
    background-color:       $gray-dark; 
    color:                  $gray; 
    }
    // -----------------------------------
input[type="text"]:disabled { 
    border: 2px solid       $gray-shadow;
    background-color:       $gray-shadow; 
    color:                  $gray-light;
    }
    // -----------------------------------
input[type="email"] { 
    border: 2px solid       $gray-shadow;
    background-color:       $gray-dark; 
    color:                  $gray;
    }
    // -----------------------------------
input[type="password"] { 
    border: 2px solid       $gray-shadow;
    background-color:       $gray-dark; 
    color:                  $gray; 
    }
    // -----------------------------------
textarea { 
    border: 2px solid       $gray-shadow;
    background-color:       $gray-dark; 
    color:                  $gray; 
    }
    // -----------------------------------
input:focus, 
textarea:focus {
    color:                  $white;
    background-color:       $gray-dark; 
    border: 2px solid       $gray; 
    } 
    // -----------------------------------
input[type="submit"] { 
    border:                 none;
    background-color:       $light-slategray; 
    color:                  $white; 
    }
    // -----------------------------------
input[type="submit"]:hover { 
    border:                 none;
    background-color:       $slategray; 
    color:                  $white; 
    }
    // -----------------------------------
input[type="reset"] { 
    border:                 none;
    background-color:       $light-slategray; 
    color:                  $white; 
    }
    // -----------------------------------  
input[type="reset"]:hover { 
    border:                 none;
    background-color:       $slategray; 
    color:                  $white; 
    }
    // -----------------------------------
button { 
    border: 1px solid       $gray-shadow;
    background-color:       $gray-dark; 
    color:                  $gray; 
    }
    // -----------------------------------    
button:hover { 
    border: 1px solid       $light-slategray;
    background-color:       $gray-black; 
    color:                  $white; 
    }
    // -----------------------------------    

.btn { 
    border: 1px solid       $gray-shadow;
    background-color:       $gray-dark; 
    color:                  $gray;
    }
    // -----------------------------------
.btn:hover { 
    border: 1px solid       $light-slategray;
    background-color:       $gray-black; 
    color:                  $white;
    }

// TABLES 
// -----------------------------------------------------------

table {  
    border: 1px solid       $gray-shadow;
    color:                  $gray; 
    } 
    // -----------------------------------
th {
    border-bottom:1px solid $gray-shadow;
    border-top:1px solid    $gray-shadow;
    background-color:       $gray-black; 
    }
    // -----------------------------------
td {
    border-bottom:1px solid $gray-shadow;
    background-color:       $gray-black; 
    }
    // -----------------------------------
thead { 
    background-color:       none; 
    }
    // -----------------------------------
tbody { 
    background-color:       none; 
    }
    // -----------------------------------
tfoot { 
    background-color:       none; 
    }
    // -----------------------------------



// CUSTOM MODULES 
// -----------------------------------------------------------


// LAYOUT COLORS
// -----------------------------------------------------------

.layout { 
    background-color:       $gray-black; 
    }
    // -----------------------------------
.layout--fluid { 
    background-color:       $gray-black; 
    }
    // -----------------------------------
.layout__header {
    background-color:       $gray-dark; 
    }
    // -----------------------------------
.layout__subheader {
    background-color:       $gray-black; 
    }
    // -----------------------------------
.layout__contentarea {
    background-color:       $gray-black; 
    }
    // -----------------------------------
.layout__content {
    background-color:       $gray-black; 
    }
    // -----------------------------------
.layout__content--full {
    background-color:       $gray-black; 
    }
    // -----------------------------------
.layout__sidebar { 
    background-color:       $gray-black; 
    }
    // -----------------------------------
.layout__sidebar--tiny { 
    background-color:       $gray-dark; 
    }
    // -----------------------------------
.layout__footer {
    background-color:       $gray-dark; 
    }

// NANO SCROLLER 
// -----------------------------------------------------------

.nano > .nano-pane { 
    background:            $gray-dark; 
    } 
    // -----------------------------------     
.nano > 
.nano-pane > 
.nano-slider { 
    background:           $gray-shadow; 
    }
    // -----------------------------------   


// OTHER
// -----------------------------------------------------------

//for icon preview

.demo-item { 
    border:1px solid        $gray-shadow;
    background-color:       $gray-dark;
    color:                  $white; 
    }
    // -----------------------------------

.demo-item:hover { 
    border:1px solid        $light-slategray;
    background-color:       $gray-dark;
    color:                  $white; 
    }
    // -----------------------------------


