
// -----------------------------------------------------------
// COLOR MANAGER by Sebastian Serna - 2015
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// SWAN PALETTE 
// -----------------------------------------------------------

$mobile: new-breakpoint(max-width 768px 4);

.color__item {     
    height:3em;
    line-height:3em;
    text-align:center;
    margin-bottom: 0.2em;
    border: solid 1px $gray3;
}

// TEXTS 
// -----------------------------------------------------------

body {
    color:                  $gray5;
    background-color:       $white;
    }
    // -----------------------------------
h1, h2, h3, 
h4, h5, h6 { 
    color:                  $black;
    }
    // -----------------------------------
p {
    color:                  $gray6;
    }
    // -----------------------------------
a { 
    color:                  $black;
    }
    // -----------------------------------
a:hover { 
    color:                  $gray5;
    }
    // -----------------------------------
small { 
    color:                  inherit;
    }
    // -----------------------------------
ul, ol, li {
    color:                  $gray5;
    }
    // -----------------------------------
dl, dt, dd {
    color:                  $gray5;
    }
    // -----------------------------------
blockquote {
    border-left: 1px solid  $gray3;
    color:                  $gray5;
    background-color:       $gray1;
    }
    // -----------------------------------
q {
    border-left: 1px solid  $gray3;
    color:                  $gray5;
    background-color:       $gray1;
    }
    // -----------------------------------
cite {
    border-left: 1px solid  $gray3;
    color:                  $gray5;
    background-color:       $gray1;
    }
    // -----------------------------------
pre {
    color:                  $gray5; 
    border: 1px solid       $gray3;
    }
    // -----------------------------------
hr {
    border: 1px solid       $gray2;
   }

// FORMS 
// -----------------------------------------------------------

legend { 
    color:                  $black;
    }
    // -----------------------------------
fieldset { 
    border: 1px solid       $gray3;
    }
    // -----------------------------------
label { 
    color:                  $black;
    }
    // -----------------------------------
input[type="text"] { 
    border: 2px solid       $gray3;
    background-color:       $white; 
    color:                  $gray7;
    }
    // -----------------------------------
input[type="text"]:disabled { 
    border: 2px solid       $gray2;
    background-color:       $gray1; 
    color:                  $gray5;
    }
    // -----------------------------------
input[type="email"] { 
    border: 2px solid       $gray3;
    background-color:       $white; 
    color:                  $gray7;
    }
    // -----------------------------------
input[type="password"] { 
    border: 2px solid       $gray3;
    background-color:       $white; 
    color:                  $gray7;
    }
    // -----------------------------------
textarea { 
    border: 2px solid       $gray3;
    background-color:       $white; 
    color:                  $gray7;
    }
    // -----------------------------------
input:focus, 
textarea:focus {
    color:                  $gray7;
    background-color:       $white; 
    border: 2px solid       $gray4;
    } 
    // -----------------------------------
input[type="submit"] { 
    border:                 none;
    background-color:       $white; 
    color:                  $white;
    }
    // -----------------------------------
input[type="submit"]:hover { 
    border:                 none;
    background-color:       $white; 
    color:                  $white;
    }
    // -----------------------------------
input[type="reset"] { 
    border:                 none;
    background-color:       $gray5; 
    color:                  $white;
    }
    // -----------------------------------
input[type="reset"]:hover { 
    border:                 none;
    background-color:       $gray8; 
    color:                  $white;
    }
    // -----------------------------------
button { 
    border: 1px solid       $gray3;
    background-color:       $gray1; 
    color:                  $gray5;
    }
    // -----------------------------------
button:hover { 
    border: 1px solid       $gray5;
    background-color:       $white; 
    color:                  $gray7;
    }
    // -----------------------------------
.btn { 
    border: 1px solid       $gray3;
    background-color:       $gray1; 
    color:                  $gray5;
    }
    // -----------------------------------
.btn:hover { 
    border: 1px solid       $gray5;
    background-color:       $white; 
    color:                  $gray7;
    }
    // -----------------------------------
.btn-dark { 
    border: 2px solid       $gray7;
    background-color:       $gray9; 
    color:                  $gray4;
    }
    // -----------------------------------
.btn-dark:hover { 
    border: 2px solid       $gray5;
    background-color:       $black; 
    color:                  $white;
    }

// TABLES 
// -----------------------------------------------------------

table {  
    border: 1px solid       $gray3;
    color:                  $gray7;
    }
    // -----------------------------------
th {
    border-bottom:1px solid $gray3;
    border-top:1px solid    $gray3;
    background-color:       $gray1;
    }
    // -----------------------------------
td {
    border-bottom:1px solid $gray3;
    background-color:       $white;
    }
    // -----------------------------------
thead { 
    background-color:       none;
    }
    // -----------------------------------
tbody { 
    background-color:       none;
    }
    // -----------------------------------
tfoot { 
    background-color:       none;
    }


// CUSTOM MODULES 
// -----------------------------------------------------------


// LAYOUT COLORS
// -----------------------------------------------------------

.layout { 
    background-color:       none; 
    }
    // -----------------------------------
.layout--fluid { 
    background-color:       none; 
    }
    // -----------------------------------
.layout__header {
    background-color:        none; 
    }
    // -----------------------------------
.layout__subheader {
    padding: 1em 2em;
    @include border-top-radius(2em);
    @include background(linear-gradient(top, $gray8, $black));
    }

.layout__subheader h2 {
    color: $gray5;
    text-transform: uppercase;
    font-size: 2em;
    }
    // -----------------------------------
.layout__contentarea {
    background-color:       none; 
    }
    // -----------------------------------
.layout__content {
    background-color:       $white; 
    @include border-bottom-radius(1em);
    }

.layout__content h4 {
    background: $gray8;
    color: $white;
    padding: 0.7em 0 0.7em 1em;
    @include border-bottom-radius(0.5em);
    @include border-top-radius(0.5em); 
    }

    // -----------------------------------
.layout__content--full {
    background-color:       none; 
    }
    // -----------------------------------
.layout__sidebar { 
    background: $gray8;
    padding-bottom: 2em;
    @include border-bottom-radius(1em);
    }

.layout__sidebar h3 {
    color: $gray2;
    }

.layout__sidebar a {
    color: $gray5;
    }

.panel-title {
    @include background(linear-gradient(top, $gray8, $gray9));
    line-height: 3em;
    text-transform: uppercase;
    @include border-top-radius(0.5em);
    }

.panel-title h3 {
    margin-top: 0;
    margin-bottom: 0;
    }

    // -----------------------------------
.layout__sidebar--tiny { 
    background-color:       none; 
    }
    // -----------------------------------
.layout__footer {
    margin-top: 2em;
    @include border-top-radius(1em);
    background: $gray8;
    }
    // -----------------------------------

body {
  background: $black url("../../images/bg-body.jpg") no-repeat fixed center center;
    @include media($mobile){
        background:none;
        background-color: $gray9;
    }
}

// NANO SCROLLER 
// -----------------------------------------------------------

.nano > .nano-pane { 
    background:            $white; 
    } 
    // -----------------------------------  
.nano > 
.nano-pane > 
.nano-slider { 
    background:           $gray3; 
    }


// OTHER
// -----------------------------------------------------------

//for icon preview

.demo-item { 
    color:                  $gray5;
    border:1px solid        $gray3;
    }


