// -----------------------------------------------------------
// COLOR MANAGER by Sebastian Serna - 2015
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// SWAN PALETTE 
// -----------------------------------------------------------

.color__item {     
    height:3em;
    line-height:3em;
    text-align:center;
    margin-bottom: 0.2em;
    border: solid 1px $gray3;
}

// TEXTS 
// -----------------------------------------------------------

body {
    color:                  $gray5;
    background-color:       $white;
    }
    // -----------------------------------
h1, h2, h3, 
h4, h5, h6 { 
    color:                  $black;
    }
    // -----------------------------------
p {
    color:                  $gray6;
    }
    // -----------------------------------
a { 
    color:                  $black;
    }
    // -----------------------------------
a:hover { 
    color:                  $gray5;
    }
    // -----------------------------------
small { 
    color:                  inherit;
    }
    // -----------------------------------
ul, ol, li {
    color:                  $gray5;
    }
    // -----------------------------------
dl, dt, dd {
    color:                  $gray5;
    }
    // -----------------------------------
blockquote {
    border-left: 1px solid  $gray3;
    color:                  $gray5;
    background-color:       $gray1;
    }
    // -----------------------------------
q {
    border-left: 1px solid  $gray3;
    color:                  $gray5;
    background-color:       $gray1;
    }
    // -----------------------------------
cite {
    border-left: 1px solid  $gray3;
    color:                  $gray5;
    background-color:       $gray1;
    }
    // -----------------------------------
pre {
    color:                  $gray5; 
    border: 1px solid       $gray3;
    }
    // -----------------------------------
hr {
    border: 1px solid       $gray2;
   }

// FORMS 
// -----------------------------------------------------------

legend { 
    color:                  $black;
    }
    // -----------------------------------
fieldset { 
    border: 1px solid       $gray3;
    }
    // -----------------------------------
label { 
    color:                  $black;
    }
    // -----------------------------------
input[type="text"] { 
    border: 2px solid       $gray3;
    background-color:       $white; 
    color:                  $gray7;
    }
    // -----------------------------------
input[type="text"]:disabled { 
    border: 2px solid       $gray2;
    background-color:       $gray1; 
    color:                  $gray5;
    }
    // -----------------------------------
input[type="email"] { 
    border: 2px solid       $gray3;
    background-color:       $white; 
    color:                  $gray7;
    }
    // -----------------------------------
input[type="password"] { 
    border: 2px solid       $gray3;
    background-color:       $white; 
    color:                  $gray7;
    }
    // -----------------------------------
textarea { 
    border: 2px solid       $gray3;
    background-color:       $white; 
    color:                  $gray7;
    }
    // -----------------------------------
input:focus, 
textarea:focus {
    color:                  $gray7;
    background-color:       $white; 
    border: 2px solid       $gray4;
    } 
    // -----------------------------------
input[type="submit"] { 
    border:                 none;
    background-color:       $white; 
    color:                  $white;
    }
    // -----------------------------------
input[type="submit"]:hover { 
    border:                 none;
    background-color:       $white; 
    color:                  $white;
    }
    // -----------------------------------
input[type="reset"] { 
    border:                 none;
    background-color:       $gray5; 
    color:                  $white;
    }
    // -----------------------------------
input[type="reset"]:hover { 
    border:                 none;
    background-color:       $gray8; 
    color:                  $white;
    }
    // -----------------------------------
button { 
    border: 1px solid       $gray3;
    background-color:       $gray1; 
    color:                  $gray5;
    }
    // -----------------------------------
button:hover { 
    border: 1px solid       $gray5;
    background-color:       $white; 
    color:                  $gray7;
    }
    // -----------------------------------
.btn { 
    border: 1px solid       $gray3;
    background-color:       $gray1; 
    color:                  $gray5;
    }
    // -----------------------------------
.btn:hover { 
    border: 1px solid       $gray5;
    background-color:       $white; 
    color:                  $gray7;
    }
    // -----------------------------------
.btn-dark { 
    border: 2px solid       $gray7;
    background-color:       $gray9; 
    color:                  $gray4;
    }
    // -----------------------------------
.btn-dark:hover { 
    border: 2px solid       $gray5;
    background-color:       $black; 
    color:                  $white;
    }

// TABLES 
// -----------------------------------------------------------

table {  
    border: 1px solid       $gray3;
    color:                  $gray7;
    }
    // -----------------------------------
th {
    border-bottom:1px solid $gray3;
    border-top:1px solid    $gray3;
    background-color:       $gray1;
    }
    // -----------------------------------
td {
    border-bottom:1px solid $gray3;
    background-color:       $white;
    }
    // -----------------------------------
thead { 
    background-color:       none;
    }
    // -----------------------------------
tbody { 
    background-color:       none;
    }
    // -----------------------------------
tfoot { 
    background-color:       none;
    }


// CUSTOM MODULES 
// -----------------------------------------------------------


// LAYOUT COLORS
// -----------------------------------------------------------

.layout { 
    background-color:       none; 
    }
    // -----------------------------------
.layout--fluid { 
    background-color:       none; 
    }
    // -----------------------------------
.layout__header {
    background-color:        none; 
    }
    // -----------------------------------
.layout__subheader {
    background-color:       none; 
    }
    // -----------------------------------
.layout__contentarea {
    background-color:       none; 
    }
    // -----------------------------------
.layout__content {
    background-color:       none; 
    }
    // -----------------------------------
.layout__content--full {
    background-color:       none; 
    }
    // -----------------------------------
.layout__sidebar { 
    background-color:       none; 
    }
    // -----------------------------------
.layout__sidebar--tiny { 
    background-color:       none; 
    }
    // -----------------------------------
.layout__footer {
    background-color:       none; 
    }


// NANO SCROLLER 
// -----------------------------------------------------------

.nano > .nano-pane { 
    background:            $white; 
    } 
    // -----------------------------------  
.nano > 
.nano-pane > 
.nano-slider { 
    background:           $gray3; 
    }


// OTHER
// -----------------------------------------------------------

//for icon preview

.demo-item { 
    color:                  $gray5;
    border:1px solid        $gray3;
    }


