// -----------------------------------------------------------
// ARTICLE VIEW by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


.articleview {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  @include media($mobile){ 
    }
}


.articleview-item {
  display: flex;
  flex-direction: column;
  flex: 0 1 49%;
  margin-bottom: 1.2em;
  @include themify() {
    color: getTheme('summary-text');
    border-bottom: getTheme('summary-bottom-border');
    background: getTheme('summary-bg');
    }
  @include media($mobile){ 
    flex: 0 1 100%;
    margin-bottom: 1em;
    }
}

.articleview-item img {
  width: 100%;
  height: auto;
  @include media($mobile){ 

    }
}

.articleview-item-figure {
  @include media($mobile){ 

    }
}

.articleview-item-body {
  display: flex;
  flex-direction: column;
  @include themify() {
    color: getTheme('summary-text');
    }
}

.articleview-item-text {
  padding: 1em 2em;
  flex: 0 1 90%;
  @include media($mobile){ 
    padding: 1em 2em;
    }
}

.articleview-item-body h3 {
  font-size: 1em;
}

.articleview-item-body p {
  font-size: 0.8em;
}

.articleview-item-footer {
  display:flex;
  justify-content: flex-end; 
  @include media($mobile){ 

    }
}

.land {
  flex-direction: row;
  flex: 0 1 100%;
  @include media($mobile){ 
    flex-direction: column;
    }
}

.land .articleview-item-text {
  padding: 4em 3em;
  @include media($mobile){ 
    padding: 1em 2em;
    }
}

.land .articleview-item-figure,
.land .articleview-item-body {
  flex: 0 1 50%;
  @include media($mobile){ 
    flex: 0 1 100%;
    }
}
