// -----------------------------------------------------------
// CONTENT SUMMARY by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Summary list

.summary {
  @include span-columns(12 of 12);
  margin: 0.5em 0;
  border-bottom: solid 1px $summary-border;
  background: $summary-bg;
  @include media($mobile){
    margin-bottom: 1.5em;
    }
}

.summary-image {
  @include span-columns(6 of 12);
  text-align: center;
  background: $summary-image-bg;
  @include media($mobile){
    @include span-columns(12 of 12);
    }
}

.summary-image img {
  @include media($mobile){
    width: 100%;
    height: auto;
    padding: 0 0.8em;
    }
}

.summary-body {
  @include span-columns(6 of 12);
  @include media($mobile){
    @include span-columns(12 of 12);
    }
}

  .summary-text {
    padding: 5.5em 3.5em 2em 3em;
    @include media($mobile){
      @include span-columns(12 of 12);
      padding: 0.5em 1em 0.8em 1em;
      }
  }

  .summary-footer {
    height: $size-xs;
    @include media($mobile){
      @include span-columns(12 of 12);
      padding: 0 0.8em;
      display: none;
      }
  }

  .summary-footer a.button {
    float:right;
  }