// -----------------------------------------------------------
// HERO BANNER by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Hero banner

.hero {
  background-size: none;
  text-align: center;
  height: $size-xl;
  background: $hero-bg;
  @include media($mobile){
    height: $size-l;
    }
}

.hero-content {
  @include vertical-align;
  background: $hero-content-bg;
  @include media($mobile){
    
    }
}

.hero-content p {
  width: 40%;
  margin: 0 auto;
  background: $hero-content-bg;
  @include media($mobile){
    width: 80%;  
    }
}