// -----------------------------------------------------------
// HERO BANNER by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.hero {
  background-size: none;
  text-align: center;
  height: $size-xl;
  @include themify() {
    color: getTheme('text-basic');
    background: getTheme('hero-bg');
    }
  @include media($mobile){
    height: $size-xl;
    }
}

.hero-content {
  @include vertical-align;
  @include themify() {
    color: getTheme('text-basic');
    background: getTheme('hero-content-bg');
    }
  @include media($mobile){
    
    }
}

.hero-content p {
  width: 40%;
  margin: 0 auto;
  @include media($mobile){
    width: 80%;  
    }
}