// -----------------------------------------------------------
// HERO BANNER by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.hero {
  background-size: none;
  text-align: center;
  height: $size-xl;
  color: $text-basic;
  background: $hero-bg;

  @include media($mobile){
    height: $size-xl;
    }
}

.hero-content {
  @include vertical-align;
  color: $text-basic;
  background: $hero-content-bg;

  @include media($mobile){
    
    }
}

.hero-content p {
  width: 40%;
  margin: 0 auto;
  @include media($mobile){
    width: 80%;  
    }
}