// -----------------------------------------------------------
// LIST VIEW by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.listview {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  @include media($mobile){ 

    }
}

.listview-item {
  flex: 0 1 50%;
  align-items: flex-start;
  //padding: 1em;
  @include themify() {
    color: getTheme('summary-text');
    border-bottom: getTheme('summary-bottom-border');
    background: getTheme('summary-bg');
    }
  @include media($mobile){ 
    flex: 0 1 100%;
    }
}

.listview-item-figure {
  flex: 0 1 15%;
  margin-right: 1em;
  @include media($mobile){ 

    }
}

.listview-item-body {
  flex: 1;
  @include themify() {
    color: getTheme('summary-text');
    }
}

.listview-item-body h3 {
  margin: 0 0 0.2em 0;
  font-size: 1em;
}

.listview-item-body p {
  font-size: 0.8em;
}


.listview-item a {
  display: flex;
  padding: 1em;
  //background: $gray8;
  cursor: pointer;
}
 
.listview-item a:hover {
  background: $gray8;
  cursor: pointer;

}
 .listview li {
  margin: 0; 
  padding: 0;
  list-style: none;
}

 ul.listview { 
  padding-left: 0;
  list-style: none;
}

// Styles for limit text with '...'
// http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/
// Based on http://codepen.io/natonischuk/pen/KpNKQZ 

// 2 lines
.maxlines-2 {
  overflow: hidden;
  position: relative; 
  line-height: 1.5em;
  max-height: 3em;  
  margin-right: -1em;
  padding-right: 1em;
}

.maxlines-2:before {
  //content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.maxlines-2:after {
  content: '';
  position: relative;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
}

// 1 line

.maxlines-1 {
  overflow: hidden;
  position: relative; 
  line-height: 1em;
  max-height: 1em;  
  margin-right: -1em;
  padding-right: 1em;
}

.maxlines-1:before {
  //content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.maxlines-1:after {
  content: '';
  position: relative;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
}
