// -----------------------------------------------------------
// MENU HORIZONTAL by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


.navigation {
  overflow: auto;
  //text-transform: uppercase;
  font-size: 0.9em;
  background: $navigation-bg;
}


.logo {
  @include span-columns(3 of 12);
  @include media($mobile){
    @include span-columns(5 of 12);
    }
}

.logo img {
  max-height: em(38);
  margin: em(8) em(0) em(0) em(10) ;
  @include media($mobile){
    max-height: em(40);
    margin: em(5) em(0) em(0) em(5);
    }
}

.menu {
  @include span-columns(9 of 12);
  @include omega();
  padding-right:em(20);
  background: $menu-bg;
  @include media($mobile){
    display: none;
    }
}

.menu ul {
  margin: 0; 
  padding: 0;
  float: right;
  @include media($mobile){
    float: left;
    }
}

.menu ul li {
  display: inline;
  @include media($mobile){
    display: block;
    }
}

.menu ul li a {
  float: left; 
  text-decoration: none;
  padding: 1em 1.5em;
  color: $menu-item-text;
  background: $menu-item-bg;
}
 
.menu ul li a:visited {
  color: $menu-item-text;
}
 
.menu ul li a:hover {
  color: $menu-item-hover-text;
  background: $menu-item-hover-bg;
}

.menu ul li a.active {
  color: $menu-item-active-text;
  background: $menu-item-active-bg;
}

// MOBILE MENU
// Based on Refills

.menu-mobile {  
  $menu-mobile-width: em(250);
  @include position(fixed, 0 0 0 auto);
  @include size($menu-mobile-width 100%);
  @include transform(translateX($menu-mobile-width));
  // @include transition(all 0.20s linear); Revisar efecto
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  z-index: 999999 !important;
  border-left: $menu-mobile-border;
  background: $menu-mobile-bg;

  &.is-visible {
    @include transition(all 0.20s linear);
    @include transform(translateX(0));
    }
}

.menu-mobile-fade-screen {
  @include position(fixed, 0 0 0 0);
  @include transition;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  background: $menu-mobile-fade-screen-bg;

  &.is-visible {
    @include transition(all 0.20s linear);
    opacity: 0.4;
    visibility: visible;
  }
}


// MENU ITEMS

.menu-mobile ul {
    margin: 0; 
    padding: 0;
}

.menu-mobile ul li {
    display: block;
}

.menu-mobile ul li a {
  width: 100%;
  float: left; 
  text-decoration: none;
  padding: 1em 2em;
  color: $menu-mobile-item-text;
  background: $menu-mobile-item-bg;
}
 
.menu-mobile ul li a:hover {
  color: $menu-item-hover-text;
  background: $menu-item-hover-bg;
}

.menu-mobile ul li a.active {
  color: $menu-item-active-text;
  background: $menu-item-active-bg;
}

// SHOW BUTTON :::::::::::::::

.menu-mobile-open {
  display: none;
  @include media($mobile){
    display: inline-block;
    float: right;
    width:50px;
    height:50px;
    text-align: center;
    border: $menu-mobile-btn-border;
    color: $menu-mobile-btn-text;
    background: $menu-mobile-btn-bg;
    }
}



