/*------------------------------------------------------------
  TOGGLE PANEL
------------------------------------------------------------*/

.js-toggle-hidden {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.20s ease-out;
}

.js-toggle-visible {
  max-height: 2000px;
  overflow: hidden;
  transition: max-height 0.30s ease-in;
}

.js-toggle {
  display:block;
  margin-top: 2.5rem;
}