<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/master/head.htm' %}
</head>
<body>
<div class="layout">
<!-- Header :::::::::::::::::::::: -->
<header class="layout-header fixed-top shadow-bottom">
  {% include 'partials/master/header.htm' %}
</header>
<!-- Content Area :::::::::::::::::::::: -->
<main class="layout-main" role="main">
<section class="section">
<div class="section-content-full">
  <!-- Subheader :::::::::::::::::::::: -->
  {% include 'partials/master/subheader.htm' %}
</div>
</section>
<section class="section">
<div class="section-content pad">
  <!-- Content :::::::::::::::::::::: -->
  {% block content %}{% endblock %}
</div>
</section>
</main>
<!-- Footer :::::::::::::::::::::: -->
<footer class="layout-footer">
  {% include 'partials/master/footer.htm' %}
</footer>
</div>

{% include 'partials/master/scripts.htm' %}

</body>
</html>
