<!-- Section :::::::::::::::::::::::::::: -->
<section class="section">
  <div class="section-content">
    <!-- Row 1 :::::::::::::::::::: -->
    <article class="col1 bg-gray2 pad gap-bottom">
        <h3 class="pad"> 1 </h3>
    </article>
    <article class="col11 bg-gray1 pad gap-bottom">
        <h3 class="pad">11 Cols</h3>
    </article>
    <!-- Row 2 :::::::::::::::::::: -->
    <article class="col2 bg-gray2 pad gap-bottom">
        <h3 class="pad">2 Cols</h3>
    </article>
    <article class="col10 bg-gray1 pad gap-bottom">
        <h3 class="pad">10 Cols</h3>
    </article>
    <!-- Row 3 :::::::::::::::::::: -->
    <article class="col3 bg-gray2 pad gap-bottom">
        <h3 class="pad">3 Cols</h3>
    </article>
    <article class="col9 bg-gray1 pad gap-bottom">
        <h3 class="pad">9 Cols</h3>
    </article>
    <!-- Row 4 :::::::::::::::::::: -->
    <article class="col4 bg-gray2 pad gap-bottom">
        <h3 class="pad">4 Cols</h3>
    </article>
    <article class="col8 bg-gray1 pad gap-bottom">
        <h3 class="pad">8 Cols</h3>
    </article>
    <!-- Row 5 :::::::::::::::::::: -->
    <article class="col5 bg-gray2 pad gap-bottom">
        <h3 class="pad">5 Cols</h3>
    </article>
    <article class="col7 bg-gray1 pad gap-bottom">
        <h3 class="pad">7 Cols</h3>
    </article>
    <!-- Row 6 :::::::::::::::::::: -->
    <article class="col6 bg-gray2 pad gap-bottom">
        <h3 class="pad">6 Cols</h3>
    </article>
    <article class="col6 bg-gray1 pad gap-bottom">
        <h3 class="pad">6 Cols</h3>
    </article>
    <!-- Row 7 :::::::::::::::::::: -->
    <article class="col7 bg-gray2 pad gap-bottom">
        <h3 class="pad">7 Cols</h3>
    </article>
    <article class="col5 bg-gray1 pad gap-bottom">
        <h3 class="pad">5 Cols</h3>
    </article>
    <!-- Row 8 :::::::::::::::::::: -->
    <article class="col8 bg-gray2 pad gap-bottom">
        <h3 class="pad">8 Cols</h3>
    </article>
    <article class="col4 bg-gray1 pad gap-bottom">
        <h3 class="pad">4 Cols</h3>
    </article>
    <!-- Row 9 :::::::::::::::::::: -->
    <article class="col9 bg-gray2 pad gap-bottom">
        <h3 class="pad">9 Cols</h3>
    </article>
    <article class="col3 bg-gray1 pad gap-bottom">
        <h3 class="pad">3 Cols</h3>
    </article>
    <!-- Row 10 :::::::::::::::::::: -->
    <article class="col10 bg-gray2 pad gap-bottom">
        <h3 class="pad">10 Cols</h3>
    </article>
    <article class="col2 bg-gray1 pad gap-bottom">
        <h3 class="pad">2 Cols</h3>
    </article>
    <!-- Row 11 :::::::::::::::::::: -->
    <article class="col11 bg-gray2 pad gap-bottom">
        <h3 class="pad">11 Cols</h3>
    </article>
    <article class="col1 bg-gray1 pad gap-bottom">
        <h3 class="pad">1</h3>
    </article>
  </div>
</section>
