html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nano > .nano-content:focus {
  outline: thin dotted;
}

.nano > .nano-content::-webkit-scrollbar {
  display: none;
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}

.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  opacity: .01;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 5px;
}

.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 1px;
  border-radius: 3px;
}

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility: visible\9;
  opacity: 0.99;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: normal;
}

p {
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 1.8em;
  font-size: 0.9em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

li {
  font-size: 1em;
  line-height: 1.8em;
}

dl, dt, dd {
  font-size: 1em;
  line-height: 1.8em;
}

small {
  font-size: 65%;
  font-family: Tahoma, Geneva, sans-serif;
}

blockquote {
  line-height: 1.8em;
  padding: 1em 2em;
  font-style: italic;
  font-size: 90%;
}

q {
  display: inline-block;
  padding-left: 0.5em;
  margin-left: 0.5em;
  font-style: italic;
  font-size: 90%;
}

cite {
  display: inline-block;
  padding-left: 0.5em;
  margin-left: 0.5em;
  font-style: italic;
}

pre, code, samp, kbd {
  box-shadow: none;
}

code {
  font-family: monospace, monospace;
  font-size: 0.8em;
}

pre {
  padding: 1em 0;
  line-height: 1.5em;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em auto 1em auto;
  text-align: left;
  font-size: 0.9em;
}

thead {
  height: 2em;
}

tbody {
  height: 2em;
}

tfoot {
  height: 2em;
}

table caption {
  font-size: 80%;
  margin: 1em;
}

th {
  text-align: left;
  padding: 1em 0.8em;
}

td {
  padding: 1em 0.8em;
}

.to-right {
  float: right;
}

.to-left {
  float: left;
}

.to-center {
  text-align: center;
}

legend {
  font-size: 1.2em;
}

fieldset {
  padding: 1em 2em;
}

input[type="submit"] {
  padding: 0.5em 0.7em;
  vertical-align: middle;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

input[type="submit"]:hover {
  vertical-align: middle;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

input[type="reset"] {
  padding: 0.5em 0.7em;
  vertical-align: middle;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

input[type="reset"]:hover {
  vertical-align: middle;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

button {
  max-width: 8em;
  padding: 0.5em 0.7em;
  vertical-align: middle;
  -webkit-transition: .2s;
  transition: .2s;
}

button:hover {
  vertical-align: middle;
  -webkit-transition: .2s;
  transition: .2s;
}

.rounded {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  min-width: 100px;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  border: 1px solid;
}

.small {
  width: 25px;
  height: 25px;
}

.fill {
  width: 100%;
  text-align: center;
}

.btn {
  padding: 0.7em 0.7em;
  vertical-align: middle;
  display: inline-block;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn:hover {
  vertical-align: middle;
  -webkit-transition: .2s;
  transition: .2s;
}

.text-small {
  font-size: 0.9em;
}

.nano {
  width: 100%;
}

.nano > .nano-content {
  padding: none;
}

select {
  width: 100%;
  margin: 0.5em 0;
}

input[type="text"] {
  width: 100%;
  height: 2em;
  font-size: 1em;
  padding: 0 0.5em;
}

input[type="password"] {
  width: 100%;
  height: 2em;
  font-size: 1em;
  padding: 0 0.5em;
  letter-spacing: 3px;
}

input[type="email"] {
  width: 100%;
  height: 2em;
  font-size: 1em;
  padding: 0 0.5em;
}

textarea {
  width: 100%;
  font-size: 1em;
  padding: 0 0.5em;
  height: auto;
  min-height: 5em;
}

.size--XS {
  height: 3em;
}

.size--S {
  height: 5em;
}

.size--M {
  height: 8em;
}

.size--L {
  height: 22em;
}

.size--XL {
  height: 32em;
}

.size--XXL {
  height: 45em;
}

.fixed--top {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
}

.fixed--bottom {
  position: fixed;
  bottom: 0;
  z-index: 20;
}

.fixed--left {
  position: fixed;
  top: 0;
  z-index: 20;
}

.fixed--right {
  position: fixed;
  right: 0;
  z-index: 20;
}

.layout {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.layout--fluid {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.layout--fluid::after {
  clear: both;
  content: "";
  display: table;
}

.layout--centered {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.layout--centered::after {
  clear: both;
  content: "";
  display: table;
}

.layout__header {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  outline: none;
}

.layout__header:last-child {
  margin-right: 0;
}

.layout__subheader {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  outline: none;
}

.layout__subheader:last-child {
  margin-right: 0;
}

.layout__contentarea {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  outline: none;
}

.layout__contentarea:last-child {
  margin-right: 0;
}

.layout__content {
  float: left;
  display: block;
  width: 66.66667%;
  outline: none;
}

.layout__content:last-child {
  width: 66.66667%;
}

@media screen and (max-width: 768px) {
  .layout__content {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .layout__content:last-child {
    margin-right: 0;
  }
}

.layout__content--full {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  outline: none;
}

.layout__content--full:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .layout__content--full {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .layout__content--full:last-child {
    margin-right: 0;
  }
}

.layout__sidebar {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%;
  margin-right: 0;
  outline: none;
}

.layout__sidebar:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .layout__sidebar {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .layout__sidebar:last-child {
    margin-right: 0;
  }
}

.layout__sidebar--tiny {
  width: 4em;
  height: 100%;
  text-align: center;
  outline: none;
}

.layout__footer {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  outline: none;
}

.layout__footer:last-child {
  margin-right: 0;
}

.col--1 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 8.33333%;
  outline: none;
}

.col--1:last-child {
  margin-right: 0;
}

.col--2 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%;
  outline: none;
}

.col--2:last-child {
  margin-right: 0;
}

.col--3 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%;
  outline: none;
}

.col--3:last-child {
  margin-right: 0;
}

.col--4 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%;
  outline: none;
}

.col--4:last-child {
  margin-right: 0;
}

.col--5 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 41.66667%;
  outline: none;
}

.col--5:last-child {
  margin-right: 0;
}

.col--6 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
  outline: none;
}

.col--6:last-child {
  margin-right: 0;
}

.col--7 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 58.33333%;
  outline: none;
}

.col--7:last-child {
  margin-right: 0;
}

.col--8 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 66.66667%;
  outline: none;
}

.col--8:last-child {
  margin-right: 0;
}

.col--9 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 75%;
  outline: none;
}

.col--9:last-child {
  margin-right: 0;
}

.col--10 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 83.33333%;
  outline: none;
}

.col--10:last-child {
  margin-right: 0;
}

.col--11 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 91.66667%;
  outline: none;
}

.col--11:last-child {
  margin-right: 0;
}

.col--12 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  outline: none;
}

.col--12:last-child {
  margin-right: 0;
}

.gap--top {
  margin-top: 4em;
}

.gap--left {
  padding-left: 4em;
}

.gap--right {
  padding-right: 4em;
}

.gap--bottom {
  margin-bottom: 4em;
}

.content--center {
  text-align: center;
}

.logo--hero {
  text-align: center;
  padding-top: 7.5em;
}

.logo--centered {
  text-align: center;
  padding-top: 0.8em;
}

.pad {
  padding: 0.5em 1em 1em 1em;
}

.pad--M {
  padding: 1em 2em 2em 2em;
}

.pad--L {
  padding: 1em 3em 3em 3em;
}

.white {
  color: #FFFFFF;
}

.gray1 {
  color: #F7F7F7;
}

.gray2 {
  color: #F2F2F2;
}

.gray3 {
  color: #D3D3D3;
}

.gray4 {
  color: #B2B2B2;
}

.gray5 {
  color: #808080;
}

.gray6 {
  color: #505050;
}

.gray7 {
  color: #383838;
}

.gray8 {
  color: #242424;
}

.gray9 {
  color: #131313;
}

.black {
  color: #000000;
}

.bg--white {
  background: #FFFFFF;
}

.bg--gray1 {
  background: #F7F7F7;
}

.bg--gray2 {
  background: #F2F2F2;
}

.bg--gray3 {
  background: #D3D3D3;
}

.bg--gray4 {
  background: #B2B2B2;
  color: #505050;
}

.bg--gray5 {
  background: #808080;
  color: #FFFFFF;
}

.bg--gray6 {
  background: #505050;
  color: #FFFFFF;
}

.bg--gray7 {
  background: #383838;
  color: #FFFFFF;
}

.bg--gray8 {
  background: #242424;
  color: #FFFFFF;
}

.bg--gray9 {
  background: #131313;
  color: #FFFFFF;
}

.bg--black {
  background: #000000;
  color: #FFFFFF;
}

.gradient--dark {
  background-color: #000000;
  background-image: -webkit-linear-gradient(bottom, #000000, #323438);
  background-image: -webkit-linear-gradient(bottom, #000000, #323438, , , , , , , , );
  background-image: linear-gradient(to top,#000000, #323438, , , , , , , , );
}

.color__item {
  height: 3em;
  line-height: 3em;
  text-align: center;
  margin-bottom: 0.2em;
  border: solid 1px #D3D3D3;
}

body {
  color: #808080;
  background-color: #FFFFFF;
}

h1, h2, h3,
h4, h5, h6 {
  color: #000000;
}

p {
  color: #808080;
}

a {
  color: #000000;
}

a:hover {
  color: #808080;
}

small {
  color: inherit;
}

ul, ol, li {
  color: #808080;
}

dl, dt, dd {
  color: #808080;
}

blockquote {
  border-left: 1px solid #D3D3D3;
  color: #808080;
  background-color: #F7F7F7;
}

q {
  border-left: 1px solid #D3D3D3;
  color: #808080;
  background-color: #F7F7F7;
}

cite {
  border-left: 1px solid #D3D3D3;
  color: #808080;
  background-color: #F7F7F7;
}

pre {
  color: #808080;
  border: 1px solid #D3D3D3;
}

hr {
  border: 1px solid #F2F2F2;
}

legend {
  color: #000000;
}

fieldset {
  border: 1px solid #D3D3D3;
}

label {
  color: #000000;
}

input[type="text"] {
  border: 2px solid #D3D3D3;
  background-color: #FFFFFF;
  color: #383838;
}

input[type="text"]:disabled {
  border: 2px solid #F2F2F2;
  background-color: #F7F7F7;
  color: #808080;
}

input[type="email"] {
  border: 2px solid #D3D3D3;
  background-color: #FFFFFF;
  color: #383838;
}

input[type="password"] {
  border: 2px solid #D3D3D3;
  background-color: #FFFFFF;
  color: #383838;
}

textarea {
  border: 2px solid #D3D3D3;
  background-color: #FFFFFF;
  color: #383838;
}

input:focus,
textarea:focus {
  color: #383838;
  background-color: #FFFFFF;
  border: 2px solid #B2B2B2;
}

input[type="submit"] {
  border: none;
  background-color: #FFFFFF;
  color: #FFFFFF;
}

input[type="submit"]:hover {
  border: none;
  background-color: #FFFFFF;
  color: #FFFFFF;
}

input[type="reset"] {
  border: none;
  background-color: #808080;
  color: #FFFFFF;
}

input[type="reset"]:hover {
  border: none;
  background-color: #242424;
  color: #FFFFFF;
}

button {
  border: 1px solid #D3D3D3;
  background-color: #F7F7F7;
  color: #808080;
}

button:hover {
  border: 1px solid #808080;
  background-color: #FFFFFF;
  color: #383838;
}

.btn {
  border: 1px solid #D3D3D3;
  background-color: #F7F7F7;
  color: #808080;
}

.btn:hover {
  border: 1px solid #808080;
  background-color: #FFFFFF;
  color: #383838;
}

table {
  border: 1px solid #D3D3D3;
  color: #383838;
}

th {
  border-bottom: 1px solid #D3D3D3;
  border-top: 1px solid #D3D3D3;
  background-color: #F7F7F7;
}

td {
  border-bottom: 1px solid #D3D3D3;
  background-color: #FFFFFF;
}

thead {
  background-color: none;
}

tbody {
  background-color: none;
}

tfoot {
  background-color: none;
}

.layout {
  background-color: none;
}

.layout--fluid {
  background-color: none;
}

.layout__header {
  background-color: none;
}

.layout__subheader {
  background-color: none;
}

.layout__contentarea {
  background-color: none;
}

.layout__content {
  background-color: none;
}

.layout__content--full {
  background-color: none;
}

.layout__sidebar {
  background-color: none;
}

.layout__sidebar--tiny {
  background-color: none;
}

.layout__footer {
  background-color: none;
}

.nano > .nano-pane {
  background: #FFFFFF;
}

.nano >
.nano-pane >
.nano-slider {
  background: #D3D3D3;
}

.demo-item {
  color: #808080;
  border: 1px solid #D3D3D3;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  font-style: normal;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: Tahoma, Geneva, sans-serif;
  font-style: normal;
}

p {
  font-family: Tahoma, Geneva, sans-serif;
  font-style: normal;
}

a {
  font-style: normal;
}

small {
  font-style: normal;
}

ul, ol, li {
  font-style: normal;
}

dl, dt, dd {
  font-style: normal;
}

blockquote {
  font-style: italic;
}

q {
  font-style: italic;
}

cite {
  font-style: normal;
}

.typo-preview td {
  font-family: Tahoma, Geneva, sans-serif;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?3vly5m");
  src: url("../../fonts/icomoon.eot?#iefix3vly5m") format("embedded-opentype"), url("../../fonts/icomoon.woff?3vly5m") format("woff"), url("../../fonts/icomoon.ttf?3vly5m") format("truetype"), url("../../fonts/icomoon.svg?3vly5m#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.small {
  font-size: 1em;
}

.medium {
  font-size: 1.5em;
}

.large {
  font-size: 2.5em;
}

.xlarge {
  font-size: 3.5em;
}

.left {
  float: left;
  margin-right: 1em;
}

.right {
  float: right;
  margin-left: 1em;
}

.gutter-bottom {
  margin-bottom: 1em;
}

.demo-item {
  width: 5em;
  height: 5em;
  padding-top: 0.5em;
  display: inline-block;
  text-align: center;
  margin-bottom: 0.4em;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e000";
}

.icon-paper-clip:before {
  content: "\e001";
}

.icon-mail:before {
  content: "\e002";
}

.icon-toggle:before {
  content: "\e003";
}

.icon-layout:before {
  content: "\e004";
}

.icon-link:before {
  content: "\e005";
}

.icon-bell:before {
  content: "\e006";
}

.icon-lock:before {
  content: "\e007";
}

.icon-unlock:before {
  content: "\e008";
}

.icon-ribbon:before {
  content: "\e009";
}

.icon-image:before {
  content: "\e010";
}

.icon-signal:before {
  content: "\e011";
}

.icon-target:before {
  content: "\e012";
}

.icon-clipboard:before {
  content: "\e013";
}

.icon-clock:before {
  content: "\e014";
}

.icon-watch:before {
  content: "\e015";
}

.icon-air-play:before {
  content: "\e016";
}

.icon-camera:before {
  content: "\e017";
}

.icon-video:before {
  content: "\e018";
}

.icon-disc:before {
  content: "\e019";
}

.icon-printer:before {
  content: "\e020";
}

.icon-monitor:before {
  content: "\e021";
}

.icon-server:before {
  content: "\e022";
}

.icon-cog:before {
  content: "\e023";
}

.icon-heart:before {
  content: "\e024";
}

.icon-paragraph:before {
  content: "\e025";
}

.icon-align-justify:before {
  content: "\e026";
}

.icon-align-left:before {
  content: "\e027";
}

.icon-align-center:before {
  content: "\e028";
}

.icon-align-right:before {
  content: "\e029";
}

.icon-book:before {
  content: "\e030";
}

.icon-layers:before {
  content: "\e031";
}

.icon-stack:before {
  content: "\e032";
}

.icon-stack-2:before {
  content: "\e033";
}

.icon-paper:before {
  content: "\e034";
}

.icon-paper-stack:before {
  content: "\e035";
}

.icon-search:before {
  content: "\e036";
}

.icon-zoom-in:before {
  content: "\e037";
}

.icon-zoom-out:before {
  content: "\e038";
}

.icon-reply:before {
  content: "\e039";
}

.icon-circle-plus:before {
  content: "\e040";
}

.icon-circle-minus:before {
  content: "\e041";
}

.icon-circle-check:before {
  content: "\e042";
}

.icon-circle-cross:before {
  content: "\e043";
}

.icon-square-plus:before {
  content: "\e044";
}

.icon-square-minus:before {
  content: "\e045";
}

.icon-square-check:before {
  content: "\e046";
}

.icon-square-cross:before {
  content: "\e047";
}

.icon-microphone:before {
  content: "\e048";
}

.icon-record:before {
  content: "\e049";
}

.icon-skip-back:before {
  content: "\e050";
}

.icon-rewind:before {
  content: "\e051";
}

.icon-play:before {
  content: "\e052";
}

.icon-pause:before {
  content: "\e053";
}

.icon-stop:before {
  content: "\e054";
}

.icon-fast-forward:before {
  content: "\e055";
}

.icon-skip-forward:before {
  content: "\e056";
}

.icon-shuffle:before {
  content: "\e057";
}

.icon-repeat:before {
  content: "\e058";
}

.icon-folder:before {
  content: "\e059";
}

.icon-umbrella:before {
  content: "\e060";
}

.icon-moon:before {
  content: "\e061";
}

.icon-thermometer:before {
  content: "\e062";
}

.icon-drop:before {
  content: "\e063";
}

.icon-sun:before {
  content: "\e064";
}

.icon-cloud:before {
  content: "\e065";
}

.icon-cloud-upload:before {
  content: "\e066";
}

.icon-cloud-download:before {
  content: "\e067";
}

.icon-upload:before {
  content: "\e068";
}

.icon-download:before {
  content: "\e069";
}

.icon-location:before {
  content: "\e070";
}

.icon-location-2:before {
  content: "\e071";
}

.icon-map:before {
  content: "\e072";
}

.icon-battery:before {
  content: "\e073";
}

.icon-head:before {
  content: "\e074";
}

.icon-briefcase:before {
  content: "\e075";
}

.icon-speech-bubble:before {
  content: "\e076";
}

.icon-anchor:before {
  content: "\e077";
}

.icon-globe:before {
  content: "\e078";
}

.icon-box:before {
  content: "\e079";
}

.icon-reload:before {
  content: "\e080";
}

.icon-share:before {
  content: "\e081";
}

.icon-marquee:before {
  content: "\e082";
}

.icon-marquee-plus:before {
  content: "\e083";
}

.icon-marquee-minus:before {
  content: "\e084";
}

.icon-tag:before {
  content: "\e085";
}

.icon-power:before {
  content: "\e086";
}

.icon-command:before {
  content: "\e087";
}

.icon-alt:before {
  content: "\e088";
}

.icon-esc:before {
  content: "\e089";
}

.icon-bar-graph:before {
  content: "\e090";
}

.icon-bar-graph-2:before {
  content: "\e091";
}

.icon-pie-graph:before {
  content: "\e092";
}

.icon-star:before {
  content: "\e093";
}

.icon-arrow-left:before {
  content: "\e094";
}

.icon-arrow-right:before {
  content: "\e095";
}

.icon-arrow-up:before {
  content: "\e096";
}

.icon-arrow-down:before {
  content: "\e097";
}

.icon-volume:before {
  content: "\e098";
}

.icon-mute:before {
  content: "\e099";
}

.icon-content-right:before {
  content: "\e100";
}

.icon-content-left:before {
  content: "\e101";
}

.icon-grid:before {
  content: "\e102";
}

.icon-grid-2:before {
  content: "\e103";
}

.icon-columns:before {
  content: "\e104";
}

.icon-loader:before {
  content: "\e105";
}

.icon-bag:before {
  content: "\e106";
}

.icon-ban:before {
  content: "\e107";
}

.icon-flag:before {
  content: "\e108";
}

.icon-trash:before {
  content: "\e109";
}

.icon-expand:before {
  content: "\e110";
}

.icon-contract:before {
  content: "\e111";
}

.icon-maximize:before {
  content: "\e112";
}

.icon-minimize:before {
  content: "\e113";
}

.icon-plus:before {
  content: "\e114";
}

.icon-minus:before {
  content: "\e115";
}

.icon-check:before {
  content: "\e116";
}

.icon-cross:before {
  content: "\e117";
}

.icon-move:before {
  content: "\e118";
}

.icon-delete:before {
  content: "\e119";
}

.icon-menu:before {
  content: "\e120";
}

.icon-archive:before {
  content: "\e121";
}

.icon-inbox:before {
  content: "\e122";
}

.icon-outbox:before {
  content: "\e123";
}

.icon-file:before {
  content: "\e124";
}

.icon-file-add:before {
  content: "\e125";
}

.icon-file-subtract:before {
  content: "\e126";
}

.icon-help:before {
  content: "\e127";
}

.icon-open:before {
  content: "\e128";
}

.icon-ellipsis:before {
  content: "\e129";
}

.rounded {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  min-width: 100px;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  border: 1px solid;
}

.small {
  width: 25px;
  height: 25px;
}

.fill {
  width: 100%;
  text-align: center;
}

.btn {
  padding: 0.7em 0.7em;
  vertical-align: middle;
  display: inline-block;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn:hover {
  vertical-align: middle;
  -webkit-transition: .2s;
  transition: .2s;
}

.text-small {
  font-size: 0.9em;
}

.footer {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-top: 20px;
  background: #000000;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.footer:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .footer:last-child {
    margin-right: 0;
  }
}

.menu {
  height: 3.5em;
  margin-top: 30px;
  font-size: 0.9rem;
  border: solid 1px #383838;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .menu {
    float: left;
    display: block;
    margin-right: 0%;
    width: 66.66667%;
    margin-top: 0px;
    display: none;
  }
  .menu:last-child {
    margin-right: 0;
  }
}

.menu li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.menu ul {
  list-style: none;
  float: left;
  margin-right: 20px;
  display: inline-block;
}

.menu__social {
  margin-top: 5px;
}

.rounded {
  border-radius: 1em;
}

.rounded--top {
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.rounded--topLeft {
  border-top-left-radius: 1em;
}

.rounded--topRight {
  border-top-right-radius: 1em;
}

.rounded--bottom {
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.rounded--bottomLeft {
  border-bottom-left-radius: 1em;
}

.rounded--bottomRight {
  border-bottom-right-radius: 1em;
}
