@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nano > .nano-content:focus {
  outline: thin dotted;
}

.nano > .nano-content::-webkit-scrollbar {
  display: none;
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}

.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  opacity: .01;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 5px;
}

.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 1px;
  border-radius: 3px;
}

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility: visible\9;
  opacity: 0.99;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: normal;
  margin: 1em 0;
}

p {
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 1.5em;
  font-size: 0.9em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

li {
  font-size: 1em;
  line-height: 1.8em;
}

dl, dt, dd {
  font-size: 1em;
  line-height: 1.8em;
}

small {
  font-size: 65%;
  font-family: Tahoma, Geneva, sans-serif;
}

blockquote {
  line-height: 1.8em;
  padding: 1em 2em;
  font-style: italic;
  font-size: 90%;
}

q {
  display: inline-block;
  padding-left: 0.5em;
  margin-left: 0.5em;
  font-style: italic;
  font-size: 90%;
}

cite {
  display: inline-block;
  padding-left: 0.5em;
  margin-left: 0.5em;
  font-style: italic;
}

pre, code, samp, kbd {
  box-shadow: none;
}

code {
  font-family: monospace, monospace;
  font-size: 0.8em;
}

pre {
  padding: 1em 0;
  line-height: 1.5em;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em auto 1em auto;
  text-align: left;
  font-size: 0.9em;
}

thead {
  height: 2em;
}

tbody {
  height: 2em;
}

tfoot {
  height: 2em;
}

table caption {
  font-size: 80%;
  margin: 1em;
}

th {
  text-align: left;
  padding: 1em 0.8em;
}

td {
  padding: 1em 0.8em;
}

.to-right {
  float: right;
}

.to-left {
  float: left;
}

.to-center {
  text-align: center;
}

legend {
  font-size: 1.2em;
}

fieldset {
  padding: 1em 2em;
}

input[type="submit"] {
  padding: 0.5em 0.7em;
  vertical-align: middle;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

input[type="submit"]:hover {
  vertical-align: middle;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

input[type="reset"] {
  padding: 0.5em 0.7em;
  vertical-align: middle;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

input[type="reset"]:hover {
  vertical-align: middle;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

button {
  max-width: 8em;
  padding: 0.5em 0.7em;
  vertical-align: middle;
  -webkit-transition: .2s;
  transition: .2s;
}

button:hover {
  vertical-align: middle;
  -webkit-transition: .2s;
  transition: .2s;
}

.rounded {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  min-width: 100px;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  border: 1px solid;
}

.small {
  width: 25px;
  height: 25px;
}

.fill {
  width: 100%;
  text-align: center;
}

.btn {
  padding: 0.7em 0.7em;
  vertical-align: middle;
  display: inline-block;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn:hover {
  vertical-align: middle;
  -webkit-transition: .2s;
  transition: .2s;
}

.text-small {
  font-size: 0.9em;
}

.nano {
  width: 100%;
}

.nano > .nano-content {
  padding: none;
}

select {
  width: 100%;
  margin: 0.5em 0;
}

input[type="text"] {
  width: 100%;
  height: 2em;
  font-size: 1em;
  padding: 0 0.5em;
}

input[type="password"] {
  width: 100%;
  height: 2em;
  font-size: 1em;
  padding: 0 0.5em;
  letter-spacing: 3px;
}

input[type="email"] {
  width: 100%;
  height: 2em;
  font-size: 1em;
  padding: 0 0.5em;
}

textarea {
  width: 100%;
  font-size: 1em;
  padding: 0 0.5em;
  height: auto;
  min-height: 5em;
}

.white {
  color: #FFFFFF;
}

.gray1 {
  color: #F7F7F7;
}

.gray2 {
  color: #F2F2F2;
}

.gray3 {
  color: #D3D3D3;
}

.gray4 {
  color: #B2B2B2;
}

.gray5 {
  color: #808080;
}

.gray6 {
  color: #505050;
}

.gray7 {
  color: #383838;
}

.gray8 {
  color: #242424;
}

.gray9 {
  color: #131313;
}

.black {
  color: #000000;
}

.bg--white {
  background: #FFFFFF;
}

.bg--gray1 {
  background: #F7F7F7;
}

.bg--gray2 {
  background: #F2F2F2;
}

.bg--gray3 {
  background: #D3D3D3;
}

.bg--gray4 {
  background: #B2B2B2;
  color: #505050;
}

.bg--gray5 {
  background: #808080;
  color: #FFFFFF;
}

.bg--gray6 {
  background: #505050;
  color: #FFFFFF;
}

.bg--gray7 {
  background: #383838;
  color: #FFFFFF;
}

.bg--gray8 {
  background: #242424;
  color: #FFFFFF;
}

.bg--gray9 {
  background: #131313;
  color: #FFFFFF;
}

.bg--black {
  background: #000000;
  color: #FFFFFF;
}

.color__item {
  height: 3em;
  line-height: 3em;
  text-align: center;
  margin-bottom: 0.2em;
  border: solid 1px #D3D3D3;
}

body {
  color: #808080;
  background-color: #FFFFFF;
}

h1, h2, h3,
h4, h5, h6 {
  color: #000000;
}

p {
  color: #505050;
}

a {
  color: #000000;
}

a:hover {
  color: #808080;
}

small {
  color: inherit;
}

ul, ol, li {
  color: #808080;
}

dl, dt, dd {
  color: #808080;
}

blockquote {
  border-left: 1px solid #D3D3D3;
  color: #808080;
  background-color: #F7F7F7;
}

q {
  border-left: 1px solid #D3D3D3;
  color: #808080;
  background-color: #F7F7F7;
}

cite {
  border-left: 1px solid #D3D3D3;
  color: #808080;
  background-color: #F7F7F7;
}

pre {
  color: #808080;
  border: 1px solid #D3D3D3;
}

hr {
  border: 1px solid #F2F2F2;
}

legend {
  color: #000000;
}

fieldset {
  border: 1px solid #D3D3D3;
}

label {
  color: #000000;
}

input[type="text"] {
  border: 2px solid #D3D3D3;
  background-color: #FFFFFF;
  color: #383838;
}

input[type="text"]:disabled {
  border: 2px solid #F2F2F2;
  background-color: #F7F7F7;
  color: #808080;
}

input[type="email"] {
  border: 2px solid #D3D3D3;
  background-color: #FFFFFF;
  color: #383838;
}

input[type="password"] {
  border: 2px solid #D3D3D3;
  background-color: #FFFFFF;
  color: #383838;
}

textarea {
  border: 2px solid #D3D3D3;
  background-color: #FFFFFF;
  color: #383838;
}

input:focus,
textarea:focus {
  color: #383838;
  background-color: #FFFFFF;
  border: 2px solid #B2B2B2;
}

input[type="submit"] {
  border: none;
  background-color: #FFFFFF;
  color: #FFFFFF;
}

input[type="submit"]:hover {
  border: none;
  background-color: #FFFFFF;
  color: #FFFFFF;
}

input[type="reset"] {
  border: none;
  background-color: #808080;
  color: #FFFFFF;
}

input[type="reset"]:hover {
  border: none;
  background-color: #242424;
  color: #FFFFFF;
}

button {
  border: 1px solid #D3D3D3;
  background-color: #F7F7F7;
  color: #808080;
}

button:hover {
  border: 1px solid #808080;
  background-color: #FFFFFF;
  color: #383838;
}

.btn {
  border: 1px solid #D3D3D3;
  background-color: #F7F7F7;
  color: #808080;
}

.btn:hover {
  border: 1px solid #808080;
  background-color: #FFFFFF;
  color: #383838;
}

.btn-dark {
  border: 2px solid #383838;
  background-color: #131313;
  color: #B2B2B2;
}

.btn-dark:hover {
  border: 2px solid #808080;
  background-color: #000000;
  color: #FFFFFF;
}

table {
  border: 1px solid #D3D3D3;
  color: #383838;
}

th {
  border-bottom: 1px solid #D3D3D3;
  border-top: 1px solid #D3D3D3;
  background-color: #F7F7F7;
}

td {
  border-bottom: 1px solid #D3D3D3;
  background-color: #FFFFFF;
}

thead {
  background-color: none;
}

tbody {
  background-color: none;
}

tfoot {
  background-color: none;
}

.layout {
  background-color: none;
}

.layout--fluid {
  background-color: none;
}

.layout__header {
  background-color: none;
}

.layout__subheader {
  padding: 1em 2em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  background: -webkit-linear-gradient(top, #242424, #000000);
  background: linear-gradient(to bottom, #242424, #000000);
}

.layout__subheader h2 {
  color: #808080;
  text-transform: uppercase;
  font-size: 2em;
}

.layout__contentarea {
  background-color: none;
}

.layout__content {
  background-color: #FFFFFF;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.layout__content h4 {
  background: #242424;
  color: #FFFFFF;
  padding: 0.7em 0 0.7em 1em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.layout__content--full {
  background-color: none;
}

.layout__sidebar {
  background: #242424;
  padding-bottom: 2em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.layout__sidebar h3 {
  color: #F2F2F2;
}

.layout__sidebar a {
  color: #808080;
}

.panel-title {
  background: -webkit-linear-gradient(top, #242424, #131313);
  background: linear-gradient(to bottom, #242424, #131313);
  line-height: 3em;
  text-transform: uppercase;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.panel-title h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.layout__sidebar--tiny {
  background-color: none;
}

.layout__footer {
  margin-top: 2em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background: #242424;
}

body {
  background: #000000 url("../../images/bg-body.jpg") no-repeat fixed center center;
}

@media screen and (max-width: 768px) {
  body {
    background: none;
    background-color: #131313;
  }
}

.nano > .nano-pane {
  background: #FFFFFF;
}

.nano >
.nano-pane >
.nano-slider {
  background: #D3D3D3;
}

.demo-item {
  color: #808080;
  border: 1px solid #D3D3D3;
}

.size--XS {
  height: 3em;
}

.size--S {
  height: 5em;
}

.size--M {
  height: 9em;
}

.size--L {
  height: 22em;
}

.size--XL {
  height: 32em;
}

.size--XXL {
  height: 45em;
}

.fixed--top {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
}

.fixed--bottom {
  position: fixed;
  bottom: 0;
  z-index: 20;
}

.fixed--left {
  position: fixed;
  top: 0;
  z-index: 20;
}

.fixed--right {
  position: fixed;
  right: 0;
  z-index: 20;
}

.hide {
  display: none;
}

.layout {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.layout--fluid {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.layout--fluid::after {
  clear: both;
  content: "";
  display: table;
}

.layout--centered {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.layout--centered::after {
  clear: both;
  content: "";
  display: table;
}

.layout__header {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  outline: none;
}

.layout__header:last-child {
  margin-right: 0;
}

.layout__subheader {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  outline: none;
}

.layout__subheader:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .layout__subheader {
    display: none;
  }
}

.layout__contentarea {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  outline: none;
}

.layout__contentarea:last-child {
  margin-right: 0;
}

.layout__content {
  float: left;
  display: block;
  width: 66.66667%;
  outline: none;
}

.layout__content:last-child {
  width: 66.66667%;
}

@media screen and (max-width: 768px) {
  .layout__content {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .layout__content:last-child {
    margin-right: 0;
  }
}

.layout__content--full {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  outline: none;
}

.layout__content--full:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .layout__content--full {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .layout__content--full:last-child {
    margin-right: 0;
  }
}

.layout__sidebar {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%;
  margin-right: 0;
  outline: none;
}

.layout__sidebar:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .layout__sidebar {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .layout__sidebar:last-child {
    margin-right: 0;
  }
}

.layout__sidebar--tiny {
  width: 4em;
  height: 100%;
  text-align: center;
  outline: none;
}

.layout__footer {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  outline: none;
}

.layout__footer:last-child {
  margin-right: 0;
}

.col--1 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 8.33333%;
  outline: none;
}

.col--1:last-child {
  margin-right: 0;
}

.col--2 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%;
  outline: none;
}

.col--2:last-child {
  margin-right: 0;
}

.col--3 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%;
  outline: none;
}

.col--3:last-child {
  margin-right: 0;
}

.col--4 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%;
  outline: none;
}

.col--4:last-child {
  margin-right: 0;
}

.col--5 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 41.66667%;
  outline: none;
}

.col--5:last-child {
  margin-right: 0;
}

.col--6 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
  outline: none;
}

.col--6:last-child {
  margin-right: 0;
}

.col--7 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 58.33333%;
  outline: none;
}

.col--7:last-child {
  margin-right: 0;
}

.col--8 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 66.66667%;
  outline: none;
}

.col--8:last-child {
  margin-right: 0;
}

.col--9 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 75%;
  outline: none;
}

.col--9:last-child {
  margin-right: 0;
}

.col--10 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 83.33333%;
  outline: none;
}

.col--10:last-child {
  margin-right: 0;
}

.col--11 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 91.66667%;
  outline: none;
}

.col--11:last-child {
  margin-right: 0;
}

.col--12 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  outline: none;
}

.col--12:last-child {
  margin-right: 0;
}

.gap--top {
  margin-top: 4em;
}

.gap--left {
  padding-left: 4em;
}

.gap--right {
  padding-right: 4em;
}

.gap--bottom {
  margin-bottom: 4em;
}

.content--center {
  text-align: center;
}

.logo--hero {
  text-align: center;
  padding-top: 7.5em;
}

.logo--centered {
  text-align: center;
  padding-top: 0.8em;
}

.pad {
  padding: 0.5em 1em 1em 1em;
}

.pad--M {
  padding: 1em 2em 2em 2em;
}

.pad--L {
  padding: 1em 3em 3em 3em;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  font-style: normal;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: Tahoma, Geneva, sans-serif;
  font-style: normal;
}

p {
  font-family: Tahoma, Geneva, sans-serif;
  font-style: normal;
}

a {
  font-style: normal;
}

small {
  font-style: normal;
}

ul, ol, li {
  font-style: normal;
}

dl, dt, dd {
  font-style: normal;
}

blockquote {
  font-style: italic;
}

q {
  font-style: italic;
}

cite {
  font-style: normal;
}

.typo-preview td {
  font-family: Tahoma, Geneva, sans-serif;
}

@font-face {
  font-family: 'AldoPC';
  src: url("../../fonts/AldoPC.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswald_regularregular';
  src: url("../../fonts/oswald-regular-webfont.eot");
  src: url("../../fonts/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/oswald-regular-webfont.woff2") format("woff2"), url("../../fonts/oswald-regular-webfont.woff") format("woff"), url("../../fonts/oswald-regular-webfont.ttf") format("truetype"), url("../../fonts/oswald-regular-webfont.svg#oswald_regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  font-style: normal;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'oswald_regularregular', Tahoma, Geneva, sans-serif;
}

p {
  font-family: Tahoma, Geneva, sans-serif;
  font-style: normal;
}

a {
  font-family: AldoPC, Tahoma, sans-serif;
}

a {
  font-family: Tahoma, sans-serif;
  font-style: normal;
}

small {
  font-style: normal;
}

ul, ol, li {
  font-family: AldoPC, Tahoma, sans-serif;
  font-style: normal;
}

dl, dt, dd {
  font-style: normal;
}

blockquote {
  font-style: italic;
}

q {
  font-style: italic;
}

cite {
  font-style: normal;
}

nav li a {
  font-family: 'oswald_regularregular', Tahoma, Geneva, sans-serif;
}

.nav a {
  font-family: 'oswald_regularregular', Tahoma, Geneva, sans-serif;
}

.typo-preview td {
  font-family: Tahoma, Geneva, sans-serif;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?3vly5m");
  src: url("../../fonts/icomoon.eot?#iefix3vly5m") format("embedded-opentype"), url("../../fonts/icomoon.woff?3vly5m") format("woff"), url("../../fonts/icomoon.ttf?3vly5m") format("truetype"), url("../../fonts/icomoon.svg?3vly5m#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.small {
  font-size: 1em;
}

.medium {
  font-size: 1.5em;
}

.large {
  font-size: 2.5em;
}

.xlarge {
  font-size: 3.5em;
}

.left {
  float: left;
  margin-right: 1em;
}

.right {
  float: right;
  margin-left: 1em;
}

.gutter-bottom {
  margin-bottom: 1em;
}

.demo-item {
  width: 5em;
  height: 5em;
  padding-top: 0.5em;
  display: inline-block;
  text-align: center;
  margin-bottom: 0.4em;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e000";
}

.icon-paper-clip:before {
  content: "\e001";
}

.icon-mail:before {
  content: "\e002";
}

.icon-toggle:before {
  content: "\e003";
}

.icon-layout:before {
  content: "\e004";
}

.icon-link:before {
  content: "\e005";
}

.icon-bell:before {
  content: "\e006";
}

.icon-lock:before {
  content: "\e007";
}

.icon-unlock:before {
  content: "\e008";
}

.icon-ribbon:before {
  content: "\e009";
}

.icon-image:before {
  content: "\e010";
}

.icon-signal:before {
  content: "\e011";
}

.icon-target:before {
  content: "\e012";
}

.icon-clipboard:before {
  content: "\e013";
}

.icon-clock:before {
  content: "\e014";
}

.icon-watch:before {
  content: "\e015";
}

.icon-air-play:before {
  content: "\e016";
}

.icon-camera:before {
  content: "\e017";
}

.icon-video:before {
  content: "\e018";
}

.icon-disc:before {
  content: "\e019";
}

.icon-printer:before {
  content: "\e020";
}

.icon-monitor:before {
  content: "\e021";
}

.icon-server:before {
  content: "\e022";
}

.icon-cog:before {
  content: "\e023";
}

.icon-heart:before {
  content: "\e024";
}

.icon-paragraph:before {
  content: "\e025";
}

.icon-align-justify:before {
  content: "\e026";
}

.icon-align-left:before {
  content: "\e027";
}

.icon-align-center:before {
  content: "\e028";
}

.icon-align-right:before {
  content: "\e029";
}

.icon-book:before {
  content: "\e030";
}

.icon-layers:before {
  content: "\e031";
}

.icon-stack:before {
  content: "\e032";
}

.icon-stack-2:before {
  content: "\e033";
}

.icon-paper:before {
  content: "\e034";
}

.icon-paper-stack:before {
  content: "\e035";
}

.icon-search:before {
  content: "\e036";
}

.icon-zoom-in:before {
  content: "\e037";
}

.icon-zoom-out:before {
  content: "\e038";
}

.icon-reply:before {
  content: "\e039";
}

.icon-circle-plus:before {
  content: "\e040";
}

.icon-circle-minus:before {
  content: "\e041";
}

.icon-circle-check:before {
  content: "\e042";
}

.icon-circle-cross:before {
  content: "\e043";
}

.icon-square-plus:before {
  content: "\e044";
}

.icon-square-minus:before {
  content: "\e045";
}

.icon-square-check:before {
  content: "\e046";
}

.icon-square-cross:before {
  content: "\e047";
}

.icon-microphone:before {
  content: "\e048";
}

.icon-record:before {
  content: "\e049";
}

.icon-skip-back:before {
  content: "\e050";
}

.icon-rewind:before {
  content: "\e051";
}

.icon-play:before {
  content: "\e052";
}

.icon-pause:before {
  content: "\e053";
}

.icon-stop:before {
  content: "\e054";
}

.icon-fast-forward:before {
  content: "\e055";
}

.icon-skip-forward:before {
  content: "\e056";
}

.icon-shuffle:before {
  content: "\e057";
}

.icon-repeat:before {
  content: "\e058";
}

.icon-folder:before {
  content: "\e059";
}

.icon-umbrella:before {
  content: "\e060";
}

.icon-moon:before {
  content: "\e061";
}

.icon-thermometer:before {
  content: "\e062";
}

.icon-drop:before {
  content: "\e063";
}

.icon-sun:before {
  content: "\e064";
}

.icon-cloud:before {
  content: "\e065";
}

.icon-cloud-upload:before {
  content: "\e066";
}

.icon-cloud-download:before {
  content: "\e067";
}

.icon-upload:before {
  content: "\e068";
}

.icon-download:before {
  content: "\e069";
}

.icon-location:before {
  content: "\e070";
}

.icon-location-2:before {
  content: "\e071";
}

.icon-map:before {
  content: "\e072";
}

.icon-battery:before {
  content: "\e073";
}

.icon-head:before {
  content: "\e074";
}

.icon-briefcase:before {
  content: "\e075";
}

.icon-speech-bubble:before {
  content: "\e076";
}

.icon-anchor:before {
  content: "\e077";
}

.icon-globe:before {
  content: "\e078";
}

.icon-box:before {
  content: "\e079";
}

.icon-reload:before {
  content: "\e080";
}

.icon-share:before {
  content: "\e081";
}

.icon-marquee:before {
  content: "\e082";
}

.icon-marquee-plus:before {
  content: "\e083";
}

.icon-marquee-minus:before {
  content: "\e084";
}

.icon-tag:before {
  content: "\e085";
}

.icon-power:before {
  content: "\e086";
}

.icon-command:before {
  content: "\e087";
}

.icon-alt:before {
  content: "\e088";
}

.icon-esc:before {
  content: "\e089";
}

.icon-bar-graph:before {
  content: "\e090";
}

.icon-bar-graph-2:before {
  content: "\e091";
}

.icon-pie-graph:before {
  content: "\e092";
}

.icon-star:before {
  content: "\e093";
}

.icon-arrow-left:before {
  content: "\e094";
}

.icon-arrow-right:before {
  content: "\e095";
}

.icon-arrow-up:before {
  content: "\e096";
}

.icon-arrow-down:before {
  content: "\e097";
}

.icon-volume:before {
  content: "\e098";
}

.icon-mute:before {
  content: "\e099";
}

.icon-content-right:before {
  content: "\e100";
}

.icon-content-left:before {
  content: "\e101";
}

.icon-grid:before {
  content: "\e102";
}

.icon-grid-2:before {
  content: "\e103";
}

.icon-columns:before {
  content: "\e104";
}

.icon-loader:before {
  content: "\e105";
}

.icon-bag:before {
  content: "\e106";
}

.icon-ban:before {
  content: "\e107";
}

.icon-flag:before {
  content: "\e108";
}

.icon-trash:before {
  content: "\e109";
}

.icon-expand:before {
  content: "\e110";
}

.icon-contract:before {
  content: "\e111";
}

.icon-maximize:before {
  content: "\e112";
}

.icon-minimize:before {
  content: "\e113";
}

.icon-plus:before {
  content: "\e114";
}

.icon-minus:before {
  content: "\e115";
}

.icon-check:before {
  content: "\e116";
}

.icon-cross:before {
  content: "\e117";
}

.icon-move:before {
  content: "\e118";
}

.icon-delete:before {
  content: "\e119";
}

.icon-menu:before {
  content: "\e120";
}

.icon-archive:before {
  content: "\e121";
}

.icon-inbox:before {
  content: "\e122";
}

.icon-outbox:before {
  content: "\e123";
}

.icon-file:before {
  content: "\e124";
}

.icon-file-add:before {
  content: "\e125";
}

.icon-file-subtract:before {
  content: "\e126";
}

.icon-help:before {
  content: "\e127";
}

.icon-open:before {
  content: "\e128";
}

.icon-ellipsis:before {
  content: "\e129";
}

.rounded {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  min-width: 100px;
}

.circle {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  padding-top: 0.2em;
}

.small {
  width: 25px;
  height: 25px;
}

.fill {
  width: 100%;
  text-align: center;
}

.btn {
  padding: 0.7em 0.7em;
  vertical-align: middle;
  display: inline-block;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn:hover {
  vertical-align: middle;
  -webkit-transition: .2s;
  transition: .2s;
}

.text-small {
  font-size: 0.9em;
}

.content-image {
  width: 100%;
}

.content-image img {
  border-top-right-radius: 2em;
  height: auto;
}

@media screen and (max-width: 768px) {
  .content-image img {
    border-top-right-radius: 0em;
    border-top-left-radius: 0em;
    height: auto;
  }
}

.content-title {
  padding: 0 2em;
  font-size: 0.8em;
}

@media screen and (max-width: 768px) {
  .content-title {
    padding: 0 1.5em;
  }
}

.content-body {
  padding: 0 2em;
}

@media screen and (max-width: 768px) {
  .content-body {
    padding: 0 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .content-body p {
    font-size: 1em;
    line-height: 1.5em;
  }
}

.banner img {
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .banner img {
    width: 100%;
    height: auto;
    margin-top: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 50px;
  }
}

.header__mobile {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 999999;
  width: 100%;
  display: none;
  background: #242424;
}

.header__mobile:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .header__mobile {
    display: block;
  }
}

.logo-mobile {
  padding-left: 0.5em;
  padding-top: 0.1em;
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%;
}

.logo-mobile:last-child {
  margin-right: 0;
}

.logo-mobile img {
  width: 2.8em;
}

.header__mobile--title {
  float: left;
  display: block;
  margin-right: 0%;
  width: 66.66667%;
  text-align: center;
}

.header__mobile--title:last-child {
  margin-right: 0;
}

.header__mobile--title h2 {
  margin: 0;
  margin-top: 0.8em;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #D3D3D3;
}

.offcanvas-panel-show {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%;
  height: 50px;
  text-align: right;
}

.offcanvas-panel-show:last-child {
  margin-right: 0;
}

.offcanvas-panel-button {
  width: 50px;
  height: 50px;
  text-align: center;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  background: #000000;
  border: 1px solid #000000;
  color: #FFFFFF;
}

.offcanvas-panel-close {
  cursor: pointer;
  height: 50px;
  width: 50px;
  padding-top: 0.6em;
  text-align: center;
  background: #383838;
  color: #FFFFFF;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

.offcanvas-panel-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  height: 100%;
  width: 250px;
  -webkit-transform: translateX(250px);
  -ms-transform: translateX(250px);
  transform: translateX(250px);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #131313;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  z-index: 999999;
}

.offcanvas-panel-content.is-visible {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.offcanvas-panel-content nav ul {
  padding-left: 0;
  text-transform: uppercase;
}

.offcanvas-panel-content nav li {
  list-style: none;
  line-height: 3.5em;
  padding-left: 2.5em;
  border-bottom: 1px solid #242424;
  color: #B2B2B2;
}

.offcanvas-panel-content nav a {
  color: #B2B2B2;
}

.offcanvas-panel-content .social-bar {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.offcanvas-panel-content .social-bar a {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.offcanvas-panel-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}

.offcanvas-panel-fade-screen.is-visible {
  opacity: 0.4;
  visibility: visible;
}

.no-scroll {
  overflow: hidden;
}

.logo {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%;
  padding: 0.5em;
}

.logo:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
}

.logo img {
  margin: 0.8em 0 0 1em;
  width: 70%;
}

@media screen and (max-width: 768px) {
  .logo img {
    width: 3.4em;
  }
}

.top-menu-item {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

.submenu {
  z-index: 999999;
}

.social-links {
  float: left;
}

.menu-mobile {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
  height: 3em;
  background: #131313;
}

@media screen and (max-width: 768px) {
  .menu-mobile {
    height: 50px;
    background: #505050;
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    margin-top: 0px;
  }
  .menu-mobile:last-child {
    margin-right: 0;
  }
}

.main-navigation {
  float: left;
  display: block;
  margin-right: 0%;
  width: 83.33333%;
  z-index: 999;
}

.main-navigation:last-child {
  margin-right: 0;
}

.main-navigation .navigation-menu-button {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  float: right;
  line-height: 3em;
  margin: 0;
  padding-right: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 53.75em) {
  .main-navigation .navigation-menu-button {
    display: none;
  }
}

.main-navigation .navigation-menu-button:focus,
.main-navigation .navigation-menu-button:hover {
  background: #383838;
  color: white;
}

.main-navigation nav {
  float: none;
  min-height: 60px;
  z-index: 9999999;
}

@media screen and (min-width: 53.75em) {
  .main-navigation nav {
    float: left;
  }
}

.main-navigation ul.navigation-menu {
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}

.main-navigation ul.navigation-menu.show {
  display: block;
}

@media screen and (min-width: 53.75em) {
  .main-navigation ul.navigation-menu {
    display: inline;
    margin: 0;
    padding: 0;
  }
}

.main-navigation ul li.nav-link {
  display: block;
  line-height: 3em;
  overflow: hidden;
  text-align: right;
  width: 100%;
  z-index: 9999;
}

@media screen and (min-width: 53.75em) {
  .main-navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 3em;
    text-decoration: none;
    width: auto;
  }
}

.main-navigation ul li.nav-link a {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  text-decoration: none;
}

@media screen and (min-width: 53.75em) {
  .main-navigation ul li.nav-link a {
    padding-right: 1.2em;
    padding-left: 1.2em;
  }
}

.main-navigation ul li.nav-link a:focus,
.main-navigation ul li.nav-link a:hover {
  color: white;
}

.main-navigation .active-nav-item a {
  padding-bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF !important;
}

.main-navigation li.more.nav-link {
  padding-right: 0;
}

@media screen and (min-width: 53.75em) {
  .main-navigation li.more.nav-link {
    padding-right: 1em;
  }
}

.main-navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}

.main-navigation li.more.nav-link a {
  margin-right: 0;
}

.main-navigation li.more.nav-link > a {
  padding-right: 0.6em;
}

.main-navigation li.more.nav-link > a:after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  content: '\25BE';
  color: rgba(255, 255, 255, 0.7);
}

.main-navigation li.more {
  overflow: visible;
  padding-right: 0;
}

.main-navigation li.more a {
  padding-right: 0.8em;
}

.main-navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}

@media screen and (min-width: 53.75em) {
  .main-navigation li.more > a {
    margin-right: 1em;
  }
}

.main-navigation li.more > a:after {
  content: '›';
  font-size: 1em;
  position: absolute;
  right: 0.5em;
}

.main-navigation li.more:focus > .submenu,
.main-navigation li.more:hover > .submenu {
  display: block;
}

@media screen and (min-width: 53.75em) {
  .main-navigation li.more {
    padding-right: 0.8em;
    position: relative;
  }
}

.main-navigation ul.submenu {
  display: none;
  padding-left: 0;
}

@media screen and (min-width: 53.75em) {
  .main-navigation ul.submenu {
    left: 0;
    position: absolute;
    top: 2em;
  }
}

@media screen and (min-width: 53.75em) {
  .main-navigation ul.submenu .submenu {
    left: 11.8em;
    top: 0;
  }
}

.main-navigation ul.submenu li {
  display: block;
  padding-right: 0;
}

@media screen and (min-width: 53.75em) {
  .main-navigation ul.submenu li {
    line-height: 46.15385px;
  }
  .main-navigation ul.submenu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .main-navigation ul.submenu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 0.7em;
  }
}

.main-navigation ul.submenu li a {
  background-color: #242424;
  display: inline-block;
  text-align: right;
  width: 100%;
}

@media screen and (min-width: 53.75em) {
  .main-navigation ul.submenu li a {
    background-color: #242424;
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}

.main-navigation .navigation-tools {
  clear: both;
  display: block;
  height: 3em;
}

@media screen and (min-width: 53.75em) {
  .main-navigation .navigation-tools {
    background: transparent;
    clear: none;
    float: right;
  }
}

.main-navigation .social-bar {
  float: left;
  padding: 0.1em 0.85em 0.7em 0.6em;
  width: 40%;
}

.main-navigation .social-bar form {
  position: relative;
}

.main-navigation .social-bar form input[type=search] {
  background: #404040;
  border: 1px solid #262626;
  border-radius: 6px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9em;
  font-style: italic;
  margin: 0;
  padding: 0.5em 0.8em;
  width: 100%;
}

@media screen and (min-width: 53.75em) {
  .main-navigation .social-bar form input[type=search] {
    width: 100%;
  }
}

.main-navigation .social-bar form button[type=submit] {
  background: #404040;
  border: none;
  bottom: 0.3em;
  left: auto;
  outline: none;
  padding: 0 9px;
  position: absolute;
  right: 0.3em;
  top: 0.3em;
}

.main-navigation .social-bar form button[type=submit] img {
  height: 12px;
  opacity: 0.7;
  padding: 1px;
}

@media screen and (min-width: 53.75em) {
  .main-navigation .social-bar {
    display: inline-block;
    position: relative;
    width: 11em;
  }
  .main-navigation .social-bar input {
    box-sizing: border-box;
    display: block;
  }
}

.main-navigation {
  text-transform: uppercase;
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 30%, rgba(178, 178, 178, 0.3) 90%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 30%, rgba(178, 178, 178, 0.3) 90%);
  box-shadow: 0 2px 4px black;
  border: solid 1px #505050;
  margin-top: 2.5em;
  height: 3em;
  padding-left: 1em;
  float: left;
  display: block;
  margin-right: 0%;
  width: 83.33333%;
}

.main-navigation:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .main-navigation {
    display: none;
  }
}

.main-navigation li a {
  font-size: 0.85em;
  font-weight: normal;
}

.sub-navigation {
  background: #383838;
  color: #B2B2B2;
  height: 3em;
  font-size: 0.9em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .sub-navigation {
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    width: 100%;
  }
}

.sub-navigation ul {
  padding: 0;
  overflow: auto;
  margin: 0;
}

.sub-navigation li {
  float: left;
  list-style: none;
  padding: 0.5em 0.8em;
}

.sub-navigation a {
  padding: 0.5em 0.8em;
  color: #B2B2B2;
}

.sub-navigation a:hover {
  color: #FFFFFF;
}

.sub-navigation .active {
  background: #000000;
  color: #FFFFFF;
}

.listview {
  padding-left: 0;
}

.listview h3 {
  font-size: 1em;
  line-height: 1.2em;
  display: inline;
}

.listview li a {
  display: block;
  width: 100%;
  height: 100%;
}

.listview li a h3 {
  color: #B2B2B2;
}

.listview li img {
  float: left;
  display: inline;
  height: 50px;
  width: 50px;
  margin: 0 1em 0 0.4em;
}

.listview li {
  padding: 10px;
  overflow: auto;
  border-bottom: 1px solid #383838;
  padding-right: 1em;
  display: block;
  width: 100%;
  height: 100%;
}

.listview li:hover {
  background: #383838;
  cursor: pointer;
  color: #FFFFFF;
}

.listview a h3:hover {
  color: #FFFFFF;
}

.cards {
  background: #242424;
  overflow: auto;
  padding: 1em;
}

@media screen and (max-width: 768px) {
  .cards {
    padding: 0.5em;
  }
}

.card {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  background: #000000;
  border: 1px solid #383838;
  margin: 0.5em 0;
  display: table;
}

.card:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .card {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card:last-child {
    margin-right: 0;
  }
}

.card-image, .card-summary {
  display: table-cell;
  vertical-align: top;
}

@media screen and (max-width: 768px) {
  .card-image, .card-summary {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .card-image:last-child, .card-summary:last-child {
    margin-right: 0;
  }
}

.card-image img {
  margin: 1em 0.5em 1em 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

@media screen and (max-width: 768px) {
  .card-image img {
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .card-image img:last-child {
    margin-right: 0;
  }
}

.card-summary {
  padding: 0 0.5em 0 1em;
}

.card-summary h3 {
  margin-bottom: 0;
  color: #D3D3D3;
}

.card-summary p {
  font-size: 0.8em;
  line-height: 1.4em;
  margin-bottom: 2em;
  color: #808080;
}

.card a {
  color: #D3D3D3;
  display: block;
  overflow: auto;
}

.card a:hover {
  color: #F2F2F2;
  background: #383838;
  cursor: pointer;
}

.card-footer {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  display: block;
}

.card-footer:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .card-footer {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .card-footer:last-child {
    margin-right: 0;
  }
}

.card-course {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  padding-bottom: 2em;
  display: block;
}

.card-course:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .card-course {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .card-course:last-child {
    margin-right: 0;
  }
}

.card-course-image {
  float: left;
  display: block;
  margin-right: 0%;
  width: 37.5%;
}

.card-course-image:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .card-course-image {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .card-course-image:last-child {
    margin-right: 0;
  }
}

.card-course-image img {
  width: 100%;
}

.card-course-summary {
  float: left;
  display: block;
  margin-right: 0%;
  width: 62.5%;
  font-size: 0.9em;
  padding-left: 1em;
}

.card-course-summary:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .card-course-summary {
    padding-left: 0;
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .card-course-summary:last-child {
    margin-right: 0;
  }
}

.card-course-summary ul {
  padding-left: 0;
  list-style: none;
}

.card-course-footer {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
}

.card-course-footer:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .card-course-footer {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .card-course-footer:last-child {
    margin-right: 0;
  }
}

.btn-medium {
  float: left;
  display: block;
  margin-right: 0%;
  width: 37.5%;
  height: 50px;
  font-family: AldoPC;
  font-size: 1em;
  margin-right: 20px;
  padding-left: 20px;
  line-height: 50px;
  color: #323438;
  border-radius: 10px;
  border: 2px solid #DCDCDC;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  background: #F5F5F5;
  display: inline-block;
  text-transform: uppercase;
}

.btn-medium:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .btn-medium {
    font-size: 0.8em;
    float: left;
    display: block;
    margin-right: 0%;
    width: 41.66667%;
  }
  .btn-medium:last-child {
    margin-right: 0;
  }
}

.btn-medium:hover {
  background: #000000;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-content {
  float: left;
  display: block;
  margin-right: 0%;
  width: 62.5%;
  height: 50px;
  font-family: AldoPC;
  font-size: 1em;
  margin-right: 10px;
  padding-left: 20px;
  line-height: 50px;
  color: #323438;
  border-radius: 10px;
  border: 2px solid #DCDCDC;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  background: #F5F5F5;
  display: inline-block;
  text-transform: uppercase;
}

.btn-content:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .btn-content {
    font-size: 0.8em;
    float: left;
    display: block;
    margin-right: 0%;
    width: 58.33333%;
  }
  .btn-content:last-child {
    margin-right: 0;
  }
}

.btn-content:hover {
  background: #000000;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-medium-detail {
  font-family: AldoPC;
  font-size: 1em;
  width: 150px;
  height: 50px;
  margin-top: 3px;
  padding-left: 20px;
  line-height: 50px;
  color: #DCDCDC;
  border-radius: 10px;
  border: 2px solid  #707070;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  background: #000000;
  display: inline-block;
  text-transform: uppercase;
}

.btn-medium-detail:hover {
  background: #323438;
  color: #fff;
  border: 2px solid #4E9CD5;
  -webkit-transition: .2s;
  transition: .2s;
}

.title-detail-cursos {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  height: 80px;
  padding: 10px 5px 10px 30px;
  background: #000;
  margin-bottom: 1em;
  display: block;
  font-family: AldoPC;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title-detail-cursos:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .title-detail-cursos {
    font-size: 0.8em;
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .title-detail-cursos:last-child {
    margin-right: 0;
  }
}

.title-detail-cursos h2 {
  display: inline-block;
}

.item-title {
  font-weight: normal;
}

#summary-corto p {
  display: inline;
}

#summary-corto {
  margin-bottom: 10px;
}

.pages {
  overflow: hidden;
  background-color: #1A1A1A;
  height: 50px;
  height: 50px;
  clear: both;
  color: #1A1A1A;
  text-align: center;
}

.pages .inside {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  text-align: center;
}

.pages a {
  background: #000000;
  color: #7a7b77;
  display: block;
  float: left;
  height: 35px;
  line-height: 35px;
  margin: 5px;
  width: 35px;
}

.pages a:hover {
  background: #383838;
  color: #F2F2F2;
}

.pages a.selected {
  background: #3C3C3C;
  color: #ffffff;
}

.pages a.aimg {
  background-image: none !important;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  padding-left: 8px;
}

#bread {
  width: 237px;
  height: 51px;
  margin-left: auto;
  margin-right: auto;
}

.return {
  background: #131313;
  line-height: 3em;
  padding-left: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

@media screen and (max-width: 768px) {
  .return {
    line-height: 3em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .return:last-child {
    margin-right: 0;
  }
}

.return a {
  color: #D3D3D3;
  width: 100%;
  height: 3em;
}
