html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nano > .nano-content:focus {
  outline: thin dotted;
}

.nano > .nano-content::-webkit-scrollbar {
  display: none;
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}

.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  opacity: .01;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 5px;
}

.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 1px;
  border-radius: 3px;
}

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility: visible\9;
  opacity: 0.99;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main, header, section, footer {
  overflow: auto;
}

.white {
  color: #FFFFFF;
}

.gray1 {
  color: #F7F7F7;
}

.gray2 {
  color: #F2F2F2;
}

.gray3 {
  color: #D3D3D3;
}

.gray4 {
  color: #B2B2B2;
}

.gray5 {
  color: #808080;
}

.gray6 {
  color: #505050;
}

.gray7 {
  color: #383838;
}

.gray8 {
  color: #242424;
}

.gray9 {
  color: #131313;
}

.black {
  color: #000000;
}

.bg--white {
  background: #FFFFFF;
}

.bg--gray1 {
  background: #F7F7F7;
}

.bg--gray2 {
  background: #F2F2F2;
}

.bg--gray3 {
  background: #D3D3D3;
}

.bg--gray4 {
  background: #B2B2B2;
  color: #505050;
}

.bg--gray5 {
  background: #808080;
  color: #FFFFFF;
}

.bg--gray6 {
  background: #505050;
  color: #FFFFFF;
}

.bg--gray7 {
  background: #383838;
  color: #FFFFFF;
}

.bg--gray8 {
  background: #242424;
  color: #FFFFFF;
}

.bg--gray9 {
  background: #131313;
  color: #FFFFFF;
}

.bg--black {
  background: #000000;
  color: #FFFFFF;
}

.size-xs {
  height: 3em;
}

.size-s {
  height: 5em;
}

.size-m {
  height: 9em;
}

.size-l {
  height: 22em;
}

.size-xl {
  height: 32em;
}

.size-xxl {
  height: 45em;
}

.layout {
  overflow: auto;
}

.layout-header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}

.layout-header:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .layout-header {
    background: #000000;
  }
}

.layout-main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}

.layout-main:last-child {
  margin-right: 0;
}

.layout-footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #242424;
  text-align: center;
  padding: 2em 1em;
}

.layout-footer:last-child {
  margin-right: 0;
}

.content-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}

.content-row:last-child {
  margin-right: 0;
}

.content-center {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.content-center::after {
  clear: both;
  content: "";
  display: block;
}

.hero {
  background: #D3D3D3;
  background-size: none;
  text-align: center;
  height: 32em;
}

@media screen and (max-width: 768px) {
  .hero {
    height: auto;
  }
}

.hero-content {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 7em 8em 3em 8em;
}

.hero-content::after {
  clear: both;
  content: "";
  display: block;
}

@media screen and (max-width: 768px) {
  .hero-content {
    padding: 3em 2em 7em 2em;
  }
}

.summary {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin: 0.5em 0;
  background: #F7F7F7;
  border-bottom: solid 1px #D3D3D3;
}

.summary:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .summary {
    margin-bottom: 1.5em;
  }
}

.summary-image {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  text-align: center;
}

.summary-image:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .summary-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .summary-image:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .summary-image img {
    width: 100%;
    height: auto;
    padding: 0 0.8em;
  }
}

.summary-body {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}

.summary-body:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .summary-body {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .summary-body:last-child {
    margin-right: 0;
  }
}

.summary-text {
  padding: 5.5em 3.5em 2em 3em;
}

@media screen and (max-width: 768px) {
  .summary-text {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 0.5em 1em 0.8em 1em;
  }
  .summary-text:last-child {
    margin-right: 0;
  }
}

.summary-footer {
  height: 3em;
}

@media screen and (max-width: 768px) {
  .summary-footer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 0 0.8em;
    display: none;
  }
  .summary-footer:last-child {
    margin-right: 0;
  }
}

.summary-footer a.button {
  float: right;
}

.to-right {
  float: right;
}

.to-left {
  float: left;
}

.to-center {
  text-align: center;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  color: #808080;
}

h1 {
  font-size: 4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: normal;
  color: #383838;
  padding-bottom: 0.5em;
  margin: 0;
}

p {
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 1.5em;
  font-size: 0.9em;
  margin: 0;
  padding-bottom: 1em;
  color: #808080;
}

a {
  text-decoration: none;
  color: #131313;
}

a:hover {
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

a:visited {
  color: #383838;
}

li {
  font-size: 0.9em;
  line-height: 1.7em;
}

dl, dt, dd {
  font-size: 1em;
  line-height: 1.8em;
}

small {
  font-size: 65%;
  font-family: Tahoma, Geneva, sans-serif;
}

blockquote {
  line-height: 1.8em;
  padding: 1em 2em;
  font-style: italic;
  font-size: 90%;
}

q {
  display: inline-block;
  padding-left: 0.5em;
  margin-left: 0.5em;
  font-style: italic;
  font-size: 90%;
}

cite {
  display: inline-block;
  padding-left: 0.5em;
  margin-left: 0.5em;
  font-style: italic;
}

pre, code, samp, kbd {
  box-shadow: none;
}

code {
  font-family: monospace, monospace;
  font-size: 0.8em;
}

pre {
  padding: 1em 0;
  line-height: 1.5em;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em auto 1em auto;
  text-align: left;
  font-size: 0.9em;
}

thead {
  height: 2em;
}

tbody {
  height: 2em;
}

tfoot {
  height: 2em;
}

table caption {
  font-size: 80%;
  margin: 1em;
}

th {
  text-align: left;
  padding: 1em 0.8em;
}

td {
  padding: 1em 0.8em;
}

legend {
  font-size: 1.2em;
}

fieldset {
  padding: 1em 2em;
}

input[type="submit"] {
  padding: 0.5em 0.7em;
  vertical-align: middle;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

input[type="submit"]:hover {
  vertical-align: middle;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

input[type="reset"] {
  padding: 0.5em 0.7em;
  vertical-align: middle;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

input[type="reset"]:hover {
  vertical-align: middle;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

button {
  max-width: 8em;
  padding: 0.5em 0.7em;
  vertical-align: middle;
  -webkit-transition: .2s;
  transition: .2s;
}

button:hover {
  vertical-align: middle;
  -webkit-transition: .2s;
  transition: .2s;
}

.button {
  min-width: 2em;
  padding: 0.8em 2em;
  vertical-align: middle;
  -webkit-transition: .2s;
  transition: .2s;
  background: #F2F2F2;
  height: 3em;
  display: inline-block;
}

.button:hover {
  vertical-align: middle;
  -webkit-transition: .2s;
  transition: .2s;
  background: #B2B2B2;
}

.button a:visited {
  color: #131313;
}

.button a {
  color: #131313;
}

.rounded {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  min-width: 100px;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  border: 2px solid;
}

.small {
  width: 25px;
  height: 25px;
}

.fill {
  width: 100%;
  text-align: center;
}

.btn {
  padding: 0.7em 0.7em;
  vertical-align: middle;
  display: inline-block;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn:hover {
  vertical-align: middle;
  -webkit-transition: .2s;
  transition: .2s;
}

.text-small {
  font-size: 0.9em;
}

.nano {
  width: 100%;
}

.nano > .nano-content {
  padding: none;
}

select {
  width: 100%;
  margin: 0.5em 0;
}

input[type="text"] {
  width: 100%;
  height: 2em;
  font-size: 1em;
  padding: 0 0.5em;
}

input[type="password"] {
  width: 100%;
  height: 2em;
  font-size: 1em;
  padding: 0 0.5em;
  letter-spacing: 3px;
}

input[type="email"] {
  width: 100%;
  height: 2em;
  font-size: 1em;
  padding: 0 0.5em;
}

textarea {
  width: 100%;
  font-size: 1em;
  padding: 0 0.5em;
  height: auto;
  min-height: 5em;
}

.logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
}

.logo:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .logo:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .logo img {
    width: 40px;
    height: auto;
    margin: 0.3125em 0.625em;
  }
}

.menu {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 42.64902%;
  background: #242424;
}

.menu:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .menu {
    margin-left: 0%;
    display: none;
  }
}

.menu ul {
  margin: 0;
  padding: 0;
  float: right;
}

@media screen and (max-width: 768px) {
  .menu ul {
    float: left;
  }
}

.menu ul li {
  display: inline;
}

@media screen and (max-width: 768px) {
  .menu ul li {
    display: block;
  }
}

.menu ul li a {
  float: left;
  text-decoration: none;
  color: #B2B2B2;
  padding: 10.5px 11px;
  background: #242424;
}

.menu ul li a:visited {
  color: white;
}

.menu ul li a:hover, .menu ul li .active {
  color: white;
  background: #383838;
}

.menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  height: 100%;
  width: 250px;
  -webkit-transform: translateX(250px);
  -ms-transform: translateX(250px);
  transform: translateX(250px);
  border-left: 2px solid #383838;
  background: #131313;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  z-index: 999999;
}

.menu-mobile.is-visible {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.menu-mobile-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}

.menu-mobile-fade-screen.is-visible {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0.4;
  visibility: visible;
}

.menu-mobile ul {
  margin: 0;
  padding: 0;
  float: right;
}

@media screen and (max-width: 768px) {
  .menu-mobile ul {
    float: left;
  }
}

.menu-mobile ul li {
  display: inline;
}

@media screen and (max-width: 768px) {
  .menu-mobile ul li {
    display: block;
  }
}

.menu-mobile ul li a {
  float: left;
  text-decoration: none;
  color: #B2B2B2;
  padding: 10.5px 11px;
  background: #242424;
}

.menu-mobile ul li a:visited {
  color: white;
}

.menu-mobile ul li a:hover, .menu-mobile ul li .active {
  color: white;
  background: #383838;
}

.menu-mobile-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-mobile-button {
    display: inline-block;
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #131313;
    border: 1px solid #000000;
    color: #FFFFFF;
  }
}

.menu-mobile-close {
  cursor: pointer;
  height: 50px;
  width: 50px;
  padding-top: 1em;
  text-align: center;
  background: #383838;
  color: #FFFFFF;
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-mobile-close {
    display: block;
  }
}
