<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/app-html-head.html.twig' %}
</head>
<body>
<div class="layout">
  <!-- Header :::::::::::::::::::::: -->
  <header class="layout-header fixed-top shadow-bottom">
    {% include 'partials/app-navbar-main.html.twig' %}
  </header>
  <!-- Content Area :::::::::::::::::::::: -->
  <main class="layout-main" role="main">
    <aside class="sidebar-menu fixed-left shadow-right" ss-container>
      {% if pageTitle == "Components" %}
          {% include 'partials/app-menu-components.html.twig' %}
      {% elseif pageTitle == "Base" %}
          {% include 'partials/app-menu-base.html.twig' %}
      {% else %}
          No hay items en el menú
      {% endif %}
    </aside>
    <section class="content-full gap-left">
        {% block content %}{% endblock %}
    </section>
  </main>
  <!-- Footer :::::::::::::::::::::: -->
  <footer class="layout-footer">
    {% include 'partials/comp-footer.html.twig' %}
  </footer>
</div>

{% include 'partials/app-scripts.html.twig' %}

</body>
</html>