<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/app-html-head.twig' %}
</head>
<body>

<div class="app">

<div class="layout">

  <div class="layout-section sidebar">
  <!-- Logo -->
  <div class="logo">
    <a href="/">
    <svg class="main-logo" viewBox="0 0 92 92" width="50" height="50">
      <use xlink:href="assets/images/logo.svg#logo"></use>
      <use xlink:href="assets/images/logo.svg#logo-text"></use>
    </svg>
    </a>
  </div>
  <!-- Submenu -->
  {% if pageTitle == "Components" %}
      {% include 'partials/app-menu-components.twig' %}
  {% elseif pageTitle == "Base" %}
      {% include 'partials/app-menu-base.twig' %}
  {% else %}
      <p>Menu empty</p>
  {% endif %}

  </div>

  <div class="layout-section">

    <div class="topnav-area shadow-bottom">
      {% include 'partials/app-navbar-main.twig' %}
    </div>

    <div class="content-area" style="background: #F7F7F7;">
      <div class="content">
        {% block content %}{% endblock %}
        <!-- Footer :::::::::::::::::::::: -->
        <footer class="layout-footer">
          {% include 'partials/comp-footer.twig' %}
        </footer>
      </div>
    </div>
  </div>

</div>

</div>

{% include 'partials/app-scripts.twig' %}

</body>
</html>