<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/app-html-head.twig' %}
</head>
<body style="background:black;">
<section class="block">
  <div class="hero" style="background-image: url('assets/images/image-large.jpg')">
    <div class="hero-content overlay-dark">
      <div class="hero-message">
        <div class="hero-text-center">
          <!-- Logo -->
          <svg class="main-logo" style="fill:#FFF;" viewBox="0 0 92 92" width="50" height="50">
            <use xlink:href="assets/images/logo.svg#logo"></use>
            <use xlink:href="assets/images/logo.svg#logo-text"></use>
          </svg>        
          <!-- Text -->
          <h1>SWANIX</h1>
          <p>OPEN DESIGN SYSTEM</p>
          <!-- Actions -->
          <a class="button primary" href="base">GET STARTED</a>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>