<section class="articleview">
    <article class="articleview-item">
      <header class="articleview-item-figure">
        <a href="#">
          <img src="../images/thumb.png" alt="Article Image">
        </a>
      </header>
      <div class="articleview-item-body">
        <section class="articleview-item-text">
          <a href="#">
            <h3>Interdum urna egestas scelerisque</h3>
            <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt nec eu odio. Mauris quis turpis id sapien hendrerit pellentesque vel id leo. Vivamus vitae nibh dolor.</p>
          </a>
        </section>
        <footer class="articleview-item-footer">
          <a href="#" class="button">
            Read More
          </a>
        </footer>
      </div>
    </article>
    <article class="articleview-item">
      <header class="articleview-item-figure">
        <a href="#">
          <img src="../images/thumb.png" alt="Article Image">
        </a>
      </header>
      <div class="articleview-item-body">
        <section class="articleview-item-text">
          <a href="#">
            <h3>Interdum urna egestas scelerisque</h3>
            <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt nec eu odio. Mauris quis turpis id sapien hendrerit pellentesque vel id leo. Vivamus vitae nibh dolor.</p>
          </a>
        </section>
        <footer class="articleview-item-footer">
          <a href="#" class="button">
            Read More
          </a>
        </footer>
      </div>
    </article>
</section>
