<section class="cardview">
    <article class="cardview-item">
      <a href="#">
        <img class="cardview-item-figure" src="../images/thumb.png" alt="">
        <div class="cardview-item-body">
          <h3>Interdum egestas scele</h3>
          <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
        </div>
      </a>
    </article>
    <article class="cardview-item">
      <a href="#">
        <img class="cardview-item-figure" src="../images/thumb.png" alt="">
        <div class="cardview-item-body">
          <h3>Interdum egestas scele</h3>
          <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
        </div>
      </a>
    </article>
    <article class="cardview-item">
      <a href="#">
        <img class="cardview-item-figure" src="../images/thumb.png" alt="">
        <div class="cardview-item-body">
          <h3>Interdum egestas scele</h3>
          <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
        </div>
      </a>
    </article>
</section>
