<section class="gridview">
    <article class="gridview-item">
      <a href="#">
        <img class="gridview-item-figure" src="../images/thumb-square-m.png" alt="">
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="gridview-item-figure" src="../images/thumb-square-m.png" alt="">
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="gridview-item-figure" src="../images/thumb-square-m.png" alt="">
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="gridview-item-figure" src="../images/thumb-square-m.png" alt="">
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="gridview-item-figure" src="../images/thumb-square-m.png" alt="">
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="gridview-item-figure" src="../images/thumb-square-m.png" alt="">
      </a>
    </article>
</section>
