<div class="navbar">
    <!-- Logo -->
    <a class="logo" href="/"><img src="{{ urlLogo }}images/logo.png" alt="Swan"></a>
    <!-- Menu -->
    <nav class="menu">
      <ul>
        <li><a href="/">Overview</a></li>
        <li><a href="#">Base</a></li>
        <li><a href="#" class="active">Components</a></li>
        <li><a href="#">Layout</a></li>
        <li><a href="#">Color</a></li>
        <li><a href="#">Templates</a></li>
      </ul>     
    </nav>
    <!-- Menu button -->
    <div class="menu-mobile-open">
      <button class="btnMenu" type="button"><label>☰</label></button>
    </div> 
    <!-- Fade Screen -->
    <div class="menu-modal-bg"></div>
</div>
