<nav class="menu menu-vertical">
  <ul>
    <!--<li><a class="separator">Multimedia</a></li>-->
    <li><a href="#image" data-scroll>Image</a></li>
    <li><a href="#icons" data-scroll>Icons</a></li>
    <li><a href="#audio" data-scroll>Audio</a></li>
    <li><a href="#video" data-scroll>Video</a></li>
    <li><a href="#text" data-scroll>Text</a></li>
    <!--<li><a class="separator">Interactive</a></li>-->
    <li><a href="#buttons" data-scroll>Buttons</a></li>
    <li><a href="#icon-buttons" data-scroll>Icon Buttons</a></li>
    <li><a href="#radio-buttons" data-scroll>Radio Buttons</a></li>
    <li><a href="#checkboxes" data-scroll>Checkboxes</a></li>
    <li><a href="#dropdown" data-scroll>Dropdown</a></li>
    <li><a href="#text-input" data-scroll>Text Input</a></li>
    <li><a href="#form" data-scroll>Form Wrap</a></li>
    <li><a href="#switch" data-scroll>Switch</a></li>
    <li><a href="#progress" data-scroll>Progress</a></li>
    <li><a href="#scroll-custom" data-scroll>Scroll Panel</a></li>
    <li><a href="#file-input" data-scroll>File Input</a></li>
  </ul>
</nav>
