<div>
	<input id="checkbox1" type="checkbox" value="1" name="checkbox" checked="checked">
	<label for="checkbox1"><span></span>Checkbox 1</label>
</div>
<div>
	<input id="checkbox2" type="checkbox" value="2" name="checkbox">
	<label for="checkbox2"><span></span>Checkbox 2</label>
</div>
<div>
	<input id="checkbox3" type="checkbox" value="3" name="checkbox">
	<label for="checkbox3"><span></span>Checkbox 3</label>
</div>
