<a href="#" class="button">Basic Button</a>
<a href="#" class="button rounded">Basic Button Rounded</a>
<a href="#" class="button primary">Primary Button</a>
<a href="#" class="button primary rounded">Primary Button Rounded</a>
