<div class='slideshow swipe'>
  <div class='swipe-wrap'>
    <div><b>1</b></div>
    <div><b>2</b></div>
    <div><b>3</b></div>
    <div><b>4</b></div>
    <div><b>5</b></div>
    <div><b>6</b></div>
    <div><b>7</b></div>
  </div>
</div>
<button class="js-slideshow-prev">
  <svg class="icon-medium"><use xlink:href="{{ urlPath }}images/icons.svg#arrow-left"></use></svg>
</button>
<button class="js-slideshow-next">
  <svg class="icon-medium"><use xlink:href="{{ urlPath }}images/icons.svg#arrow-right"></use></svg>
</button>
