<button data-tooltip="Tooltip Up" data-tooltip-pos="up">Tooltip (Up)</button>
<button data-tooltip="Tooltip Left" data-tooltip-pos="left">Tooltip (Left)</button>
<button data-tooltip="Tooltip Right" data-tooltip-pos="right">Tooltip (Right)</button>
<button data-tooltip="Tooltip Down" data-tooltip-pos="down">Tooltip (Down)</button>
