// -----------------------------------------------------------
//  Typography combinations
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Default Font sans-serif
// ----------------------------------------------

$text-font-heading:         Tahoma, Geneva, sans-serif ;
$text-font-heading-weight:  normal ;
$text-font-body:            Tahoma, Geneva, sans-serif ;

// Default Font serif
// ----------------------------------------------

$text-font-heading:         Georgia, serif ;
$text-font-heading-weight:  normal ;
$text-font-body:            Georgia, serif ;


// Oxygen  http://sansoxygen.com/ 
// ----------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Oxygen');

$text-font-heading:         'Oxygen', sans-serif ;
$text-font-heading-weight:  normal !default ;
$text-font-body:            'Oxygen', sans-serif ;



// Implementation based on Milo Themes
// https://www.behance.net/gallery/35768979/Typography-Google-Fonts-Combinations

// Playfair Display + Fauna One
// ----------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Fauna+One|Playfair+Display');

$text-font-heading:         'Playfair Display', serif ;
$text-font-heading-weight:  normal ;
$text-font-body:            'Fauna One', serif ;


// Open Sans + Prata
// ----------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Prata');

$text-font-heading:         'Open Sans', sans-serif;
$text-font-heading-weight:  normal ;
$text-font-body:            'Prata', serif;


// Alfa Slab + Gentium Book Basic
// ----------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');

$text-font-heading:         'Alfa Slab One', cursive ;
$text-font-heading-weight:  normal ;
$text-font-body:            'Gentium Book Basic', serif ;


// Nixie One + Libre Baskerville
// ----------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Nixie+One');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

$text-font-heading:         'Nixie One', cursive ;
$text-font-heading-weight:  normal ;
$text-font-body:            'Libre Baskerville', serif ;


// Oswald + Quattrocento
// ----------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Quattrocento');

$text-font-heading:         'Oswald', sans-serif ;
$text-font-heading-weight:  normal ;
$text-font-body:            'Quattrocento', serif ;


// Oswald + Open Sans
// ----------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$text-font-heading:         'Oswald', sans-serif ;
$text-font-heading-weight:  normal ;
$text-font-body:            'Open Sans', sans-serif ;


// Sintony + Poppins
// ----------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Sintony');
@import url('https://fonts.googleapis.com/css?family=Poppins');

$text-font-heading:         'Sintony', sans-serif ;
$text-font-heading-weight:  normal ;
$text-font-body:            'Poppins', sans-serif ;


// Rufina + Oxygen
// ----------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Rufina');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

$text-font-heading:         'Rufina', serif ;
$text-font-heading-weight:  normal ;
$text-font-body:            'Oxygen', sans-serif ;


