// -----------------------------------------------------------
// HELPERS
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// FONT COLOR CLASSES

.white   { color:   $white; } // White (HTML color: white)
.gray1   { color:   $gray1; }
.gray2   { color:   $gray2; }
.gray3   { color:   $gray3; }
.gray4   { color:   $gray4; }
.gray5   { color:   $gray5; } // Gray medium (HTML color: gray)
.gray6   { color:   $gray6; }
.gray7   { color:   $gray7; }
.gray8   { color:   $gray8; }
.gray9   { color:   $gray9; }
.black   { color:   $black; } // Black (HTML color: black)


// BG COLOR CLASSES

.bg-white   { background:   $white !important; color: $gray6; } // White (HTML color: white)
.bg-gray1   { background:   $gray1 !important; color: $gray6; }
.bg-gray2   { background:   $gray2 !important; color: $gray6; }
.bg-gray3   { background:   $gray3 !important; color: $gray6; }
.bg-gray4   { background:   $gray4 !important; color: $white; }
.bg-gray5   { background:   $gray5 !important; color: $white; } // Gray medium (HTML color: gray)
.bg-gray6   { background:   $gray6 !important; color: $white; }
.bg-gray7   { background:   $gray7 !important; color: $white; }
.bg-gray8   { background:   $gray8 !important; color: $white; }
.bg-gray9   { background:   $gray9 !important; color: $white; }
.bg-black   { background:   $black !important; color: $white; } // Black (HTML color: black)


// Dimensions classes

.size-xs    {  height: $size-xs   !important; }
.size-s     {  height: $size-s    !important; }
.size-m     {  height: $size-m    !important; }
.size-l     {  height: $size-l    !important; }
.size-xl    {  height: $size-xl   !important; }
.size-xxl   {  height: $size-xxl  !important; }

// Fixed positions

.fixed-top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    z-index: 20;
}

.fixed-left {
    position: fixed;
    top: 0;
    z-index: 20;
}

.fixed-right {
  position: fixed;
  right: 0;
  z-index: 20;
}

.hidden {
  display: none;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.visible {
  display: block;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

// Order

.to-right {
  float:right;
}

.to-left {
  float:left;
}

.to-center {
  text-align:center;
}

.shadow-bottom {
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.22);
}


// -----------------------------------

.pad-top {
  padding-top: 1em;
}

.full {
  width: 100%;
}
