// -----------------------------------------------------------
// BODY STYLES
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

body {
	font-family: Tahoma, Geneva, sans-serif;
	}

html, body {  
	width: 100%;
	height: 100%;
	padding: 0;
	}
	
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;	
}

main, header, section, footer {
	//display:block;
	overflow: auto;
}
