// -----------------------------------------------------------
// BASE LAYOUT
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// ::::: Breakpoints

$mobile: new-breakpoint(max-width 768px 4);
$large-screen: 50em !default;

// Dimens

// Dimensions Variables for height

$padd:      2em;

$size-xs:   3em ;
$size-s:    5em ;
$size-m:    9em ;
$size-l:    22em ;
$size-xl:   32em ;
$size-xxl:  45em ;

$width-sidebar-tiny: 4em;

// Dimensions classes

.size-xs    {  height: $size-xs; }
.size-s     {  height: $size-s; }
.size-m     {  height: $size-m; }
.size-l     {  height: $size-l; }
.size-xl    {  height: $size-xl; }
.size-xxl   {  height: $size-xxl; }

// Containers

.layout {
	//overflow:auto;
}

// Header section

.layout-header {
  //padding-top: em(50);
  //min-height: $size-m ;
	//@include span-columns(12);
  //background: $gray8;
  @include media($mobile){
    background: $black;
  }
}

// Main content section

.layout-main {
	@include span-columns(12);
  //background: blue;
}

// Footer section

.layout-footer {
	@include span-columns(12);
	background: $gray8;
  text-align: center;
  padding: 2em 1em;
}

// Other classes

.content-row {
  @include span-columns(12);
}

.centered {
  @include outer-container(980px); 
  @include media($mobile){
    }
}
// Hero unit

.hero {
  background: $gray3;
  background-size: none;
  text-align: center;
  height: $size-xl;
  @include media($mobile){
    height: auto;
    }
}

.hero-content {
  @include outer-container(980px);
  //background: $gray2;
  padding: 7em 8em 3em 8em;
  @include media($mobile){
    padding: 3em 2em 7em 2em;
    }
}

// Summary list

.summary {
  @include span-columns(12 of 12);
  margin: 0.5em 0;
  background: $gray1;
  border-bottom: solid 1px $gray3;
  @include media($mobile){
    margin-bottom: 1.5em;
    }
}

.summary-image {
  @include span-columns(6 of 12);
  //background: green;
  text-align: center;
  @include media($mobile){
    @include span-columns(12 of 12);
    }
}

.summary-image img {
  @include media($mobile){
    width: 100%;
    height: auto;
    padding: 0 0.8em;
    }
}

.summary-body {
  @include span-columns(6 of 12);
  @include media($mobile){
    @include span-columns(12 of 12);
    }
}

  .summary-text {
    padding: 5.5em 3.5em 2em 3em;
    @include media($mobile){
      @include span-columns(12 of 12);
      padding: 0.5em 1em 0.8em 1em;
      }
  }

  .summary-footer {
    height: $size-xs;
    @include media($mobile){
      @include span-columns(12 of 12);
      padding: 0 0.8em;
      display: none;
      }
  }

  .summary-footer a.button {
    float:right;
  }


// ORDENAR


.to-right {
	float:right;
}

.to-left {
	float:left;
}

.to-center {
	text-align:center;
}

$border-box-sizing: true !default;

