// -----------------------------------------------------------
// NATIVE TYPOGRAPHY STYLES
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    
// TEXTS 
// -----------------------------------------------------------+

body {
    font-family: Tahoma, Geneva, sans-serif;
    color: $text-basic;
    }

h1 {
    font-size: 3.5em;
}

h1, h2, h3, h4, h5, h6  {
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    margin: 0;
    color: $text-heading;
    }

p { 
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 1.5em;
    font-size: 0.9em;
    margin: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: $text-basic;
    }

a {
    text-decoration: none;
    color: $text-link;
    }

a:hover {
    text-decoration: none;
    // Transition
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
    // End transition
    color: $text-link-hover;
    }

a:visited {
    color: $text-link-visited;
    }

ul, ol {
    }

li {
    font-size:0.9em;
    line-height: 1.7em;
    }

dl, dt, dd {
    font-size:1em;
    line-height: 1.8em;
    }

small { 
    font-size: 65%;
    font-family: Tahoma, Geneva, sans-serif; 
    }

blockquote {
    line-height: 1.8em; 
    padding: 1em 2em;
    font-style: italic;
    font-size: 90%;
    }

q {
    display:inline-block;
    padding-left: 0.5em;
    margin-left:0.5em;
    font-style: italic;
    font-size: 90%;
    }

cite {
    display:inline-block;
    padding-left: 0.5em;
    margin-left:0.5em;
    font-style: italic;
    }

pre, code, samp, kbd {
    box-shadow: none;
    }

code {
    font-family: monospace, monospace;
    font-size: 0.8em;
    }

pre {
    padding: 1em 0;
    line-height: 1.5em;
    }

hr {

    }


