<header class="hero lazyload"
  data-bg="{{ assetsPath }}images/image-large.jpg">
    <div class="hero-content overlay">
      <svg class="main-logo align-vertical" viewBox="0 0 100 100" width="150" height="150">
        <use xlink:href="{{ assetsPath }}images/logo.svg#logo"></use>
      </svg>
      <h2>{{ title }}</h2>
    </div>
</header>
