<nav class="menu menu-vertical">
  <ul>
    <li><a href="#navbar" data-scroll>Navbar</a></li>
    <li><a href="#listview" data-scroll>List View</a></li>
    <li><a href="#cardview" data-scroll>Card View</a></li>
    <li><a href="#gridview" data-scroll>Grid View</a></li>
    <li><a href="#articleview" data-scroll>Article View</a></li>
    <li><a href="#dialog" data-scroll>Dialog</a></li>
    <li><a href="#hero-block" data-scroll>Hero Block</a></li>
    <li><a href="#pagination" data-scroll>Pagination</a></li>
    <li><a href="#tooltip" data-scroll>Tooltip</a></li>
    <li><a href="#slideshow" data-scroll>Slideshow</a></li>
    <li><a href="#mapview" data-scroll>Map View</a></li>
  </ul>
</nav>
