<div class="navbar" data-scroll-header>
    <!-- Menu -->
    <nav class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="base">Base</a></li>
        <li><a href="components">Components</a></li>
        <li><a href="layout">Layout</a></li>
        <li><a href="color">Color</a></li>
      </ul>
    </nav>
</div>
