<fieldset>
  <legend>Legend</legend>
  <form>
    <!-- Basic Text -->
    <label for="text-input">Label:</label><br>
    <input type="text" id="text-input" placeholder="Text field"><br><br>
    <!-- Password Text -->
    <label for="pass">Label:</label><br>
    <input type="password" id="pass" name="password" placeholder="*******"><br>
  </form>
</fieldset>
