<div class="centered">
  <!-- Start Social buttons -->
  <div class="social-links">
    <a class="button circle" href="#">
      <svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#social-facebook"></use></svg>
    </a>
    <a class="button circle" href="#">
      <svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#social-twitter"></use></svg>
    </a>
    <a class="button circle" href="#">
      <svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#social-youtube"></use></svg>
    </a>
    <a class="button circle" href="#">
      <svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#social-dribbble"></use></svg>
    </a>
  </div>
  <!-- End Social buttons -->
  <p class="pad">Swan UI © 2015-2018</P>
</div>
