<header class="hero lazyload"
  data-bg="{{ urlPath }}images/image-large.jpg">
    <div class="hero-content overlay-bg">
      <div class="align-vertical">
        <svg class="main-logo" viewBox="0 0 100 100" width="150" height="150">
          <use xlink:href="{{ urlPath }}images/logo.svg#logo"></use>
        </svg>
        <h2>Hero Block</h2>
      </div>
    </div>
</header>
