<!-- Section :::::::::::::::::::::::::::: -->
<section class="section">
  <div class="section-content-full">
    <!-- Hero :::::::::::::::::::: -->
    <header class="hero size-xl">
        <div class="hero-content">
          <h1>Master Hero</h1>
          <h3>Section headline</h3>
        </div>
    </header>
  </div>
</section>
<!-- Section :::::::::::::::::::::::::::: -->
<section class="section">
  <div class="section-content">
    <!-- Sidebar :::::::::::::::::::: -->
    <aside class="sidebar pad">
      <h2>Sidebar</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis magna tortor. Sed dapibus sapien ac est tristique, eu faucibus nulla fermentum. Aenean at purus mi. Nulla facilisi. Proin euismod, augue ac dictum ullamcorper, velit lorem faucibus augue, nec luctus quam urna nec nisl. Curabitur sit amet malesuada lorem, ut consequat urna. Nunc ac velit vitae ipsum vehicula gravida. Nullam arcu magna, feugiat at maximus non, consequat id erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tempor pellentesque pretium.</p>
    </aside>
    <!-- Content :::::::::::::::::::: -->
    <article class="content pad">
      <h2>Content</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis magna tortor. Sed dapibus sapien ac est tristique, eu faucibus nulla fermentum. Aenean at purus mi. Nulla facilisi. Proin euismod, augue ac dictum ullamcorper, velit lorem faucibus augue, nec luctus quam urna nec nisl. Curabitur sit amet malesuada lorem, ut consequat urna. Nunc ac velit vitae ipsum vehicula gravida. Nullam arcu magna, feugiat at maximus non, consequat id erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tempor pellentesque pretium.</p>
      <p>Consectetur adipiscing elit. Cras quis magna tortor. Sed dapibus sapien ac est tristique, eu faucibus nulla fermentum. Aenean at purus mi. Nulla facilisi. Proin euismod, augue ac dictum ullamcorper, velit lorem faucibus augue, nec luctus quam urna nec nisl. Curabitur sit amet malesuada lorem, ut consequat urna. Nunc ac velit vitae ipsum vehicula gravida. Nullam arcu magna, feugiat at maximus non, consequat id erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tempor pellentesque pretium.</p>
      <p>Augue ac dictum ullamcorper, velit lorem faucibus augue, nec luctus quam urna nec nisl. Curabitur sit amet malesuada lorem, ut consequat urna. Nunc ac velit vitae ipsum vehicula gravida. Nullam arcu magna, feugiat at maximus non, consequat id erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tempor pellentesque pretium.</p>
      <p>Consectetur adipiscing elit. Cras quis magna tortor. Sed dapibus sapien ac est tristique, eu faucibus nulla fermentum. Aenean at purus mi. Nulla facilisi. Proin euismod, augue ac dictum ullamcorper, velit lorem faucibus augue, nec luctus quam urna nec nisl. Curabitur sit amet malesuada lorem, ut consequat urna. Nunc ac velit vitae ipsum vehicula gravida. Nullam arcu magna, feugiat at maximus non, consequat id erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tempor pellentesque pretium.</p>

    </article>
  </div>
</section>
