// -----------------------------------------------------------
//  UNIVERSAL LAYOUT MANAGER V0.2 Alpha by Sebastian Serna 
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Variables

$h-small:  5em ;
$h-medium: 10em ;
$h-large:  25em ;
$h-xlarge: 35em ;
$layout-border: 0px solid #1ae0ef; // Para visiualizar el layout

// Sizes -- Se debe mejorar, aún está muy ambiguo 

.h-small {  height: $h-small; }
.h-medium { height: $h-medium; }
.h-large {  height: $h-large; }
.h-xlarge { height: $h-xlarge; }

// Fluid or Centered

.fluid {     @include outer-container(2000px); }
.centered {  @include outer-container(980px);  }

// Fixed

.fixed--top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;    
}

.fixed--bottom {
    position: fixed;
    bottom: 0;
    z-index: 20;    
}

.margin--top {
    margin-top: $h-small;
}

.margin--bottom {
    margin-bottom: $h-small;
}

.pad {
    @include pad(1.5em);
}

//Mixim for mobile portrait

@mixin mobile-portrait  {      
    @media screen and (max-width: 768px){
        @include span-columns(12 of 12);
        }
}

// Layouts

.layout {
}

.layout__header {
    @include span-columns(12);
    outline:$layout-border;
}

.layout__subheader {
    @include span-columns(12);
    outline:$layout-border;
}

.layout__contentarea {
    @include span-columns(12);
    outline:$layout-border;
}

.layout__footer {
    @include span-columns(12);
    outline:$layout-border;
}

// Content units in Columns

.col--1  { @include span-columns(1 of 12, table); outline:$layout-border; }
.col--2  { @include span-columns(2 of 12, table); outline:$layout-border; }
.col--3  { @include span-columns(3 of 12, table); outline:$layout-border; }
.col--4  { @include span-columns(4 of 12, table); outline:$layout-border; }
.col--5  { @include span-columns(5 of 12, table); outline:$layout-border; }
.col--6  { @include span-columns(6 of 12, table); outline:$layout-border; }
.col--7  { @include span-columns(7 of 12, table); outline:$layout-border; }
.col--8  { @include span-columns(8 of 12, table); outline:$layout-border; }
.col--9  { @include span-columns(9 of 12, table); outline:$layout-border; }
.col--10 { @include span-columns(10 of 12, table); outline:$layout-border; }
.col--11 { @include span-columns(11 of 12, table); outline:$layout-border; }
.col--12 { @include span-columns(12 of 12, table); outline:$layout-border; }

.layout__sidebar { @include  mobile-portrait;}
.layout__content { @include  mobile-portrait;}

