// -----------------------------------------------------------
// LAYOUT by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------

$layout-border:        none !default; // Development purposes only
// Layout base
$layout-bg:            none !default;
$layout-header-bg:     $white !default;
$layout-main-bg:       $white !default;
$layout-footer-bg:     $gray1 !default;
$content-bg:           $white !default;
$sidebar-bg:           $gray1 !default;


// STYLES
// -----------------------------------------------------------

.layout {
	overflow: auto;
  min-height: 100%; // Afecta la posici칩n del footer
  position: relative; // Afecta la posici칩n del footer
  color: $text-basic;
  background: $layout-bg;
  outline:$layout-border;
}

// Header section

.layout-header {
	@include span-columns(12);
  color: $text-basic;
  background: $layout-header-bg;
  outline:$layout-border;
}

// Main content section

.layout-main {
	@include span-columns(12);
  padding-bottom: $footer-size; // Afecta la posici칩n del footer
  color: $text-basic;
  background: $layout-main-bg;
  height: 100%;
  outline:$layout-border;
}

// Footer section

.layout-footer {
	@include span-columns(12);
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3rem 3rem;
  height: $footer-size;   // Tama침o del footer
  color: $text-basic;
  background: $layout-footer-bg;
  outline:$layout-border;
}


// Generic classes

.content {
  @include span-columns(8);
  color: $text-basic;
  background: $content-bg;
  outline: $layout-border;
  @include media($mobile){
    @include span-columns(12 of 12);
    }
}

.content-full {
  @include span-columns(12);
  color: $text-basic;
  background: $content-bg;
  outline: $layout-border;
}

.sidebar {
  @include span-columns(4);
  color: $text-basic;
  background: $sidebar-bg;
  outline: $layout-border;
  @include media($mobile){
    @include span-columns(12 of 12);
    }
}

// Fixed positions

.fixed-top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    z-index: 20;
}

.fixed-left {
    position: fixed;
		left:0;
    z-index: 20;
}

.fixed-right {
    position: fixed;
    right: 0;
    z-index: 20;
}

// Gaps when layout elements are fixed (must be improved soon)

.gap-top    { margin-top: $width-sidebar-tiny ; }
.gap-left   { padding-left: $width-sidebar-tiny; }
.gap-right  { padding-right: $width-sidebar-tiny ; }
.gap-bottom { margin-bottom: $width-sidebar-tiny ; }

// other

.inner-centered {
  @include vertical-align;
  text-align: center;
}

.block {
	min-height: 30rem;
	padding: 2rem;
	margin: 5rem 2rem 15rem 2rem;
	border: 1px solid rgba(158, 158, 158, 0.3);
	overflow: auto;
	clear:both;
	@include media($mobile){
		margin:0;
    }
}
