<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Global --> 
    <title>Controls - Swan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Experimental UI Framework">
    <!-- Favicon --> 
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/apple-touch-icon.png" />
    <!-- Styles and fonts --> 
    <link href="../styles/css/styles.min.css" media="screen" rel="stylesheet">
    <!-- IE support --> 
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="theme-white">
<div class="layout">
    <!-- Layout Header :::::::::::::::::::: -->
    <header class="layout-header">
      <div class="navigation centered">
        <!-- Logo -->
        <a class="logo" href="../index.html"><img src="../images/logo-white.png" alt=""></a>
        <nav id="menu-main" class="menu" role="navigation">
          <!-- Menu -->
          <ul>
            <li><a href="../index.html">Overview</a></li>
            <li><a href="text.html">Text</a></li>
            <li><a href="multimedia.html">Multimedia</a></li>
            <li><a href="controls.html">Controls</a></li>
            <li><a href="patterns.html">Patterns</a></li>
            <li><a href="color.html">Color</a></li>
          </ul>
        </nav>         
        <button type="button" class="menu-mobile-open">☰</button> 
      </div>
      <div class="menu-mobile-fade-screen"></div>
    </header>
    <!-- Layout Main Content :::::::::::::::::::: -->
    <main class="layout-main" role="main">
        <header class="hero size-m">
            <div class="hero-content">
              <h1>Controls</h1>
              <form>
                <select class="themeselect">
                  <option value="theme-white">White Swan</option>
                  <option value="theme-black">Black Swan</option>
                </select>
              </form>
            </div>
        </header>
        <article class="centered pad">
          <h2>Forms</h2>
          <fieldset>
            <legend>Legend</legend>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.</p>
            <form>

              <h2>Buttons (input tag)</h2>
              <input type="reset" value="Reset">
              <input type="submit" value="Submit">

              <h2>Buttons (button tag)</h2>
              <button>Button</button>
              <button>Button</button>
              <button>Button</button>
              <button>Button</button>
              <button class="primary">Button Primary</button>

              <h2>Buttons (link tag)</h2>
              <a href="javascript:void(0)" class="button">Basic Button</a>
              <a href="javascript:void(0)" class="button primary">Primary Button</a>


              <h2>Radio buttons</h2>
              <label for="radio_buttons">Label:</label><br>
              <input type="radio" value="radio_1" name="radio_button"> Radio 1<br>
              <input type="radio" value="radio_2" name="radio_button"> Radio 2<br>
              <input type="radio" value="radio_3" name="radio_button"> Radio 3<br>
              
              <h2>Checkboxes</h2>
              <label for="checkboxes">Label:</label><br>
              <input type="checkbox" value="check_1" name="checkboxes"> Checkbox 1<br>
              <input type="checkbox" value="check_2" name="checkboxes"> Checkbox 2<br>
              <input type="checkbox" value="check_3" name="checkboxes"> Checkbox 3<br>

              <h2>Select (Dropdown)</h2>
              <label for="select">Label:</label><br>
              <select name="select">
                <optgroup label="Option Group 1">
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </optgroup>
                <optgroup label="Option Group 2">
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </optgroup>
              </select>
              
              <h2>Text input</h2>
              <label for="text_field">Label:</label><br>
              <input type="text" id="text_field" placeholder="Text field">

              <h2>Text input (password)</h2>
              <label for="password">Label:</label>
              <input type="password" name="password" placeholder="*******">

              <h2>Textarea input</h2>
              <label for="text_area">Label:</label><br>
              <textarea id="text_area"></textarea>

              <h2>File input</h2>
              <label for="file">Label:</label><br>
              <input type="file" name="file">           
              
            </form>
          </fieldset>
        </article>
    </main>
    <!-- Layout Footer :::::::::::::::::::: -->
    <footer class="layout-footer">
        <div class="centered">
          <p>Swan UI Ⓒ 2016</P>
          <!-- Social buttons -->
          <div class="social-links">
            <span class="btn circle"><a href="javascript:void(0)"><img src="../images/ic-social-facebook.png" alt="Facebook"></a></span>
            <span  class="btn circle"><a href="javascript:void(0)"><img src="../images/ic-social-twitter.png" alt="Twitter"></a></span>
            <span class="btn circle"><a href="javascript:void(0)"><img src="../images/ic-social-youtube.png" alt="Youtube"></a></span>
          </div>
        </div>
    </footer>
</div>

<!-- Javascripts -->  
<script src="../scripts/all/jquery-1.11.1.min.js"></script>
<script src="../scripts/all/swan.menu.js"></script>
<script src="../scripts/all/swan.themes.js"></script>

</body>
</html>