<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en" ><![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Global --> 
    <title>Swan - Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Favicon --> 
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/apple-touch-icon" />
    <!-- Styles and fonts --> 
    <link href="../styles/css/theme.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="main-container">
        <!-- Header :::::::::::::::::::::: -->
        <div class="header">    
            <div class="logo">
                <a href="#">
                    <span class="icon-sun xlarge"></span>
                </a>
            </div>
            <div class="main-menu">
                <ul>
                    <li>Section 1</li>
                    <li>Section 2</li>
                    <li>Section 3</li>
                    <li>Section 4</li>
                    <li>Section 5</li>
                </ul>
                <div class="social-links">
                    <a href="#" class="btn circle">
                        <span class="icon-ribbon medium"></span>
                    </a>
                    <a href="#" class="btn circle">
                        <span class="icon-heart medium"></span>
                    </a>
                    <a href="#" class="btn circle">
                        <span class="icon-printer medium"></span>
                    </a>   
                </div>
            </div>
        </div>    
        <!-- Slideshow :::::::::::::::::::::: -->
        <div class="slideshow">
            <img src="http://lorempixel.com/980/350/city/">         
        </div>
        <!-- Content Area :::::::::::::::::::::: -->
        <div class="content-area">
            
        <div class="NewsSummary">
            <div class="newscontent">
                <div class="NewsSummaryLink">
                    <h3><a title="" href="#">Donec facilisis enim at dolor pretium volutpat</a></h3>
                </div>
                <div class="NewsSummarySummary">
                    <img width="380" height="140" src="http://lorempixel.com/380/140/city/">
                    <p>Suspendisse facilisis nibh et turpis sodales hendrerit. Nulla porttitor urna ac porttitor consequat.</p>
                </div>
                <div class="NewsSummaryMorelink">
                    <a href="#" class="btn rounded to-right">
                        Read More
                        <span class="icon-arrow-right small"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="NewsSummary">
            <div class="newscontent">
                <div class="NewsSummaryLink">
                    <h3><a title="" href="#">Donec facilisis enim at dolor pretium volutpat</a></h3>
                </div>
                <div class="NewsSummarySummary">
                    <img width="380" height="140" src="http://lorempixel.com/380/140/people/">
                    <p>Suspendisse facilisis nibh et turpis sodales hendrerit. Nulla porttitor urna ac porttitor consequat.</p>
                </div>
                <div class="NewsSummaryMorelink">
                    <a href="#" class="btn rounded to-right">
                        Read More
                        <span class="icon-arrow-right small"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="NewsSummary">
            <div class="newscontent">
                <div class="NewsSummaryLink">
                    <h3><a title="" href="#">Donec facilisis enim at dolor pretium volutpat</a></h3>
                </div>
                <div class="NewsSummarySummary">
                    <img width="380" height="140" src="http://lorempixel.com/380/140/food/">
                    <p>Suspendisse facilisis nibh et turpis sodales hendrerit. Nulla porttitor urna ac porttitor consequat.</p>
                </div>
                <div class="NewsSummaryMorelink">
                    <a href="#" class="btn rounded to-right">
                        Read More
                        <span class="icon-arrow-right small"></span>
                    </a>
                </div>
            </div>
        </div>

        </div>
        <!-- Footer :::::::::::::::::::::: -->        
        <div class="footer">
             <p class="to-center">Swan Project - 2015</p>
        </div>
    </div>
</body>
</html>