<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en" ><![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Global --> 
    <title>Swan - Basic Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Favicon --> 
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/apple-touch-icon" />
    <!-- Styles and fonts --> 
    <link href="../styles/css/styles.min.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="app" class="layout_main">
        <!-- Header :::::::::::::::::::::: -->
        <div id="header" class="layout_header">    
            <div class="logo-main">
                <a href="#">
                    <img src="../img/logo-app.png" alt="Logo">
                </a>
            </div>
            <div class="menu-main">
                <ul>
                    <li>Section 1</li>
                    <li>Section 2</li>
                    <li>Section 3</li>
                    <li>Section 4</li>
                    <li>Section 5</li>
                    <li>Section 6</li>
                </ul>
                <div class="social-links">
                    <a href="#" class="btn circle">
                        <span class="icon-ribbon medium"></span>
                    </a>
                    <a href="#" class="btn circle">
                        <span class="icon-heart medium"></span>
                    </a>
                    <a href="#" class="btn circle">
                        <span class="icon-printer medium"></span>
                    </a>   
                </div>
            </div>
        </div>    
        <!-- Subheader :::::::::::::::::::::: -->
        <div id="subheader" class="layout_subheader">
            <div class="section-title">
                <h2>Section Title</h2>   
            </div>    
            <div class="section-options">
                
            </div>  
        </div>
        <!-- Content Area :::::::::::::::::::::: --> 
        <div id="contentarea" class="layout_content">
            <!-- Content :::::::::::::::::::::: -->
            <div class="content">
                <div class="content-image">
                    <img src="http://placehold.it/650x300">
                </div>
                <div class="content-title">
                    <h1>Content Title</h1> 
                </div>

                <div class="content-body">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed lacus eget lectus convallis aliquam. Praesent id laoreet libero. Curabitur at est dapibus, rhoncus arcu vel, pretium orci. Maecenas posuere nisi vehicula, consectetur lectus eu, pretium augue. Fusce venenatis pretium arcu, vitae dictum lacus tincidunt vel. In porttitor mauris in neque posuere mattis. Nullam vitae tempus ante. Nunc risus libero, egestas at tellus ac, gravida imperdiet libero. Ut vel aliquam nunc, vel facilisis ligula. Curabitur et interdum elit. Nulla blandit nec erat blandit commodo. Aenean placerat commodo nisi, sed tincidunt tortor consequat id. Nam dapibus, ligula id facilisis condimentum, leo quam tincidunt augue, eget mattis eros erat sit amet mauris. Nulla at sapien eu ante molestie pretium in nec eros.</p>

                <p>Sed sollicitudin, odio a pulvinar pharetra, mauris magna ultrices nisi, sit amet sagittis nisl metus nec ipsum. Etiam viverra rhoncus congue. Mauris auctor tortor vitae facilisis sollicitudin. Sed at felis feugiat, vulputate justo sit amet, sodales quam. Maecenas pharetra velit in nisl fermentum, nec porta urna elementum. Cras mattis tortor eget semper blandit. Proin quis sagittis lacus. Morbi non quam vel quam mattis tincidunt nec a elit. Aenean quis ornare turpis. Nullam ac bibendum est. Integer pellentesque arcu a quam mollis, et viverra nibh maximus. </p>

                <p>Quisque eu nisi nulla. Quisque posuere ut erat non euismod. Aliquam a risus lectus. Sed lorem ligula, mattis eu gravida eu, facilisis ut odio. Integer ultricies purus eu ligula auctor sagittis. In interdum lectus ligula, vitae vulputate leo laoreet id. Nam tincidunt felis sit amet mollis volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum nunc id enim finibus, vitae imperdiet mi laoreet. Integer quis risus ut metus posuere vestibulum. Sed tempus auctor mi at egestas. Nam eu feugiat orci. Nullam eget finibus quam, nec ultricies mi. Vestibulum faucibus pellentesque consectetur.</p> 
                
              </div>
            </div>
            <!-- Sidebar :::::::::::::::::::::: -->
            <div class="sidebar">
                <div class="banner">
                    <img src="http://placehold.it/380x350">
                </div>
                <div class="panel">
                    <div class="panel-title">
                        <h3 class="to-center">Related Content<h3/>
                    </div>
                    <div class="panel-content">
                        <ul>
                            <li><a href="#">Related content Link 1</a></li>
                            <li><a href="#">Related content Link 2</a></li>
                            <li><a href="#">Related content Link 3</a></li>
                            <li><a href="#">Related content Link 4</a></li>
                            <li><a href="#">Related content Link 5</a></li>
                            <li><a href="#">Related content Link 6</a></li>
                            <li><a href="#">Related content Link 7</a></li>
                            <li><a href="#">Related content Link 8</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer :::::::::::::::::::::: -->        
        <div id="footer" class="layout_footer">
             <p class="to-center">Swan Project - 2015</p>
        </div>
    </div>
</body>
</html>