<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Global --> 
    <title>Patterns - Swan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Experimental UI Framework">
    <!-- Favicon --> 
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/apple-touch-icon.png" />
    <!-- Styles and fonts --> 
    <link href="../styles/css/styles.min.css" media="screen" rel="stylesheet">
    <!-- IE support --> 
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="layout black">
    <!-- Layout Header :::::::::::::::::::: -->
    <header class="layout-header">
      <div class="navigation centered">
        <!-- Logo -->
        <a class="logo" href="../index.html"><img src="../images/logo-white.png" alt=""></a>
        <nav id="menu-main" class="menu" role="navigation">
          <!-- Menu -->
          <ul>
            <li><a href="../index.html">Overview</a></li>
            <li><a href="text.html">Text</a></li>
            <li><a href="multimedia.html">Multimedia</a></li>
            <li><a href="controls.html">Controls</a></li>
            <li><a href="patterns.html">Patterns</a></li>
            <li><a href="color.html">Color</a></li>
          </ul>
        </nav>         
        <button type="button" class="menu-mobile-open">☰</button> 
      </div>
      <div class="menu-mobile-fade-screen"></div>
    </header>
    <!-- Layout Main Content :::::::::::::::::::: -->
    <main class="layout-main" role="main">
        <header class="hero size-m">
            <div class="hero-content">
              <h1>Patterns</h1>
            </div>
        </header>
        <article class="centered pad">
          <h2>Content Summary</h2>
          <!-- Content summary :::::::::::::::::::: -->
          <article class="summary">
            <header class="summary-image">
              <img src="../images/thumb.png" alt="Summary Image">
            </header>
            <div class="summary-body">
              <section class="summary-text">
                <h3>Interdum urna egestas scelerisque</h3>
                <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt nec eu odio. Mauris quis turpis id sapien hendrerit pellentesque vel id leo. Vivamus vitae nibh dolor.</p>
              </section>
              <footer class="summary-footer">
                <a href="javascript:void(0)" class="button">Read More</a>
              </footer>
            </div>
          </article>
          <article class="summary">
            <header class="summary-image">
              <img src="../images/thumb.png" alt="Summary Image">
            </header>
            <div class="summary-body">
              <section class="summary-text">
                <h3>Interdum urna egestas scelerisque</h3>
                <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt nec eu odio. Mauris quis turpis id sapien hendrerit pellentesque vel id leo. Vivamus vitae nibh dolor.</p>
              </section>
              <footer class="summary-footer">
                <a href="javascript:void(0)" class="button">Read More</a>
              </footer>
            </div>
          </article>

        </article>
    </main>
    <!-- Layout Footer :::::::::::::::::::: -->
    <footer class="layout-footer">
        <div class="centered">
          <p>Swan UI Ⓒ 2016</P>
          <!-- Social buttons -->
          <div class="social-links">
            <span class="btn circle"><a href="javascript:void(0)"><img src="../images/ic-social-facebook.png" alt="Facebook"></a></span>
            <span  class="btn circle"><a href="javascript:void(0)"><img src="../images/ic-social-twitter.png" alt="Twitter"></a></span>
            <span class="btn circle"><a href="javascript:void(0)"><img src="../images/ic-social-youtube.png" alt="Youtube"></a></span>
          </div>
        </div>
    </footer>
</div>

<!-- Javascripts -->  
<script src="../scripts/all/jquery-1.11.1.min.js"></script>
<script src="../scripts/all/swan.menu.js"></script>

</body>
</html>