/* ----------------------------------------------
  BUTTONS
---------------------------------------------- */

:root {

  --btn-text:                  var(--gray7) ;
  --btn-border:                var(--gray2) solid 1px;
  --btn-bg:                    var(--gray1) ;

  --btn-hover-text:            var(--gray9) ;
  --btn-hover-border:          var(--gray3) solid 1px ;
  --btn-hover-bg:              var(--white) ;

  --btn-padding:               1rem 1rem ;
  
  --btn-primary-text:          var(--gray1) ;
  --btn-primary-border:        var(--black) solid 2px ;
  --btn-primary-bg:            var(--black) ;

  --btn-primary-hover-text:    var(--white) ;
  --btn-primary-hover-border:  var(--gray9) solid 2px ;
  --btn-primary-hover-bg:      var(--gray9) ;

}

button {
  vertical-align: middle;
  transition: .2s;
  display: inline-block;
  padding: var(--btn-padding);
  color: var(--btn-text);
  border: var(--btn-border);
  background: var(--btn-bg);
  font-size: var(--text-medium);
  outline:0; /* Solves Chrome border focus */
}

button:hover {
  vertical-align: middle;
  transition:.2s;
  color: var(--btn-hover-text);
  border: var(--btn-hover-border);
  background: var(--btn-hover-bg);
  outline:0; /* Solves Chrome border focus */
}

.button {
  vertical-align: middle;
  transition: .2s;
  display: inline-block;
  padding: var(--btn-padding);
  color: var(--btn-text);
  border: var(--btn-border);
  background: var(--btn-bg);
  font-size: var(--text-medium);
  outline:0; /* Solves Chrome border focus */
}

.button:hover {
  vertical-align: middle;
  transition:.2s;
  color: var(--btn-hover-text);
  border: var(--btn-hover-border);
  background: var(--btn-hover-bg);
  outline:0; /* Solves Chrome border focus */
}

.button.primary  {
  color: var(--btn-primary-text);
  border: var(--btn-primary-border);
  background: var(--btn-primary-bg);     
}

.button.primary:hover  {
  color: var(--btn-primary-hover-text);
  border: var(--btn-primary-hover-border);
  background: var(--btn-primary-hover-bg);     
}

/* ---------------------------------------------- 
 Shapes
---------------------------------------------- */

.rounded {
    border-radius: 50px;
    min-width: 100px;
    padding: 1rem 2rem;
    }

.circle {
    border-radius: 50%;
    text-align: center;
    padding:  1rem 1.1rem;
    }

.small {
    width: 25px;
    height: 25px;
    }

.fill {
    width: 100%;
    text-align: center;
}