/* ----------------------------------------------
  ICONS
---------------------------------------------- */

:root {

  --icon-fill-color:                var(--gray6) ;
  --icon-stroke-color:              var(--gray6) ;
  --icon-stroke-width:              0 ;

  --icon-hover-fill-color:          var(--gray6) ;
  --icon-hover-stroke-color:        var(--gray6) ;
  --icon-hover-stroke-width:        0 ;

  --icon-size-small:                1.6rem ;
  --icon-size-medium:               2.4rem ;
  --icon-size-large:                3.2rem ;
  --icon-size-huge:                 6.4rem ;
  
}

svg path, svg g  {
  fill: inherit; /* Solves the overrides with classes on Firefox */
}

.icon {
  display: inline-block;
  width: var(--icon-size-medium);
  height: var(--icon-size-medium);
  stroke-width: var(--icon-stroke-width);
  stroke: currentColor;
	fill: currentColor;
	color: var(--icon-fill-color);
  vertical-align: middle;
  transition:.2s;
}

.icon.small {
  width: var(--icon-size-small);
  height: var(--icon-size-small);
}

.icon.medium {
  width: var(--icon-size-medium);
  height: var(--icon-size-medium);
}

.icon.large {
  width: var(--icon-size-large);
  height: var(--icon-size-large);
}

.icon.huge {
  width: var(--icon-size-huge);
  height: var(--icon-size-huge);
}

.icon.only {
  margin-right: 0 !important;
} 

.icon:hover {
  stroke-width: var(--icon-hover-stroke-width);
  stroke: currentColor;
  fill: currentColor;
  color: var(--icon-hover-fill-color);
}