// -----------------------------------------------------------
//  SWAN BLACK by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

@import "core/abstract/variables";

// BASE
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Basic Palette
// ----------------------------------------------

$primary:             #000000 ; // Black
$secondary:           #999999 ; // Gray

// General
// ----------------------------------------------
$body-bg:              $black ;

// Texts
// ----------------------------------------------

$text-font-heading:         Tahoma, Geneva, sans-serif ;
$text-font-heading-weight:  normal ;
$text-font-body:            Tahoma, Geneva, sans-serif ;

$text-basic:           $gray3 ;
$text-heading:         $gray1 ;
$text-link:            $white ;
$text-link-hover:      $gray4 ;
$text-link-visited:    $white ;
$text-selection:       $gray1 ;
$text-selection-bg:    $gray7 ;
// Horizontal rule
$hr-color:             $gray8 ;

// Tables
$table-td-border-bottom: none ;
$table-tr-hover-bg:      $gray8 ;

// Forms
// ----------------------------------------------
$form-filedset-border:   $gray8;

// Buttons base styles
// ----------------------------------------------
// Btn
$btn-text:                   $gray2 ;
$btn-border:                 $gray7 solid 1px ;
$btn-bg:                     $gray8 ;
// Btn hover
$btn-hover-text:             $white ;
$btn-hover-border:           $gray6 solid 1px ;
$btn-hover-bg:               $gray7 ;
// Btn padding
$btn-padding:                1rem 2rem ;

// Btn Primary
$btn-primary-text:           $gray1 ;
$btn-primary-border:         $white solid 2px ;
$btn-primary-bg:             $primary ;
// Btn Primary hover
$btn-primary-hover-text:     $white ;
$btn-primary-hover-border:   $white solid 2px ;
$btn-primary-hover-bg:       $gray8 ;


// Input text and Textarea styles
// ----------------------------------------------
// Input text (text, password, email)
$input-text:                $gray2 ;
$input-text-border:         $gray8 solid 1px ;
$input-text-bg:             $gray9 ;
// Input text focus
$input-text-focus:          $white ;
$input-text-focus-border:   $gray8 solid 1px ;
$input-text-focus-bg:       $gray8 ;


// Select (dropdown) styles
// ----------------------------------------------
$dropdown-text:             $gray8 ;
$dropdown-border:           $gray5 solid 1px ;
$dropdown-bg:               $gray9 url(../../images/ic-arrow-down-white.png) right no-repeat ;


// LAYOUT
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Layout base styles
// ----------------------------------------------
$layout-bg:            none ;
$layout-header-bg:     none ;
$layout-main-bg:       darken($gray9, 5%);
$layout-footer-bg:     $black ;
$content-bg: 		   $gray8 ;
$sidebar-bg: 		   $gray7 ;



// COMPONENTS
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// Listview
// ---------------------------------------------------
// Item
$listview-item-text:                   $gray5 ;
$listview-item-bottom-border:          $gray8 1px solid ;
$listview-item-image-bg:               none ;
$listview-item-bg:                     $gray9 ;
// Item hover
$listview-item-hover-text:             $gray7 ;
$listview-item-hover-bottom-border:    $gray7 1px solid ;
$listview-item-hover-image-bg:         none ;
$listview-item-hover-bg:               $gray8 ;


// CardView
// ---------------------------------------------------
// Item
$cardview-item-text:                   $gray5 ;
$cardview-item-bottom-border:          $gray8 1px solid ;
$cardview-item-image-bg:               none ;
$cardview-item-bg:                     $gray9 ;
// Item hover
$cardview-item-hover-text:             $gray7 ;
$cardview-item-hover-bottom-border:    $gray7 1px solid ;
$cardview-item-hover-image-bg:         none ;
$cardview-item-hover-bg:               $gray8 ;


// Gridview
// ---------------------------------------------------
// Item
$gridview-item-text:                   $gray5 ;
$gridview-item-bottom-border:          $gray8 1px solid ;
$gridview-item-image-bg:               none ;
$gridview-item-bg:                     $gray9 ;
// Item hover
$gridview-item-hover-text:             $gray7 ;
$gridview-item-hover-bottom-border:    $gray7 1px solid ;
$gridview-item-hover-image-bg:         none ;
$gridview-item-hover-bg:               $gray8 ;


// ArticleView
// ---------------------------------------------------
// Item
$articleview-item-text:                   $gray5 ;
$articleview-item-bottom-border:          $gray8 1px solid ;
$articleview-item-image-bg:               none ;
$articleview-item-bg:                     $gray9 ;
// Item hover
$articleview-item-hover-text:             $gray7 ;
$articleview-item-hover-bottom-border:    $gray7 1px solid ;
$articleview-item-hover-image-bg:         none ;
$articleview-item-hover-bg:               $gray8 ;


// Menu Desktop
// ---------------------------------------------------
$main-logo-color:               $white ;
// Menu wrap
$navigation-bg:                 $black ;
$menu-bg:                       none ;
// Item
$menu-item-text:                $gray4 ;
$menu-item-bg:                  $black ;
// Item hover
$menu-item-hover-text:          $gray2 ;
$menu-item-hover-bg:            $gray9 ;
// Item active
$menu-item-active-text:         $white ;
$menu-item-active-bg:           $gray9 ;


// Menu Mobile
// ---------------------------------------------------
$menu-mobile-bg:                 $gray9 ;
// Item
$menu-mobile-item-text:          $gray4 ;
$menu-mobile-item-bg:            $gray9 ;
// Item hover
$menu-mobile-item-hover-text:    $white ;
$menu-mobile-item-hover-bg:      $gray8 ;
// Item active
$menu-mobile-item-active-text:   $white ;
$menu-mobile-item-active-bg:     $gray7 ;

// Hamburger btn
$menu-mobile-btn-text:         $gray1 ;
$menu-mobile-btn-bg:           $black ;
$menu-mobile-btn-border:       1px solid $black ;
// btn hover
$menu-mobile-btn-hover-text:     $white  ;
$menu-mobile-btn-hover-bg:       lighten($primary, 20%) ;
$menu-mobile-btn-hover-border:   1px solid lighten($primary, 20%) ;

// Menu Mobile fade screen
$menu-mobile-fade-screen-bg:   $black ;
$menu-mobile-border:           2px solid $gray8 ;


// Pagination
// ---------------------------------------------------
//pagination item
$pag-item-text:                inherit ;
$pag-item-bg:                  $gray9 ;
$pag-item-border:              $gray9 1px solid ;
$pag-item-border-radius:       0 ;
//pagination item hover
$pag-item-hover-text:          inherit ;
$pag-item-hover-bg:            $gray8 ;
$pag-item-hover-border:        $gray8 1px solid ;
//pagination item active
$pag-item-active-text:         $white ;
$pag-item-active-bg:           $primary ;
$pag-item-active-border:       $primary 1px solid ;


// Hero
// ---------------------------------------------------
$hero-bg:              $gray9 ;
$hero-content-bg:      none ;

@import "core/core";