<div>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-add"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-edit"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-home"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-delete"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-search"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-menu"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-settings"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-mail"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-social-facebook"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-social-twitter"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-social-instagram"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-social-pinterest"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-social-youtube"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-social-whatsapp"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-social-dribbble"></use></svg>
	<svg class="icon"><use xlink:href="../images/icons.svg#icon-social-vimeo"></use></svg>
</div>

<div>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-add"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-edit"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-home"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-delete"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-search"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-menu"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-settings"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-mail"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-social-facebook"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-social-twitter"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-social-instagram"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-social-pinterest"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-social-youtube"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-social-whatsapp"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-social-dribbble"></use></svg>
	<svg class="icon-medium"><use xlink:href="../images/icons.svg#icon-social-vimeo"></use></svg>
</div>


<div>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-add"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-edit"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-home"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-delete"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-search"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-menu"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-settings"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-mail"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-social-facebook"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-social-twitter"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-social-instagram"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-social-pinterest"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-social-youtube"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-social-whatsapp"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-social-dribbble"></use></svg>
	<svg class="icon-large"><use xlink:href="../images/icons.svg#icon-social-vimeo"></use></svg>
</div>