// -----------------------------------------------------------
//  CUSTOM THEME by Sebastian Serna - 2015
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

@import "../abstract/variables";
@import "../vendor/neat/settings/grid";

// COLORS
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


$white:             #FFFFFF ; // White (HTML color: white) #FFFFFF
$gray1:             darken($white, 5%); // #F2F2F2
$gray2:             darken($white, 10%); // ??
$gray3:             darken($white, 30%); // #B3B3B3
$gray4:             darken($white, 40%); // #999999
$gray5:             darken($white, 50%); // Gray medium (HTML color: gray) #808080
$gray6:             darken($white, 65%); // #595959
$gray7:             darken($white, 70%); // #4D4D4D
$gray8:             darken($white, 80%); // #333333
$gray9:             darken($white, 85%); // #1A1A1A
$black:             darken($white, 100%); // Black (HTML color: black) #000000

$orange:            #E77600;
$orange-light:      #fdeed8;

$primary:           $orange; 
$primary-dark:      darken($orange, 5%); 
$primary-light:     lighten($orange, 5%); 

$sidebar-bg:        $gray8;

$gutter:            0em ;
$images-path:       "http://ojodetigre.com.co/themes/tiger-eye/assets/images" ;


// General
// ::::::::::::::::::::::::::::::::::::
$body-bg:              $black ;

// Texts
// ::::::::::::::::::::::::::::::::::::
$text-basic:           $gray6 ;
$text-heading:         $primary ;
$text-link:            $gray9 ;
$text-link-hover:      $gray7 ;
$text-link-visited:    $gray9 ;
$text-selection:       $gray6 ;
$text-selection-bg:    $gray2 ;
// Horizontal rule        
$hr-color:             $gray7 ;
$hr-color-bg:          $gray7 ;

// Layout base styles 
// ::::::::::::::::::::::::::::::::::::
$layout-bg:            none ;
$header-bg:            none ;
$main-bg:              $black ;
$footer-bg:            $gray9 ;

// Hero styles 
// ::::::::::::::::::::::::::::::::::::
$hero-bg:              none ;
$hero-content-bg:      none ;

// Buttons base styles 
// ::::::::::::::::::::::::::::::::::::
// Btn
$btn-text:           $gray7 ;
$btn-border:         $gray2 solid 1px ;
$btn-bg:             $gray1 ;
// Btn hover
$btn-hover-text:     $gray9 ;
$btn-hover-border:   $gray3 solid 1px ;
$btn-hover-bg:       $white ;
// Btn padding
$btn-padding:        0.6em 1em ;

// Btn Primary
$btn-primary-text:           $gray1 ;
$btn-primary-border:         $primary solid 2px ;
$btn-primary-bg:             $primary ;
// Btn Primary hover
$btn-primary-hover-text:     $white ;
$btn-primary-hover-border:   $primary-light solid 2px ;
$btn-primary-hover-bg:       $primary-light ;

// Input text and Textarea styles 
// ::::::::::::::::::::::::::::::::::::
// Input text (text, password, email)
$input-text:                $gray6 ;
$input-text-border:         $gray2 solid 2px ;
$input-text-bg:             $white ;
// Input text focus
$input-text-focus:          $gray7 ;
$input-text-focus-border:   #FFA851 solid 2px ;
$input-text-focus-bg:       $white ;

// Input textarea
$input-textarea:                $gray6 ;
$input-textarea-border:         $gray2 solid 2px ;
$input-textarea-bg:             $white ;
// Input textarea focus
$input-textarea-focus:          $gray7 ;
$input-textarea-focus-border:   #FFA851 solid 2px ;
$input-textarea-focus-bg:       $white ;

// Select (dropdown) styles
// ::::::::::::::::::::::::::::::::::::
$dropdown-text:             $gray8 ;
$dropdown-border:           $gray5 solid 1px ;
$dropdown-bg: url(#{$images-path}/ic-arrow-down.png) right no-repeat $gray1 ;

// List, card, grid and article view styles
// ::::::::::::::::::::::::::::::::::::  
// Item
$view-item-text:                   $gray7 ;
$view-item-bottom-border:          none ;
$view-item-image-bg:               none ;
$view-item-bg:                     $gray1 ;
// Item hover
$view-item-hover-text:             $gray9 ;
$view-item-hover-bottom-border:    none ;
$view-item-hover-image-bg:         none ;
$view-item-hover-bg:               darken($white, 2%) ;

// Menu styles
// ::::::::::::::::::::::::::::::::::::
// Menu Basic
$navigation-bg:                 none ;
$menu-bg:                       none ;
$menu-item-text:                $orange-light ;
$menu-item-bg:                  $black ;
$menu-item-hover-text:          $gray2 ;    
$menu-item-hover-bg:            $gray9 ;
$menu-item-active-text:         $white ;
$menu-item-active-bg:           $primary ;
// Menu Mobile
$menu-mobile-bg:                 $gray9 ;
$menu-mobile-item-text:          $orange-light ;
$menu-mobile-item-bg:            $gray9 ;
$menu-mobile-item-hover-text:    $white ;
$menu-mobile-item-hover-bg:      $gray5 ;
$menu-mobile-item-active-text:   $white ;
$menu-mobile-item-active-bg:     $gray8 ;
// Menu Mobile hamburger btn
$menu-mobile-btn-text:         $gray1 ;
$menu-mobile-btn-bg:           $primary;
$menu-mobile-btn-border:       1px solid $primary ;
// Menu Mobile fade screen
$menu-mobile-fade-screen-bg:   $black ;
$menu-mobile-border:           2px solid $gray8 ;

@import "../theme";

// Shame styles


.show-mobile {
    display:none;
    @include media($mobile){
        display: block;
        padding: 0.5em 1.8em 2em 1.8em;
        font-size: 0.8em;
    }       
}


h1, h2, h3, h4, h5, h6  {
  font-weight: bold;
  margin: 1em 0 1em 0;
  }

.layout-main {
    background: none;
    padding-bottom: 0;
    background-color: #ffffff;
}

.bg-column {
    background-color: #ffffff;
    background-image: url("#{$images-path}/bg_main.jpg");
    background-repeat: repeat-y;
    @include media($mobile){
        background: none !important;
    }   
}
    
body {
    background-attachment: fixed;
    background-color: #000;
    background-image: url("#{$images-path}/bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;    
}

.size-m {
    height: 9em !important;
    }
    

.cardview-item h3 {
    background: $black;
    padding: 0.7em 1em 0.7em 1em;
    margin: 0;
    //margin-bottom: 0.3em;
    font-weight: bold;
    font-size:1em;
    }
    

.size-m {
    height:auto !important;
    }

.hero-content {
    transform: translateY(0%) !important;
    }
    
.menu {
    text-transform: uppercase;
    }
.pad {
    padding: 1em 2em;
      @include media($mobile){
        padding: 1em 0.7em;
        }
    }

.pad h2 {
    margin-top:0;
    @include media($mobile){

    }
}

.pad-nosotros {
      @include media($mobile){
        padding: 0.5em 1.5em;
        }
    }

.articleview-item {
    flex: 0 1 100%;
    margin-bottom: 1em;
    border-bottom: solid 1px $gray3;
    }
    
 // Servicios
.servicios .cardview-item {
    flex: 0 1 48%;
    margin-bottom: 1em;
    border-bottom: solid 2px $primary;
    @include media($mobile){ 
      flex: 0 1 100%;
    }

}
 
.servicios .cardview-item-footer {
    display: flex;
    justify-content: flex-end;     
    }  
   
 .cardview-item-body {
     margin-bottom: auto; // Push card footer to the bottom
     }  
     
.button-small {
    font-size: 0.75em;
    padding: 0.5em 2em;
    }

     
// LAYOUT STYLES

// Content
.layout-content {
  background: $white;
  @include span-columns(8);
  @include media($mobile){
    width:100% !important;
    }
}

// sidebar    
.layout-sidebar {
    background: $black;
    @include span-columns(4);
    @include media($mobile){ 
      display:none;
    }
}  
    
.layout-sidebar h3 {
    color: $primary;
    display:inline-block;
    }  

.layout-sidebar a {
    color: $primary;
    }
    
.layout-sidebar p {
    color: $gray5;
    font-size: 0.8em;
    }
    
.layout-sidebar img {
    float:left;
    margin-right:20px;
    margin-top:10px;
    }
  
.quote {
    height:300px;
    overflow:auto;
    padding: 6em 4em;
    margin-bottom: 3em;
    background: url("#{$images-path}/bg-quote.jpg") no-repeat;
    
    }

 .panel {
    padding:2em; 
    background: $gray9;
     } 
// Sidebar mobile   

.layout-sidebar-mobile {
  display:none;
  @include media($mobile){ 
      background: $black;    
      width:100%;
      display: block;
    }
}
  
.layout-sidebar-mobile  h3 {
    color: $primary;
    display:inline-block;
    }  

.layout-sidebar-mobile  a {
    color: $primary;
    }
    
.layout-sidebar-mobile  p {
    color: $gray4;
    }    
    
.layout-sidebar-mobile img {
    float:left;
    margin-right:20px;
    margin-top:10px;
    }
      
// Portafolio head

.portafolio-head {
    @include outer-container(980px);
    height: 6em;
    background: $black;
    text-align: right;
    padding:2em;
    @include media($mobile){ 
       height: 4em; 
       padding: 1.3em 1.5em;
    }
}    
    
  .portafolio-head h1 {
   margin: 0;
   font-size: 1.5em;
   font-weight: bold;
    @include media($mobile){   
       font-size:1.2em;
    }
   }  
  
.portafolio-subhead {
    @include outer-container(980px);
    height: 4em;
    overflow: hidden;
    background: $gray9;
    @include media($mobile){  
       padding: 0;
    }
}     

.portafolio-title {
   margin: 0;
   font-size: 1.3em;
   font-weight: bold;
   display: inline-block;
     @include media($mobile){ 
       font-size: 1em;
    }
} 

.back-button  {
    //display:none;
     @include media($mobile){ 
       //display: inline-block;
    }   
     
} 

.regresar {
   @include media($mobile){
    display:none;
    }   
}   
   

.back-button img  {
     @include media($mobile){ 
       //margin-top:10px;
    }   
     
}
    
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
   
 
 
 // Portafolio
 
 .pad-sinopsis {
     padding:1em 2em;
     }
     
.no-pad {
    padding: 0;
    }  
     
.sidebar-portafolio {
    background: #FFFFFF;
    }
     
.summary-portafolio {
   @include span-columns(4);
   padding:1em 2.5em;
   background:url('#{$images-path}/bg-summary.png');
   height: 329px;
   margin-top:1em;
    @include media($mobile){ 
      background:none;
      background: $gray1;
      width:100%;
    }
}     
     
.summary-portafolio p {
   color: #777;
}     

// Home

.heading-home { 
    height:em(65);
    background: $black;
    padding: 1.2em 1.2em ;
    @include media($mobile){ 
      margin-top:0;
    }
 }

.heading-home h2 { 
    margin:0;
    font-weight: bold;
    font-size: 1.2em;
 }

.services-home { // Padding + text centered
    padding: 0.5em;
    text-align:center;
    }
    
.services-home img { // Padding + text centered
    margin-bottom: 0.5em;
    max-width: 100%;
    }    
    
// Generic Columns

.preheader {
    @include outer-container(980px);
    text-align: right;
    @include media($mobile){ 
      display:none;
    }
}

.row {
   @include span-columns(12); 
}


.proyectos-home {
    @include media($mobile){ 
      display:none;
    }
}


.proyectos-home img {
   width:100%; 
   height: auto;
}

.col3 {
    @include span-columns(3 of 12);
    @include media($mobile){ 
      @include span-columns(12 of 12);
    }
}

.col6 {
    @include span-columns(6 of 12); 
    @include media($mobile){ 
      @include span-columns(12 of 12);
    }
}

// Header modifiers

.layout-header {
    @include media($mobile){ 
      //background: $primary;
    }
    //height: $size-m;
    }

.menu {
    margin-bottom: 0.5em;
    margin-top: 1.5em;
    font-weight: 500;
    padding-right: 0;
    @include media($mobile){ 
      margin-top:0;
    }
}   

.menu ul li a {
    padding: 0.7em 1.5em;
}
    
.logo img {
    position: absolute;
    top: 20px;
    z-index: 100;
    @include media($mobile){ 
      //margin-top:0;
      //position: relative;
      top: 0;
    }
}

.logo img {
    //margin: 0.5em 0 0 0.625em;
    max-height: 8em;
      @include media($mobile){
        max-height: 4.5em;
        }    
}  

  
.ghost-col {
    @include span-columns(3 of 12);
     @include media($mobile){ 
     display:none;
    }   
    
}    
    
.layout-footer {
    text-align:right;
    padding: 0 2em;
     @include media($mobile){ 
     text-align:center;
     background: $black;
    }  
}
    
.layout-footer p {
    color: $gray4;
    font-size: 0.7em;
    }    
    
.post-date {
    margin-top:-15px;
    margin-bottom: 15px ;
    font-size:0.8em;    
    
    }
    
.post-date-summary {
    margin-top:-10px;
    margin-bottom: 10px ;
    font-size:0.7em;    
    
    } 
    
    
 .content-image { // Post detail
     margin-bottom: 20px;
     }   
  
 // Home slideshow
 // :::::::::::::::::::::::::::::::::::::::::::::::::
 
.wide-container {
  max-width: 980px;
  height: 360px;
  margin: 0 auto;
  background: $black;
  @include media($mobile){
      height: 300px;
    }   
}
.next {
    color: $gray3;
    width: em(32);
    height: em(50);
    padding-top: em(15);
    background: $black;
    text-align: center;
    }
.prev {
    color: $gray3;
    width: em(32);
    height: em(50);
    padding-top: em(15);
    background: $black;
    text-align: center;
    }
    
.next h4 {
    color: $gray3;
    margin:0;
    }
.prev h4 {
    color: $gray3;
    margin:0;
    }

// Original styles

#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: em(7);
}
.slides-pagination a {
  border: 2px solid #222;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: $primary;
}

// Listview home 

.blog-home .listview-item {
  flex: 0 1 100%;
  align-items: flex-start;
}
  
.blog-home .listview-item-figure {
  display:none;
     @include media($mobile){ 
      display:flex;
    } 
}
    
// Portafolio item detail title

.title-project-port {
    float:left;
    margin-left:30px;
     @include media($mobile){ 
      margin-left:20px;
    } 
}

   
// Ver todos los proyectos (portafolio)
 
.btn-wrap-projects {
    float:right;
    }  
    
 .btn-wrap-projects-link {
    display:block;
    padding:0 20px;
    }  
       
.btn-projects-text p {
    color: $gray5;
    display:inline-block;
    margin:0;
    margin-right: 10px;
     @include media($mobile){ 
      display:none;
    } 
} 

.btn-projects-text p:hover {
    color: $gray3;
}  

.btn-wrap-projects img {
     @include media($mobile){ 
      width:16px;
    }         
}

 // Contact form
  .contact-form form {
     padding: 0 1em;
     }
     
     
 .contact-form input {
     margin-bottom:15px;
     font-size: 1em;
     }
     
.contact-form textarea {
     margin-bottom:15px;
     padding-top: 5px;
     font-size: 1em;
     height: 12em;
     }    
 
 .contact-form button {
     float:right;
     }   
     
     