// -----------------------------------------------------------
// GRID VIEW by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Gridview styles
// ::::::::::::::::::::::::::::::::::::
// Item
$gridview-item-text:                   $gray5 !default;
$gridview-item-bottom-border:          $gray2 1px solid !default;
$gridview-item-image-bg:               none !default;
$gridview-item-bg:                     $white !default;
// Item hover
$gridview-item-hover-text:             $gray9 !default;
$gridview-item-hover-bottom-border:    $gray3 1px solid !default;
$gridview-item-hover-image-bg:         none !default;
$gridview-item-hover-bg:               darken($white, 2%) !default;


.gridview {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media($mobile){
    }
}

.gridview-item {
  display: flex;
  flex: 0 1 33%;
  margin-bottom: 0.5rem;
  color: $gridview-item-text;
  background: $gridview-item-bg;

  @include media($mobile){
    flex: 0 1 49%;
    margin-bottom: 0.5rem;
    }
}

.gridview-item img {
  width: 100%;
  height: auto;
  @include media($mobile){

    }
}

.gridview-item-figure {
  @include media($mobile){

    }
}

.gridview-item-body {
  padding: 1rem;
  color: $text-basic;

  @include media($mobile){
    padding: 1.5rem;
    }
}

.gridview-item-body h3 {
  font-size: 1rem;
}

.gridview-item-body p {
  font-size: 0.8rem;
}

.gridview-item a {
  display: flex;
  flex-direction: column;
  border-bottom: $gridview-item-bottom-border;
}

.gridview-item a:hover {
  background: $gray8;
  cursor: pointer;
  // Transition
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  // End transition
  color: $gridview-item-hover-text;
  border-bottom: $gridview-item-hover-bottom-border;
  background: $gridview-item-hover-bg;
}
