// -----------------------------------------------------------
// HERO BLOCK by Sebastian Serna - 2016
// -----------------------------------------------------------
// Based on Refills http://refills.bourbon.io/components/
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------

$hero-bg:              $gray1 !default;
$hero-content-bg:      none !default;
$hero-heigh:           $size-xl !default;
$overlay-bg:           rgba(255, 255, 255, 0.7) !default;
$overlay-dark-bg:      rgba(0, 0, 0, 0.8) !default;
$overlay-light-bg:     rgba(255, 255, 255, 0.7) !default;

// STYLES
// -----------------------------------------------------------

.hero {
  text-align: center;
  height: $hero-heigh;
  color: $text-basic;
  background: $hero-bg;
  overflow: hidden; // Resuelve margin compartido con elementos H1
  background-size: none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @include media($mobile){
    height: $hero-heigh;
    }
}

.hero-content {
  color: $text-basic;
  background: $hero-content-bg;
  width: 100%;
  height: 100%;
}

.hero-content p {
  width: 40%;
  margin: 0 auto;
  @include media($mobile){
    width: 80%;
    }
}

.align-vertical {
  @include vertical-align(50%); // Default value 50%
}

.hero-align-vertical {
  @include vertical-align(35%); // Provisional
}

// Layer inside bg image

.overlay-bg {
  background-color: $overlay-bg;
  width:100%;
  height:100%;
}

.overlay-bg-dark {
  background-color: $overlay-dark-bg;
  width:100%;
  height:100%;
}

.overlay-bg-light {
  background-color: $overlay-light-bg;
  width:100%;
  height:100%;
}


// Subheader Showcase provisional title margin

.title-margin {
  margin: 9rem 2rem 0 2rem;
}
