// -----------------------------------------------------------
// HERO BANNER by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Hero
// ---------------------------------------------------
$hero-bg:              $gray1 !default;
$hero-content-bg:      none !default;

.hero {
  background-size: none;
  text-align: center;
  height: $size-xl;
  color: $text-basic;
  background: $hero-bg;
  overflow: hidden; // Resuelve margin compartido con elementos H1

  @include media($mobile){
    height: $size-xl;
    }
}

.hero-content {
  @include vertical-align;
  color: $text-basic;
  background: $hero-content-bg;

  @include media($mobile){

    }
}

.hero-content p {
  width: 40%;
  margin: 0 auto;
  @include media($mobile){
    width: 80%;
    }
}
