// -----------------------------------------------------------
// MENU by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Menu styles
// ::::::::::::::::::::::::::::::::::::
// Menu Basic
$navigation-bg:                 none !default ;
$menu-bg:                       none !default ;
// Item
$menu-item-text:                $gray6 !default ;
$menu-item-bg:                  $gray1 !default ;
// Item hover
$menu-item-hover-text:          $gray9 !default ;
$menu-item-hover-bg:            $gray2 !default ;
// Item active
$menu-item-active-text:         $gray9 !default ;
$menu-item-active-bg:           $gray2 !default ;

// Menu Mobile
$menu-mobile-bg:                $gray1 !default ;
// Item
$menu-mobile-item-text:         $gray6 !default ;
$menu-mobile-item-bg:           $gray1 !default ;
// Item hover
$menu-mobile-item-hover-text:   $gray9 !default ;
$menu-mobile-item-hover-bg:     $gray2 !default ;
// Item active
$menu-mobile-item-active-text:  $gray9 !default ;
$menu-mobile-item-active-bg:    $gray2 !default ;

// Menu Mobile hamburger

//btn
$menu-mobile-btn-text:         $gray9 !default;
$menu-mobile-btn-bg:           $white !default;
$menu-mobile-btn-border:       1px solid $gray2 !default;
// btn hover
$menu-mobile-btn-hover-text:     $white !default ;
$menu-mobile-btn-hover-bg:       lighten($primary, 5%) !default ;
$menu-mobile-btn-hover-border:   1px solid lighten($primary, 5%) !default ;

// Menu Mobile fade screen
$menu-mobile-fade-screen-bg:   $black !default;
$menu-mobile-border:           2px solid $gray5 !default;


.navigation {
  overflow: auto;
  background: $navigation-bg;
}

.logo {
  @include span-columns(3 of 12);
  @include media($mobile){
    @include span-columns(5 of 12);
    }
}

.logo img {
  max-height: 4rem;
  margin: 0.8rem 0 0 1rem;
  @include media($mobile){
    max-height: 4rem;
    margin: 0.5rem 0 0 0.5rem;
    }
}

.menu {
  @include span-columns(9 of 12);
  @include omega();
  background: $menu-bg;
  @include media($mobile){
    display: none;
    }
}

.menu ul {
  margin: 0;
  padding: 0;
  float: right;
  @include media($mobile){
    float: left;
    }
}

.menu ul li {
  display: inline;
  @include media($mobile){
    display: block;
    }
}

.menu ul li a {
  float: left;
  text-decoration: none;
  padding: 1.5rem 2.2rem;
  color: $menu-item-text;
  background: $menu-item-bg;
}

.menu ul li a:visited {
  color: $menu-item-text;
}

.menu ul li a:hover {
  color: $menu-item-hover-text;
  background: $menu-item-hover-bg;
}

.menu ul li a.active {
  color: $menu-item-active-text;
  background: $menu-item-active-bg;
}

// MOBILE MENU
// Based on Refills

.menu-mobile {
  $menu-mobile-width: 25rem;
  @include position(fixed, 0 0 0 auto);
  @include size($menu-mobile-width 100%);
  @include transform(translateX($menu-mobile-width));
  // @include transition(all 0.20s linear); Revisar efecto
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  z-index: 999999;
  border-left: $menu-mobile-border;
  background: $menu-mobile-bg;

  &.is-visible {
    @include transition(all 0.20s linear);
    @include transform(translateX(0));
    z-index: 99999;
    }
}

.menu-mobile-fade-screen {
  @include position(fixed, 0 0 0 0);
  @include transition;
  opacity: 0;
  visibility: hidden;
  background: $menu-mobile-fade-screen-bg;
  z-index: 88888;

  &.is-visible {
    @include transition(all 0.20s linear);
    opacity: 0.4;
    visibility: visible;
  }
}


// MENU ITEMS

.menu-mobile ul {
    margin: 0;
    padding: 0;
}

.menu-mobile ul li {
    display: block;
}

.menu-mobile ul li a {
  width: 100%;
  float: left;
  text-decoration: none;
  padding: 1rem 2rem;
  color: $menu-mobile-item-text;
  background: $menu-mobile-item-bg;
}

.menu-mobile ul li a:hover {
  color: $menu-mobile-item-hover-text;
  background: $menu-mobile-item-hover-bg;
}

.menu-mobile ul li a.active {
  color: $menu-mobile-item-active-text;
  background: $menu-mobile-item-active-bg;
}

// SHOW BUTTON :::::::::::::::

.menu-mobile-open {
  display: none;
  @include media($mobile){
    display: inline-block;
    float: right;
    }
}

.menu-mobile-open button {
  width:5rem;
  height:5rem;
  text-align: center;
  border: $menu-mobile-btn-border;
  color: $menu-mobile-btn-text;
  background: $menu-mobile-btn-bg;
}

.menu-mobile-open button:hover {
  width:5rem;
  height:5rem;
  text-align: center;
  border: $menu-mobile-btn-hover-border;
  color: $menu-mobile-btn-hover-text;
  background: $menu-mobile-btn-hover-bg;
}
