// -----------------------------------------------------------
//  HOME PAGE TEMPLATE
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.main-container {
  @include outer-container(980px);
}

.header {
  @include span-columns(12);
}

  .logo {
    @include span-columns(2 of 12);
    @media screen and (max-width: 768px){
        @include span-columns(4 of 12);
    }
  }

  .main-menu {
    @include span-columns(10 of 12);
    @media screen and (max-width: 768px){
        @include span-columns(8 of 12);
        margin-top: 0px;
    }
  }

.slideshow {
  @include span-columns(12);
  background: #DDD;
  margin-top: 20px;
}

.latest-news {
  @include span-columns(12);
  min-height: 300px;
}

// News item

.NewsSummary {
  @include span-columns(4 of 12);
  min-height: 300px;
  padding: 20px;
  background: $gainsboro;
}

.NewsSummaryLink {
  margin-bottom: 10px;
}

.NewsSummary{
    @media screen and (max-width: 768px){
        @include span-columns(12 of 12);
        margin-bottom: 15px;
    }
}

.footer {
  @include span-columns(12);
  min-height: 80px;
  padding: 10px;
  margin-top:20px;
  background: $gainsboro;
}

