/*-----------------------------------------------------------------*/
/*-------------------------- DEMO PAGE ---------------------------*/
/*-----------------------------------------------------------------*/

header {
  text-align: center;
  margin-bottom: em(50);
}

header h1 {
  font-size: em(120);
  margin-bottom: 0;

}

header h2 {
  font-size: em(22);
  letter-spacing: 12px;
  margin-left: 12px; 
  text-transform: uppercase;
  margin-top: -20px;

}

//Color picker tool styles
#colorinp {
  width: 200px;
  margin-top: 0px; 
}
// End color picker tool

section {
  padding: em(40) em(40) ;
  @include row();
  @include outer-container;
}

.header {
  height: 100px;
  text-align: center;
  @include span-columns(12);
}

.slider {
  text-align: center;
  padding: 30px 0 0 50px;
  @include span-columns(12);
}

.content {
  @include omega;
  @include span-columns(12);
}


