/*-----------------------------------------------------------------*/
/*-------------------------- SIDEBAR PAGE ---------------------------*/
/*-----------------------------------------------------------------*/

.noscroll {
  overflow: hidden;
  }

.display-block {
  display: block;
}

.layout {
  height: 100%;
  }

.center, .east, .west, .north, .south {
  border: 1px solid $gray-water;
  display: inline-block;
  overflow: auto;
  }

.north {
  height: 3.2em;
  padding: 0.5em;
  }

.south {
  height: 3em;
  padding: 0.5em;
  background: white;
  }

.center {
  padding: 1em;
  }

.east {
  width: 15em;
  padding: 0.5em;
  }

.west{
  width: 15em;
  padding: 0.5em;
  }
