<div class="centered">
  <!-- Start Social buttons -->
  <div class="social-links">
    <a class="button" href="#">
      <svg class="icon"><use xlink:href="../images/icons.svg#icon-social-facebook"></use></svg>
    </a>
    <a class="button" href="#">
      <svg class="icon"><use xlink:href="../images/icons.svg#icon-social-twitter"></use></svg>
    </a>
    <a class="button" href="#">
      <svg class="icon"><use xlink:href="../images/icons.svg#icon-social-youtube"></use></svg>
    </a>
    <a class="button" href="#">
      <svg class="icon"><use xlink:href="../images/icons.svg#icon-social-dribbble"></use></svg>
    </a>
  </div>
  <!-- End Social buttons -->
  <p class="pad">Swan UI - 2016</P>
</div>
