<div class="centered">
  <!-- Start Social buttons -->
  <div class="social-links">
    <a class="button primary" href="javascript:void(0)">
      <img src="../images/ic-social-facebook.png" alt="Facebook">
    </a>
    <a class="button primary" href="javascript:void(0)">
      <img src="../images/ic-social-twitter.png" alt="Twitter">
    </a>
    <a class="button primary" href="javascript:void(0)">
      <img src="../images/ic-social-youtube.png" alt="YouTube">
    </a>
  </div>
  <!-- End Social buttons -->
  <p class="pad">Swan UI Ⓒ 2016</P>
</div>
