<div class="navigation">
    <!-- Logo -->
    <a class="logo" href="/"><img src="{{ urlLogo }}images/logo.png" alt="Swan"></a>
    <!-- Start Menu -->
    <nav id="menu-main" class="menu" role="navigation">
      <ul>
        <li><a href="/">Overview</a></li>
        <li><a href="{{ urlPath }}base.html">Base</a></li>
        <li><a href="{{ urlPath }}components.html">Components</a></li>
        <li><a href="{{ urlPath }}layout.html">Layout</a></li>
        <li><a href="{{ urlPath }}color.html">Color</a></li>
        <li><a href="{{ urlPath }}templates.html">Templates</a></li>
      </ul>
    </nav>
    <!-- End Menu -->
    <div class="menu-mobile-open">
    	<button id="btnMenu" type="button"><label>☰</label></button>
    </div>
</div>
<div id="fadeScreen" class="menu-mobile-fade-screen"></div>
