/**
 * Created by Chirag Mehta - http://chir.ag/projects/ntc
 */

#ntc {
    padding: 24px;
}

#ntc h1 {
    text-align: center;
}

#ntc #picker {
    float: left;
}
#ntc #colortag {
    float: left;
    margin-left: 40px;
}
#ntc #colorname sup {
    color: #aaa;
    font-size: 0.6em;
    margin-left: 6px;
}
#ntc #colorname sup#solid {
    color: #966;
}
#ntc #colorpick {
    color: #000;
    font-size: 0.8em;
    margin-bottom: 4px;
    margin-left: 360px;
    margin-top: -24px;
    width: 197px;
}
#ntc #colorpick select {
    width: 195px;
}
#ntc #colorpick .w {
    color: #fff;
}
#ntc #colorbox {
    border: 4px solid #ccc;
    height: 55px;
    position: relative;
    width: 550px;
}
#ntc #colorsolid {
    border: 2px solid #ddd;
    height: 32px;
    left: 492px;
    margin: 9px;
    position: absolute;
    width: 32px;
}
#ntc #colorpanel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ccc #ccc;
    border-image: none;
    border-right: 4px solid #ccc;
    border-style: none solid solid;
    border-width: 0 4px 4px;
    color: #000;
    font-weight: bold;
    height: 55px;
    position: relative;
    width: 550px;
}
#ntc #colorhex {
    left: 16px;
    position: absolute;
    top: 19px;
}
#ntc #colorinp {
    left: 120px;
    position: absolute;
    top: 16px;
}
#ntc #colorrgb {
    left: 350px;
    position: absolute;
    top: 19px;
}
#ntc #colorlegend {
    font-size: 0.8em;
    margin: 8px;
    text-align: center;
}
#ntc .clear {
    clear: both;
}
