// -----------------------------------------------------------
// NATIVE BUTTON STYLES
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

textarea { 
    width:100%;
    font-size:1em;
    padding:0 0.5em;
    height: auto;
    min-height: 5em;
    }

textarea:focus {

    }