
// -----------------------------------------------------------
// TYPO MANAGER by Sebastian Serna - 2015
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// MY TYPOGRAPHY
// -----------------------------------------------------------

@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-Medium.otf') ;
    font-weight: normal ;
    font-style: normal ;
  }

@font-face {
    font-family: 'Raleway-Thin';
    src: url('../fonts/Raleway-Thin.otf') ;
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Aldo-PC';
    src: url('../fonts/AldoPC.ttf') ;
    font-weight: normal;
    font-style: normal;
  }

// TEXTS 
// -----------------------------------------------------------

body {
    font-family:            "Raleway-Medium", sans-serif ;           
    font-style:             normal ;}
    // -----------------------------------
h1, h2, h3, 
h4, h5, h6 {
    font-family:            "Raleway-Medium", sans-serif ;     
    font-style:             normal ;}
    // -----------------------------------
p {
    font-family:            "Raleway-Medium", sans-serif ;  
    font-style:             normal ;}
    // -----------------------------------
a { 
    font-style:             normal ;}
    // -----------------------------------
small { 
    font-style:             normal ;}
    // -----------------------------------
ul, ol, li {
    font-style:             normal ;}
    // -----------------------------------
dl, dt, dd {
    font-style:             normal ;}
    // -----------------------------------
blockquote {
    font-style:             italic ;}
    // -----------------------------------
q {
    font-style:             italic ;}
    // -----------------------------------
cite {
    font-style:             normal ;}
    // -----------------------------------

