/*-----------------------------------------------------------------*/
/*--------------------- CUSTOM FONTS ---------------------------*/
/*-----------------------------------------------------------------*/

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold-webfont.eot");
  src: url("../fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold-webfont.ttf") format("truetype"), url("../fonts/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'armataregular';
  src: url("../fonts/armata-regular_0-webfont.eot");
  src: url("../fonts/armata-regular_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/armata-regular_0-webfont.woff") format("woff"), url("../fonts/armata-regular_0-webfont.ttf") format("truetype"), url("../fonts/armata-regular_0-webfont.svg#armataregular") format("svg");
  font-weight: normal;
  font-style: normal;
}