// -----------------------------------------------------------
// BODY STYLES
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

body {
	font-family: "Raleway-Medium", sans-serif;
	}

html, body {  
	width: 100%;
	height: 100%;
	padding: 0;
	}
