// -----------------------------------------------------------
// BODY STYLES
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

body {
	font-family: "Raleway-Medium", sans-serif;
	color: $gray-dove;
	background: white;
	}

