

// NATIVE PALETTE 
// ----------------------------------------------------------- ////

$white: 			#FFFFFF ;
$blue-baked: 		#79ADD1 ;
$gray-dove: 		#727272 ;
$gray-lynch: 		#62758b ;
$gray-water: 		#d3dbf1 ;
$gray-pigeon: 		#bcc5df ;
$gray-light: 		#E3E3E3 ;
$gray-alabaster: 	#F7F7F7 ;
$gray-mercury: 		#E3E3E3 ;
$purple: 			#813986 ;
$purple-dark: 		#702C75 ;
$purple-light: 		#9B44A2 ;

