/*-----------------------------------------------------------------*/
/*--------------------- DEFAULT HTML TAGS -------------------------*/
/*-----------------------------------------------------------------*/

body {
	font-family: "Lato-Regular", sans-serif;
	line-height: em(30);
	word-spacing: em(1);
	color: $gray-dove;
	}

h1, h2, h3, h4, h5, h6	{ 
	font-family: "Armata-Regular", sans-serif;
	font-weight: normal;
	color:$gray-dove;
	}

p { 
	font-size: 90%;
	line-height: em(30);
	word-spacing: em(1);
	color: $gray-dove;
	}

a {
	color: $blue-baked;
	text-decoration: none;
	}

a:hover {
	color: $blue-baked;
	text-decoration: none;
	}

ul, ol, li {
	font-size: 95%;
	color: $gray-dove;
	}

dl, dt, dd {
	font-size: 95%;
	color: $gray-dove;
	}

small { 
	font-size: 65%;
	color: $gray-dove;
	}

blockquote {
	line-height: 1.5; 
	border-left: 1px solid $gray-dove;
	padding: 15px 15px 15px 20px;
	font-style: italic;
	font-size: 90%;
	color: $gray-dove;
	background-color: $gray-alabaster;
	}

q {
	display:block;
	line-height: 1.5; 
	border-left: 1px solid $gray-dove;
	padding: 15px 15px 15px 20px;	
	font-style: italic;
	font-size: 90%;
	margin: 15px 40px 15px 40px;
	color: $gray-dove;
	background-color: $gray-alabaster;
	}

cite {
	display:block;
	line-height: 1.5; 
	border-left: 1px solid $gray-dove;
	padding: 15px 15px 15px 20px;
	font-style: italic;
	font-size: 90%;
	margin: 15px 40px 15px 40px;
	color: $gray-dove;
	background-color: $gray-alabaster;
	}

hr {
	border: solid 1px $gray-light;
	}

img {
	display: inline-block;
	vertical-align: middle;
	}

/*------------------- TABLES --------------------*/

table {  
	border: 1px solid $gray-water; 
	border-collapse:collapse;
	width:100%;
	margin: 10px auto 30px auto;
	text-align: left;
	} 

thead { 
	height:40px;
	}

tbody { 
	height:40px;
	}

tfoot { 
	height:30px;
	}

table caption { 
	font-size:12px; 
	margin:8px; 
	} 
	
th {
	border-bottom: 1px solid $gray-water;
	border-top: 1px solid $gray-water;
	letter-spacing: 2px;
	text-align: left;
	padding: 4px 4px 6px 12px;
	background-color: $gray-alabaster;
	}

td {
	border-bottom: 1px solid $gray-water;
	padding: 0px 6px 0px 12px;
	font-size:13px;
	}


/* ------------------- FORMS -------------------- */

form { color:$gray-dove; }

legend { 
	font-size:18px; 
	margin:10px 0px; 
	color:$blue-baked; 
	}

fieldset { 
	border: 1px solid $gray-water;
	padding: 5px 40px 40px 35px;
	margin-bottom:30px;
	}

label { 
	color:$blue-baked;
	}

select {
	width: 100%; 
	margin:10px 0px;
	}

option { }

input[type="text"] { 
	width:100%;
	border:2px solid $gray-water;
	height:30px;
	font-size:1em;
	padding:3px 5px;
	margin:10px 5px;
	color:$gray-lynch;
	}

input[type="password"] { 
	width:310px !important;
	border:2px solid $gray-water;
	height:30px;
	font-size:1.5em;
	padding:3px 5px 3px 5px;
	margin:10px 5px;
	color:$gray-lynch;
	letter-spacing:3px;
	}

textarea { 
	width:100%;
	border:2px solid $gray-water;
	font-size:1em;
	padding:5px 5px;
	margin:0px 5px 10px 5px;
	margin:10px 5px;
	height: auto;
	min-height: 50px;
	color:$gray-lynch;
	}

input:focus, textarea:focus {
	border:2px solid $gray-pigeon;
	}
