// -----------------------------------------------------------
// NATIVE FORM STYLES
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

form { color:$gray-dove; }

legend { 
    font-size:1.2em; 
    color:$blue-baked; 
    }

fieldset { 
    padding: 1em 2em;
    border: 1px solid $gray-water;
    }

label { 
    color:$blue-baked;
    }

select {
    width: 100%; 
    margin:0.5em 0;
    }

option { }

input[type="text"] { 
    width:100%;
    height:2em;
    font-size:1em;
    padding:0 0.5em;
    color:$gray-dove;
    border:2px solid $gray-water;
    background: white;
    }

input[type="password"] { 
    width:100%;
    height:2em;
    font-size:1em;
    padding:0 0.5em;
    letter-spacing:3px;
    color:$gray-dove;
    border:2px solid $gray-water;
    background: white;
    }

textarea { 
    width:100%;
    font-size:1em;
    padding:0 0.5em;
    height: auto;
    min-height: 5em;
    color:$gray-dove;
    border:2px solid $gray-water;
    background: white;
	}

input:focus, textarea:focus {
    color:$gray-dove;
    border:2px solid $gray-pigeon;
    background: white;
    }


