// -----------------------------------------------------------
// NATIVE FORM STYLES
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

form { }

legend { 
    font-size:1.2em; 
    }

fieldset { 
    padding: 1em 2em;
    }

label { 
    }

select {
    width: 100%; 
    margin:0.5em 0;
    }

option { }

input[type="text"] { 
    width:100%;
    height:2em;
    font-size:1em;
    padding:0 0.5em;
    }

input[type="password"] { 
    width:100%;
    height:2em;
    font-size:1em;
    padding:0 0.5em;
    letter-spacing:3px;
    }

textarea { 
    width:100%;
    font-size:1em;
    padding:0 0.5em;
    height: auto;
    min-height: 5em;
	}

input:focus, textarea:focus {

    }


