/*-----------------------------------------------------------------*/
/*--------------------- CUSTOM STYLES ---------------------------*/
/*-----------------------------------------------------------------*/


//Este estilo sobreescribe el sintax highlighter

pre, code, samp, kbd {
    box-shadow: none;
}

code {
  font-family: monospace, monospace;
  font-size: 0.8em;
  margin:10px;
}

pre {
  border: 1px solid $gray-light; 
}

//Este estilo vuelve responsive las imágenes

img {
  max-width:100%;
  height:auto; 
}

/*-----------------------------------------------------------------*/
/*---------------------------- SHOWCASE ---------------------------*/
/*-----------------------------------------------------------------*/

.s2s-color-ref {
    width:120px;
    height:100px;
    padding:10px;
    margin:5px;
    float:left;
    }

#jqueryIcons li {
    list-style:none;
    width:20px;
    height:20px;
    float:left;
    margin:2px;
}

#jqueryIcons span {
    display:block;
    margin-top:2px;
    margin-left:2px;
}

#jqueryIcons ul {
    padding-left:0px;
}

