
// NATIVE TYPOGRAPHY
// -----------------------------------------------------------

$aldo-pc: "url('../fonts/AldoPC.ttf')" ;
$raleway-medium: "url('../fonts/Raleway-Bold.otf')" ;
$raleway-thin: "url('../fonts/Raleway-Thin.otf')" ;


@font-face {
    font-family: 'Raleway-Medium';
    src: $raleway-medium ;
    font-weight: normal ;
    font-style: normal ;
  }

@font-face {
    font-family: 'Raleway-Thin';
    src: $raleway-thin ;
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Aldo-PC';
    src: $aldo-pc ;
    font-weight: normal;
    font-style: normal;
  }