/*-----------------------------------------------------------------*/
/*--------------------- CUSTOM FONTS ---------------------------*/
/*-----------------------------------------------------------------*/

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.otf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-Medium.otf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Raleway-Thin';
    src: url('../fonts/Raleway-Thin.otf');
    font-weight: normal;
    font-style: normal;
  }