// -----------------------------------------------------------
// BODY STYLES
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Variables
// ----------------------------------------------

$body-bg:              $white !default;


// Styles
// ----------------------------------------------

html {
  font-size: 62.5%;
	}

body {
  font-size: 10px;
  background: $body-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	}
