// -----------------------------------------------------------
// BODY STYLES
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

html {
	font-size: 62.5%;
	}

body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	background: $body-bg;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	}
