// -----------------------------------------------------------
// BASE FORM by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// VARIABLES
// -----------------------------------------------------------

$form-filedset-border:   $gray2 !default;


// STYLES
// -----------------------------------------------------------

form { }

legend { 
    font-size:1.2em; 
    }

fieldset { 
    padding: 1em 2em;
    border: 1px solid $form-filedset-border;
    }

label { 
    }


option { }

