// -----------------------------------------------------------
// MEDIA ICONS by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------

// Icon
$icon-fill-color:                $gray6 !default;
$icon-stroke-color:              $gray6 !default;
$icon-stroke-width:              0 !default;
// Icon Hover
$icon-hover-fill-color:          $gray6 !default;
$icon-hover-stroke-color:        $gray6 !default;
$icon-hover-stroke-width:        0 !default;


// STYLES
// -----------------------------------------------------------

// Basic Icon Placeholder
// -----------------------------------------------------------

%icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  stroke-width: $icon-stroke-width;
  stroke: $icon-stroke-color;
  fill: $icon-fill-color;
  vertical-align: middle;
  transition:.2s;
  }

%icon:hover {
  stroke-width: $icon-hover-stroke-width;
  stroke: $icon-hover-stroke-color;
  fill: $icon-hover-fill-color;
  transition:.2s;
  }


// Global styles (sizes)
// -----------------------------------------------------------

svg {
  //border: 1px solid #eee;
}

svg path, svg g  {
  fill: inherit; // Solves the overrides with classes on Firefox
}

.icon {
  @extend %icon;
}

.icon-medium {
  @extend %icon;
  width: 4rem;
  height: 4rem;
}

.icon-large {
  @extend %icon;
  width: 6rem;
  height: 6rem;
}


.icon-huge {
  @extend %icon;
  width: 15rem;
  height: 15rem;
}

.icon-xhuge {
  @extend %icon;
  width: 30rem;
  height: 30rem;
}
