
// -----------------------------------------------------------
// MENU MANAGER by Sebastian Serna - 2015
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

//sizes

.main-menu {
    @include span-columns(10 of 12);
    @media screen and (max-width: 768px){
        @include span-columns(8 of 12);
        margin-top: 0px;
    }
}

.main-menu {
    min-height: 60px;
    margin-top: 30px;
    background: $gainsboro;
}

.main-menu li {
    list-style: none;
    float: left;
    margin-right: 30px;
}