
// -----------------------------------------------------------
// SWAN MIXINS by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Center content vertical and horizontal
// Source: https://codepen.io/hced/pen/FbdqC/

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* Theme switcher Mixim */
// Source: https://www.sitepoint.com/dealing-color-schemes-sass/

// Color themes
$themes: (
  default:   $white,
  white:     $white,
  black:     $black
);

// Helper theme mixin
// @param $name: name of the theme (HTML class)
// @param $color: color of the theme
@mixin theme($name, $color) {
  .#{$name} {
    .layout {
      background: lighten($color, 100%);
    }
    
    .layout-header {
      background: lighten($color, 0%);
    }
    
    .layout-main {
      background: lighten($color, 100%);
    }

    .layout-footer {
      background: lighten($color, 10%);
    }
  }
  
  [data-theme='#{$name}'] {
    background: $color;
    
    &:hover {
      background: darken($color, 10%);
    }
    
    &[disabled] {
      background: desaturate($color, 40%);
    }
  }
}

// Including themes 
// By looping through the $themes map
@each $key, $value in $themes {
  @include theme($key, $value);
}