
// -----------------------------------------------------------
// SWAN VARIABLES by Sebastian Serna - 2015
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// ::::: Breakpoints

$mobile: new-breakpoint(max-width 768px 4);
$tablet: new-breakpoint(max-width 980px 4);
$desktop: new-breakpoint(max-width 1920px 4);

$large-screen: 50em !default;

$border-box-sizing: true !default;

$layout-border: none; // Development purposes only

// DIMENS

$padd:      2em;

$size-xs:   3em ;
$size-s:    5em ;
$size-m:    9em ;
$size-l:    22em ;
$size-xl:   32em ;
$size-xxl:  45em ;

$width-sidebar-tiny: 4em;

// Layout Dimens

$header-size: $size-xs !default;
$main-size: auto !default;
$footer-size: $size-m !default;


// INSPIRATION: ZONE SYSTEM 
// Created by Ansel Adams and Fred Archer 
// -----------------------------------------------------------

// GRAYSCALE PALETTE variables (white to black)


$white:             #FFFFFF ; // White (HTML color: white) #FFFFFF
$gray1:             darken($white, 5%); // #F2F2F2
$gray2:             darken($white, 10%); // ??
$gray3:             darken($white, 30%); // #B3B3B3
$gray4:             darken($white, 40%); // #999999
$gray5:             darken($white, 50%); // Gray medium (HTML color: gray) #808080
$gray6:             darken($white, 65%); // #595959
$gray7:             darken($white, 70%); // #4D4D4D
$gray8:             darken($white, 80%); // #333333
$gray9:             darken($white, 85%); // #1A1A1A
$black:             darken($white, 100%); // Black (HTML color: black) #000000

$primary:           #000000 !default; // Bluemarine

// COLORS
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// General texts
// ::::::::::::::::::::::::::::::::::::

$text-basic: 			 $gray6 !default ;
$text-heading: 			 $gray8 !default ;
$text-link: 			 $gray9 !default ;
$text-link-hover: 	     $gray7 !default ;
$text-link-visited: 	 $gray7 !default ;

// Layout base styles 
// ::::::::::::::::::::::::::::::::::::

$layout-bg:              none !default ;
$header-bg:              $gray8 !default ;
$main-bg:                $white !default ;
$footer-bg:              $gray9 !default ;

// Buttons base styles 
// ::::::::::::::::::::::::::::::::::::

$btn-text:           $gray7 !default ;
$btn-border: 		 $gray2 solid 1px !default ;
$btn-bg:             $gray1 !default ;

$btn-hover-text:     $gray9 !default ;
$btn-hover-border: 	 $gray3 solid 1px !default ;
$btn-hover-bg:       $white !default ;

$btn-padding:        0.6em 1em;

// Menu colors
// ::::::::::::::::::::::::::::::::::::

$navigation-bg:          none !default ;
$menu-bg:                none !default ;
$menu-item-bg:           $gray9 !default ;
$menu-item-hover-bg:     $gray8 !default ;
$menu-item-active-bg:    $gray7 !default ;
$menu-item-text:         $gray4 !default ;
$menu-item-hover-text:   $white !default ;
$menu-item-active-text:  $white !default ;

// Menu Mobile

$menu-mobile-bg:               $gray9 !default ;
$menu-mobile-item-bg:          $gray9 !default ;
$menu-mobile-item-hover-bg:    $gray7 !default ;
$menu-mobile-item-active-bg:   $gray6 !default ;
$menu-mobile-item-text:        $gray4 !default ;
$menu-mobile-item-hover-text:  $white !default ;

$menu-mobile-btn-bg:           $gray9 !default ;
$menu-mobile-btn-text:         $white !default ;
$menu-mobile-btn-border:       $black !default ;

$menu-mobile-fade-screen-bg:   $black !default ;
$menu-mobile-border:           $gray7 !default ;

// Hero colors
// ::::::::::::::::::::::::::::::::::::

$hero-bg:              $gray1 !default;
$hero-content-bg:      none !default;


// Content summary colors
// ::::::::::::::::::::::::::::::::::::

$summary-bg:            $gray1 !default;
$summary-border:        $gray3 !default;
$summary-image-bg:      none !default;
