<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Global --> 
    <title>Two Columns Template - Swan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Experimental UI Framework">
    <!-- Favicon --> 
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-touch-icon.png" />
    <!-- Styles and fonts --> 
    <link href="../../styles/css/styles.css" media="screen" rel="stylesheet">
    <!-- IE support --> 
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="layout">
    <!-- Layout Header ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <header class="layout-header section fixed-top">
        <div class="section-content">
            <!-- Logo ::::::::::::::::: -->
            <a class="logo" href="../index.html">
              <img src="../../images/logo-white.png" alt="">
            </a>
            <!-- Menu ::::::::::::::::: -->
            <nav id="menu-main" class="menu" role="navigation">
              <ul>
                <li><a href="../index.html">Overview</a></li>
                <li><a href="text.html">Text</a></li>
                <li><a href="multimedia.html">Multimedia</a></li>
                <li><a href="controls.html">Controls</a></li>
                <li><a href="patterns.html">Patterns</a></li>
                <li><a href="color.html">Color</a></li>
              </ul>
            </nav>         
            <button type="button" class="menu-mobile-open">☰</button> 
          </div>
      <div class="menu-mobile-fade-screen"></div>
    </header>
    <!-- Layout Main Content ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <main class="layout-main" role="main">
      <!-- Section 1 :::::::::::::::::::::::::::: -->
      <section class="section">
        <div class="section-content-full">
          <!-- Hero :::::::::::::::::::: -->
          <header class="hero bg-gray5">
              <div class="hero-content">
                <h1>Templates</h1>
                <h3>2 Columns Sidebar Right</h3>
              </div>
          </header>
        </div>
      </section>
      <!-- Section 2 :::::::::::::::::::::::::::: -->
      <section class="section">
        <div class="section-content">
          <!-- Sidebar :::::::::::::::::::: -->
          <aside class="sidebar">
            <h2 class="heading">Sidebar</h2>
          </aside>
          <!-- Content :::::::::::::::::::: -->
          <article class="content">
              <h2 class="heading">Content</h2>
          </article>
        </div>
      </section>
      <!-- Section 3 :::::::::::::::::::::::::::: -->
      <section class="section">
        <div class="section-content-full">
          <!-- Hero :::::::::::::::::::: -->
          <header class="hero bg-gray5">
              <div class="hero-content">
                <h1>Templates</h1>
                <h3>2 Columns Sidebar Right</h3>
              </div>
          </header>
        </div>
      </section>
      <!-- Section 4 :::::::::::::::::::::::::::: -->
      <section class="section bg-gray6">
        <div class="section-content">
          <!-- Content :::::::::::::::::::: -->
          <article class="content">
              <h2 class="heading">Content</h2>
          </article>
          <!-- Sidebar :::::::::::::::::::: -->
          <aside class="sidebar">
            <h2 class="heading">Sidebar</h2>
          </aside>
        </div>
      </section>
      <!-- Section 5 :::::::::::::::::::::::::::: -->
      <section class="section bg-gray3">
        <div class="section-content">
          <!-- Hero :::::::::::::::::::: -->
          <header class="hero bg-gray5">
              <div class="hero-content">
                <h1>Templates</h1>
                <h3>2 Columns Sidebar Right</h3>
              </div>
          </header>
        </div>
      </section>
      <!-- Section 6 :::::::::::::::::::::::::::: -->
      <section class="section">
        <div class="section-content-full">
          <!-- Content :::::::::::::::::::: -->
          <article class="content-full">
              <h2 class="heading">Content</h2>
          </article>
        </div>
      </section>
      <!-- Section 7 :::::::::::::::::::::::::::: -->
      <section class="section bg-gray8">
        <div class="section-content">
          <!-- Content :::::::::::::::::::: -->
          <article class="col3 bg-gray5">
              <h2 class="heading">3 Cols</h2>
          </article>
          <article class="col2 bg-gray6">
              <h2 class="heading">2 Cols</h2>
          </article>
          <article class="col2 bg-gray5">
              <h2 class="heading">2 Cols</h2>
          </article>
          <article class="col3 bg-gray6">
              <h2 class="heading">3 Cols</h2>
          </article>
          <article class="col2 bg-gray5">
              <h2 class="heading">2 Cols</h2>
          </article>
        </div>
      </section>
    </main>
    <!-- Layout Footer ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <footer class="layout-footer">
        <div class="centered">
          <!-- Start Social buttons -->
          <div class="social-links">
            <a class="button" href="javascript:void(0)">
              <img src="../../images/ic-social-facebook.png" alt="Facebook">
            </a>
            <a class="button" href="javascript:void(0)">
              <img src="../../images/ic-social-twitter.png" alt="Twitter">
            </a>
            <a class="button" href="javascript:void(0)">
              <img src="../../images/ic-social-youtube.png" alt="YouTube">
            </a>
          </div>
          <!-- End Social buttons -->
          <p class="pad-top">Swan UI Ⓒ 2016</P>  
        </div>
    </footer>
</div>

<!-- Javascripts -->  
<script src="../../scripts/all/jquery-1.11.1.min.js"></script>
<script src="../../scripts/all/swan.js"></script>

</body>
</html>