<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Global --> 
    <title>Templates - Swan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Experimental UI Framework">
    <!-- Favicon --> 
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-touch-icon.png" />
    <!-- Styles and fonts --> 
    <link href="../../styles/css/styles.css" media="screen" rel="stylesheet">
    <!-- IE support --> 
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="layout">
    <!-- Layout Header ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <header class="layout-header section">
        <div class="section-content">
            <!-- Logo ::::::::::::::::: -->
            <a class="logo" href="../../index.html">
              <img src="../../images/logo-white.png" alt="">
            </a>
            <!-- Menu ::::::::::::::::: -->
            <nav id="menu-main" class="menu" role="navigation">
              <ul>
                <li><a href="../../index.html">Overview</a></li>
                <li><a href="../text.html">Text</a></li>
                <li><a href="../multimedia.html">Multimedia</a></li>
                <li><a href="../controls.html">Controls</a></li>
                <li><a href="../patterns.html">Patterns</a></li>
                <li><a href="../color.html">Color</a></li>
                <li><a href="../tmp/">Templates</a></li>
              </ul>
            </nav>         
            <button type="button" class="menu-mobile-open">☰</button> 
          </div>
      <div class="menu-mobile-fade-screen"></div>
    </header>
    <!-- Layout Main Content ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <main class="layout-main" role="main">
      <!-- Section :::::::::::::::::::::::::::: -->
      <section class="section">
        <div class="section-content-full">
          <!-- Hero :::::::::::::::::::: -->
          <header class="hero size-l bg-gray8">
              <div class="hero-content">
                <h1>Templates</h1>
              <p>Using the basic grid with 12 columns</p>
              </div>
          </header>
        </div>
      </section>
      <!-- Section 1 :::::::::::::::::::::::::::: -->
      <section class="section">
        <div class="section-content bg-gray9">
         <!-- Start Grid View :::::::::::::::::::: -->
          <section class="gridview">
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="content-full-subheader.html" target="_self" >
                <img class="gridview-item-figure" src="../../images/layout-01.png" alt="">
              </a>
            </article> 
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="content-full-hero.html" target="_self" >
                <img class="gridview-item-figure" src="../../images/layout-02.png" alt="">
              </a>
            </article> 
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="sidebar-right-hero.html" target="_self" >
                <img class="gridview-item-figure" src="../../images/layout-03.png" alt="">
              </a>
            </article> 
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="sidebar-left-hero.html" target="_self" >
                <img class="gridview-item-figure" src="../../images/layout-04.png" alt="">
              </a>
            </article> 
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="sidebar-right.html" target="_self" >
                <img class="gridview-item-figure" src="../../images/layout-05.png" alt="">
              </a>
            </article> 
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="sidebar-left.html" target="_self" >
                <img class="gridview-item-figure" src="../../images/layout-06.png" alt="">
              </a>
            </article>
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="sidebar-left-subheader.html" target="_self" >
                <img class="gridview-item-figure" src="../../images/layout-07.png" alt="">
              </a>
            </article>
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="sidebar-right-subheader.html" target="_self" >
                <img class="gridview-item-figure" src="../../images/layout-08.png" alt="">
              </a>
            </article>
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="content-full-multicolumns.html" target="_self" >
                <img class="gridview-item-figure" src="../../images/layout-09.png" alt="">
              </a>
            </article>
          </section>
          <!-- End Grid View :::::::::::::::::::: -->
 
        </div>
      </section>

    </main>
    <!-- Layout Footer ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <footer class="layout-footer">
        <div class="centered">
          <!-- Start Social buttons -->
          <div class="social-links">
            <a class="button" href="javascript:void(0)">
              <img src="../../images/ic-social-facebook.png" alt="Facebook">
            </a>
            <a class="button" href="javascript:void(0)">
              <img src="../../images/ic-social-twitter.png" alt="Twitter">
            </a>
            <a class="button" href="javascript:void(0)">
              <img src="../../images/ic-social-youtube.png" alt="YouTube">
            </a>
          </div>
          <!-- End Social buttons -->
          <p class="pad-top">Swan UI Ⓒ 2016</P>  
        </div>
    </footer>
</div>

<!-- Javascripts -->  
<script src="../../scripts/all/jquery-1.11.1.min.js"></script>
<script src="../../scripts/all/swan.js"></script>

</body>
</html>