<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Global --> 
    <title>Sidebar Left + Hero - Swan Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Experimental UI Framework">
    <!-- Favicon --> 
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-touch-icon.png" />
    <!-- Styles and fonts --> 
    <link href="../../styles/css/styles.css" media="screen" rel="stylesheet">
    <!-- IE support --> 
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="layout">
    <!-- Layout Header ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <header class="layout-header section">
        <div class="section-content">
            <!-- Logo ::::::::::::::::: -->
            <a class="logo" href="../../index.html">
              <img src="../../images/logo-white.png" alt="">
            </a>
            <!-- Menu ::::::::::::::::: -->
            <nav id="menu-main" class="menu" role="navigation">
              <ul>
                <li><a href="../../index.html">Overview</a></li>
                <li><a href="../text.html">Text</a></li>
                <li><a href="../multimedia.html">Multimedia</a></li>
                <li><a href="../controls.html">Controls</a></li>
                <li><a href="../patterns.html">Patterns</a></li>
                <li><a href="../color.html">Color</a></li>
                <li><a href="../tmp/">Templates</a></li>
              </ul>
            </nav>         
            <button type="button" class="menu-mobile-open">☰</button> 
          </div>
      <div class="menu-mobile-fade-screen"></div>
    </header>
    <!-- Layout Main Content ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <main class="layout-main" role="main">
      <!-- Section :::::::::::::::::::::::::::: -->
      <section class="section">
        <div class="section-content-full">
          <!-- Hero :::::::::::::::::::: -->
          <header class="hero size-xl">
              <div class="hero-content">
                <h1>Master Hero</h1>
                <h3>Section headline</h3>
              </div>
          </header>
        </div>
      </section>
      <!-- Section :::::::::::::::::::::::::::: -->
      <section class="section">
        <div class="section-content">
          <!-- Sidebar :::::::::::::::::::: -->
          <aside class="sidebar pad">
            <h2>Sidebar</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis magna tortor. Sed dapibus sapien ac est tristique, eu faucibus nulla fermentum. Aenean at purus mi. Nulla facilisi. Proin euismod, augue ac dictum ullamcorper, velit lorem faucibus augue, nec luctus quam urna nec nisl. Curabitur sit amet malesuada lorem, ut consequat urna. Nunc ac velit vitae ipsum vehicula gravida. Nullam arcu magna, feugiat at maximus non, consequat id erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tempor pellentesque pretium.</p>
          </aside>
          <!-- Content :::::::::::::::::::: -->
          <article class="content pad">
            <h2>Content</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis magna tortor. Sed dapibus sapien ac est tristique, eu faucibus nulla fermentum. Aenean at purus mi. Nulla facilisi. Proin euismod, augue ac dictum ullamcorper, velit lorem faucibus augue, nec luctus quam urna nec nisl. Curabitur sit amet malesuada lorem, ut consequat urna. Nunc ac velit vitae ipsum vehicula gravida. Nullam arcu magna, feugiat at maximus non, consequat id erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tempor pellentesque pretium.</p>
            <p>Consectetur adipiscing elit. Cras quis magna tortor. Sed dapibus sapien ac est tristique, eu faucibus nulla fermentum. Aenean at purus mi. Nulla facilisi. Proin euismod, augue ac dictum ullamcorper, velit lorem faucibus augue, nec luctus quam urna nec nisl. Curabitur sit amet malesuada lorem, ut consequat urna. Nunc ac velit vitae ipsum vehicula gravida. Nullam arcu magna, feugiat at maximus non, consequat id erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tempor pellentesque pretium.</p>
            <p>Augue ac dictum ullamcorper, velit lorem faucibus augue, nec luctus quam urna nec nisl. Curabitur sit amet malesuada lorem, ut consequat urna. Nunc ac velit vitae ipsum vehicula gravida. Nullam arcu magna, feugiat at maximus non, consequat id erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tempor pellentesque pretium.</p>
            <p>Consectetur adipiscing elit. Cras quis magna tortor. Sed dapibus sapien ac est tristique, eu faucibus nulla fermentum. Aenean at purus mi. Nulla facilisi. Proin euismod, augue ac dictum ullamcorper, velit lorem faucibus augue, nec luctus quam urna nec nisl. Curabitur sit amet malesuada lorem, ut consequat urna. Nunc ac velit vitae ipsum vehicula gravida. Nullam arcu magna, feugiat at maximus non, consequat id erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tempor pellentesque pretium.</p>

          </article>
        </div>
      </section>
    </main>
    <!-- Layout Footer ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <footer class="layout-footer">
        <div class="centered">
          <!-- Start Social buttons -->
          <div class="social-links">
            <a class="button" href="javascript:void(0)">
              <img src="../../images/ic-social-facebook.png" alt="Facebook">
            </a>
            <a class="button" href="javascript:void(0)">
              <img src="../../images/ic-social-twitter.png" alt="Twitter">
            </a>
            <a class="button" href="javascript:void(0)">
              <img src="../../images/ic-social-youtube.png" alt="YouTube">
            </a>
          </div>
          <!-- End Social buttons -->
          <p class="pad-top">Swan UI Ⓒ 2016</P>  
        </div>
    </footer>
</div>

<!-- Javascripts -->  
<script src="../../scripts/all/jquery-1.11.1.min.js"></script>
<script src="../../scripts/all/swan.js"></script>

</body>
</html>