{% extends "default.twig" %}
{% set title = "Base - Swanix" %}
{% set pageTitle = "Base" %}
{% set assetsPath = "assets/" %}
{% set urlLogo = "../" %}
{% set is_hidden = 0 %}

{% block content %}

{% include 'partials/app-subheader.twig' %}


<h2 class="heading">Multimedia</h2>

<!-- Image :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Image" %}
  {% set example_id = "image" %}
  {% set example_code %}{% include 'partials/base-media-image.twig' %}{% endset %}
{% endembed %}

<!-- Icons :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Icons" %}
  {% set example_id = "icons" %}
  {% set example_code %}{% include 'partials/base-media-icons.twig' %}{% endset %}
{% endembed %}

<!-- Audio :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Audio (Embed)" %}
  {% set example_id = "audio" %}
  {% set example_code %}{% include 'partials/base-media-audio-embed.twig' %}{% endset %}
{% endembed %}

<!-- Video :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Video (Embed)" %}
  {% set example_id = "video" %}
  {% set example_code %}{% include 'partials/base-media-video.twig' %}{% endset %}
{% endembed %}


<h2 class="heading">Typography</h2>

<!-- Text Headings :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Headings" %}
  {% set example_id = "headings" %}
  {% set example_code %}{% include 'partials/base-media-text-headings.twig' %}{% endset %}
{% endembed %}

<!-- Text Paragraphs + a,em tags :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Paragraph" %}
  {% set example_id = "paragraph" %}
  {% set example_code %}{% include 'partials/base-media-text-paragraph.twig' %}{% endset %}
{% endembed %}

<!-- Ordered List :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Ordered List" %}
  {% set example_id = "ordered-list" %}
  {% set example_code %}{% include 'partials/base-media-text-list-ol.twig' %}{% endset %}
{% endembed %}

<!-- Unordered List :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Unordered List" %}
  {% set example_id = "ordered-list" %}
  {% set example_code %}{% include 'partials/base-media-text-list-ul.twig' %}{% endset %}
{% endembed %}

<!-- Definition List :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Definition List" %}
  {% set example_id = "ordered-list" %}
  {% set example_code %}{% include 'partials/base-media-text-list-def.twig' %}{% endset %}
{% endembed %}

<!-- Text Tables :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Tables" %}
  {% set example_id = "tables" %}
  {% set example_code %}{% include 'partials/base-media-text-table.twig' %}{% endset %}
{% endembed %}

<!-- Text Quote :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Text Quote" %}
  {% set example_id = "text-quote" %}
  {% set example_code %}{% include 'partials/base-media-text-quote.twig' %}{% endset %}
{% endembed %}

<!-- Text Blockquote :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Text Blockquote" %}
  {% set example_id = "text-quote" %}
  {% set example_code %}{% include 'partials/base-media-text-quote-block.twig' %}{% endset %}
{% endembed %}

<!-- Text Pre / Code :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Text Pre - Code" %}
  {% set example_id = "pre-code" %}
  {% set example_code %}{% include 'partials/base-media-text-pre.twig' %}{% endset %}
{% endembed %}

<!-- Text Misc :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Misc Stuff (abbr, sub, sup, etc)" %}
  {% set example_id = "text-misc" %}
  {% set example_code %}{% include 'partials/base-media-text-other.twig' %}{% endset %}
{% endembed %}


<h2 class="heading">Interactive</h2>

<!-- Buttons :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Buttons" %}
  {% set example_id = "buttons" %}
  {% set example_code %}{% include 'partials/base-control-buttons.twig' %}{% endset %}
{% endembed %}

<!-- Buttons Input :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Buttons (input tag)" %}
  {% set example_id = "buttons-input" %}
  {% set example_code %}{% include 'partials/base-control-buttons-input.twig' %}{% endset %}
{% endembed %}

<!-- Buttons Link :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Buttons (link tag)" %}
  {% set example_id = "buttons-link" %}
  {% set example_code %}{% include 'partials/base-control-buttons-link.twig' %}{% endset %}
{% endembed %}

<!-- Icon Buttons :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Icon Buttons" %}
  {% set example_id = "icon-buttons" %}
  {% set example_code %}{% include 'partials/base-control-buttons-icons.twig' %}{% endset %}
{% endembed %}

<!-- Radio Buttons :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Radio Buttons" %}
  {% set example_id = "radio-buttons" %}
  {% set example_code %}{% include 'partials/base-control-radio-buttons.twig' %}{% endset %}
{% endembed %}

<!-- Checkboxes :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Checkboxes" %}
  {% set example_id = "checkboxes" %}
  {% set example_code %}{% include 'partials/base-control-checkboxes.twig' %}{% endset %}
{% endembed %}

<!-- Select (Dropdown) :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Dropdown" %}
  {% set example_id = "dropdown" %}
  {% set example_code %}{% include 'partials/base-control-select.twig' %}{% endset %}
{% endembed %}

<!-- Text input :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Text input" %}
  {% set example_id = "text-input" %}
  {% set example_code %}{% include 'partials/base-control-text-input.twig' %}{% endset %}
{% endembed %}

<!-- Textarea :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Textarea" %}
  {% set example_id = "textarea" %}
  {% set example_code %}{% include 'partials/base-control-textarea.twig' %}{% endset %}
{% endembed %}

<!-- Form container :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Form container" %}
  {% set example_id = "form" %}
  {% set example_code %}{% include 'partials/base-control-basic-form.twig' %}{% endset %}
{% endembed %}

<!-- Switch :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Switch" %}
  {% set example_id = "switch" %}
  {% set example_code %}{% include 'partials/base-control-switches.twig' %}{% endset %}
{% endembed %}

<!-- Progress Indicator :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Progress Indicator" %}
  {% set example_id = "progress" %}
  {% set example_code %}{% include 'partials/base-control-progress.twig' %}{% endset %}
{% endembed %}

<!-- Scroll Panel :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "Scroll Panel" %}
  {% set example_id = "scroll-panel" %}
  {% set example_code %}{% include 'partials/base-control-scrollbar.twig' %}{% endset %}
{% endembed %}

<!-- File Input :::::::::::::::::::::::::::::::::: -->
{% embed "code-example.twig" %}
  {% set example_title = "File Input" %}
  {% set example_id = "file-input" %}
  {% set example_code %}{% include 'partials/base-control-file-input.twig' %}{% endset %}
{% endembed %}

{% endblock %}