{% extends "layouts/default.htm" %}
{% set title = "Base - Swan" %}
{% set pageTitle = "Base" %}
{% set urlPath = "" %}
{% set urlLogo = "../" %}

{% block content %}


<h1 class="heading">Multimedia</h1>
<hr />

<!-- Media Image :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Image</h2>
{% include "layouts/partials/base/media-image.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/media-image.htm" %} ]]>
    </script>
</div>

<!-- Media Icons :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Icons</h2>
{% include "layouts/partials/base/media-icons.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/media-icons.htm" %} ]]>
    </script>
</div>

<!-- Media Icon Buttons :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Icon Buttons</h2>
{% include "layouts/partials/base/control-buttons-icons.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/control-buttons-icons.htm" %} ]]>
    </script>
</div>

<!-- Text Headings :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Texts</h2>
{% include "layouts/partials/base/media-text-headings.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/media-text-headings.htm" %} ]]>
    </script>
</div>

<!-- Text Paragraphs + a,em tags :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Paragraph</h2>
{% include "layouts/partials/base/media-text-paragraph.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/media-text-paragraph.htm" %} ]]>
    </script>
</div>

<!-- Text Lists :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">List Types</h2>

<!-- Ordered List -->
<h3 class="heading">Ordered List</h3>
{% include "layouts/partials/base/media-text-list-ol.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/media-text-list-ol.htm" %} ]]>
    </script>
</div>

<!-- Unordered List -->
<h3 class="heading">Unordered List</h3>
{% include "layouts/partials/base/media-text-list-ul.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/media-text-list-ul.htm" %} ]]>
    </script>
</div>

<!-- Definition List -->
<h3 class="heading">Definition List</h3>
{% include "layouts/partials/base/media-text-list-def.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/media-text-list-def.htm" %} ]]>
    </script>
</div>

<!-- Text Tables :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Tables</h2>
{% include "layouts/partials/base/media-text-table.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/media-text-table.htm" %} ]]>
    </script>
</div>

<!-- Text Quote :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Text Quote</h2>
{% include "layouts/partials/base/media-text-quote.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/media-text-quote.htm" %} ]]>
    </script>
</div>

<!-- Text Blockquote :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Text Blockquote</h2>
{% include "layouts/partials/base/media-text-quote-block.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/media-text-quote-block.htm" %} ]]>
    </script>
</div>

<!-- Text Pre / Code :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Text Pre - Code</h2>
{% include "layouts/partials/base/media-text-pre.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/media-text-pre.htm" %} ]]>
    </script>
</div>

<!-- Text Misc :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Misc Stuff (abbr, sub, sup, etc)</h2>
{% include "layouts/partials/base/media-text-other.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/media-text-other.htm" %} ]]>
    </script>
</div>


<h1 class="heading">Interactive</h1>
<hr />

<!-- Buttons :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Buttons</h2>
{% include "layouts/partials/base/control-buttons.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/control-buttons.htm" %} ]]>
    </script>
</div>

<!-- Buttons Input :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Buttons (input tag)</h2>
{% include "layouts/partials/base/control-buttons-input.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/control-buttons-input.htm" %} ]]>
    </script>
</div>

<!-- Buttons Link :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Buttons (link tag)</h2>
{% include "layouts/partials/base/control-buttons-link.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/control-buttons-link.htm" %} ]]>
    </script>
</div>

<!-- Radio Buttons :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Radio Buttons</h2>
{% include "layouts/partials/base/control-radio-buttons.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/control-radio-buttons.htm" %} ]]>
    </script>
</div>

<!-- Checkboxes :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Checkboxes</h2>
{% include "layouts/partials/base/control-checkboxes.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/control-checkboxes.htm" %} ]]>
    </script>
</div>

<!-- Select (Dropdown) :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Select (Dropdown)</h2>
{% include "layouts/partials/base/control-select.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/control-select.htm" %} ]]>
    </script>
</div>

<!-- Text Input :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Text input</h2>
{% include "layouts/partials/base/control-text-input.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/control-text-input.htm" %} ]]>
    </script>
</div>

<!-- Textarea :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Textarea</h2>
{% include "layouts/partials/base/control-textarea.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/control-textarea.htm" %} ]]>
    </script>
</div>

<!-- File Input :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">File Input</h2>
{% include "layouts/partials/base/control-file-input.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/control-file-input.htm" %} ]]>
    </script>
</div>

<!-- Form containers :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Form container</h2>
{% include "layouts/partials/base/control-basic-form.htm" %}
<!-- Code Example -->
<button class="js-toggle">&#60;&#47;&#62; Show Code</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include "layouts/partials/base/control-basic-form.htm" %} ]]>
    </script>
</div>


{% endblock %}
