{% extends "layouts/default.htm" %}
{% set title = "Color - Swan" %}
{% set pageTitle = "Color" %}
{% set urlPath = "" %}
{% set urlLogo = "../" %}

{% block content %}

<h2 class="heading">Color Palette</h2>

  <div class="object bg-white pad"><p>$white: #FFFFFF</p></div>
  <div class="object bg-gray1 pad"><p>$gray1: #F2F2F2</p></div>
  <div class="object bg-gray2 pad"><p>$gray2: #CCCCCC</p></div>
  <div class="object bg-gray3 pad"><p>$gray3: #B3B3B3</p></div>
  <div class="object bg-gray4 pad"><p>$gray4: #999999</p></div>
  <div class="object bg-gray5 pad"><p>$gray5: #808080</p></div>
  <div class="object bg-gray6 pad"><p>$gray6: #595959</p></div>
  <div class="object bg-gray7 pad"><p>$gray7: #4D4D4D</p></div>
  <div class="object bg-gray8 pad"><p>$gray8: #333333</p></div>
  <div class="object bg-gray9 pad"><p>$gray9: #1A1A1A</p></div>
  <div class="object bg-black pad"><p>$black: #000000</p></div>

{% endblock %}
