{% extends "default.html.twig" %}
{% set title = "Colors - Swan" %}
{% set pageTitle = "Colors" %}
{% set assetsPath = "/" %}
{% set urlLogo = "../" %}
{% set is_hidden = 0 %}

{% block content %}

{% include 'partials/app-subheader.html.twig' %}

<h2 class="heading">Color Palette</h2>

<div class="bg-white pad"><p class="gray7">$white: #FFFFFF</p></div>
<div class="bg-gray1 pad"><p class="gray7">$gray1: #F2F2F2</p></div>
<div class="bg-gray2 pad"><p class="gray7">$gray2: #CCCCCC</p></div>
<div class="bg-gray3 pad"><p class="gray7">$gray3: #B3B3B3</p></div>
<div class="bg-gray4 pad"><p class="gray7">$gray4: #999999</p></div>
<div class="bg-gray5 pad"><p class="white">$gray5: #808080</p></div>
<div class="bg-gray6 pad"><p class="white">$gray6: #595959</p></div>
<div class="bg-gray7 pad"><p class="white">$gray7: #4D4D4D</p></div>
<div class="bg-gray8 pad"><p class="white">$gray8: #333333</p></div>
<div class="bg-gray9 pad"><p class="white">$gray9: #1A1A1A</p></div>
<div class="bg-black pad"><p class="white">$black: #000000</p></div>

{% endblock %}