{% extends "default.html.twig" %}
{% set title = "Layout - Swan" %}
{% set pageTitle = "Layout" %}
{% set assetsPath = "../assets/" %}
{% set urlLogo = "../" %}
{% set is_hidden = 0 %}

{% block content %}

{% include 'partials/app-subheader.html.twig' %}

<!-- Templates :::::::::::::::::::::::::::: -->
<h2 class="heading">Basic Layouts</h2>
{% include 'partials/layout-basic-layouts.html.twig' %}

<!-- Grid Columns :::::::::::::::::::::::::::::::::: -->
<h2 class="heading">Grid Columns</h2>
{% include 'partials/layout-basic-columns.html.twig' %}
<!-- Code Example -->
<button class="js-toggle circle" data-tooltip="Show Code" data-tooltip-pos="right">
  <svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#code"></use></svg>
</button>
<div class="js-toggle-hidden">
    <script type="syntaxhighlighter" class="brush: xml">
    <![CDATA[ {% include 'partials/layout-basic-columns.html.twig' %} ]]>
    </script>
</div>

{% endblock %}