{% extends "layouts/default.htm" %}
{% set title = "Templates - Swan" %}
{% set pageTitle = "Templates" %}
{% set urlPath = "" %}
{% set urlLogo = "../" %}

{% block content %}

<!-- Section 1 :::::::::::::::::::::::::::: -->
<section class="section">
  <div class="section-content">
   <!-- Start Grid View :::::::::::::::::::: -->
    <section class="gridview">
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="content-full-subheader.html" target="_self" >
          <img class="gridview-item-figure" src="../images/layout-01.png" alt="">
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="content-full-hero.html" target="_self" >
          <img class="gridview-item-figure" src="../images/layout-02.png" alt="">
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="sidebar-right-hero.html" target="_self" >
          <img class="gridview-item-figure" src="../images/layout-03.png" alt="">
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="sidebar-left-hero.html" target="_self" >
          <img class="gridview-item-figure" src="../images/layout-04.png" alt="">
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="sidebar-right.html" target="_self" >
          <img class="gridview-item-figure" src="../images/layout-05.png" alt="">
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="sidebar-left.html" target="_self" >
          <img class="gridview-item-figure" src="../images/layout-06.png" alt="">
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="sidebar-left-subheader.html" target="_self" >
          <img class="gridview-item-figure" src="../images/layout-07.png" alt="">
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="sidebar-right-subheader.html" target="_self" >
          <img class="gridview-item-figure" src="../images/layout-08.png" alt="">
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="content-full-multicolumns.html" target="_self" >
          <img class="gridview-item-figure" src="../images/layout-09.png" alt="">
        </a>
      </article>
    </section>
    <!-- End Grid View :::::::::::::::::::: -->
  </div>
</section>

{% endblock %}
