// -----------------------------------------------------------
// BUTTONS by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------

// Btn
$btn-text:                  $gray7 !default;
$btn-border:                $gray2 solid 1px !default;
$btn-bg:                    $gray1 !default;
// Btn hover
$btn-hover-text:            $gray9 !default;
$btn-hover-border:          $gray3 solid 1px !default;
$btn-hover-bg:              $white !default;
// Btn padding
$btn-padding:               1rem 1rem !default;

// Btn Primary
$btn-primary-text:          $gray1 !default;
$btn-primary-border:        $white solid 2px !default;
$btn-primary-bg:            $primary !default;
// Btn Primary hover
$btn-primary-hover-text:    $white !default;
$btn-primary-hover-border:  $white solid 2px !default;
$btn-primary-hover-bg:      $gray8 !default;


// STYLES
// -----------------------------------------------------------

// Basic Button Placeholder
// ----------------------------------------------

%button {
  vertical-align: middle;
  transition:.2s;
  display: inline-block;
  padding: $btn-padding;
  color: $btn-text;
  border: $btn-border;
  background: $btn-bg;
  font-size: $text-medium;
  outline:0; // Solves Chrome border focus
  }

%button:hover {
  vertical-align: middle;
  transition:.2s;
  color: $btn-hover-text;
  border: $btn-hover-border;
  background: $btn-hover-bg;
  outline:0; // Solves Chrome border focus
  }


// styles using Bourbon Buttons (Variable)
// http://bourbon.io/docs/#buttons-variable
// ----------------------------------------------

#{$all-buttons} {
  @extend %button;
  }

#{$all-buttons-focus},
#{$all-buttons-hover} {
  @extend %button:hover;
  }

#{$all-buttons-active} {

  }

// Button classes
// ----------------------------------------------

.button {
  @extend %button;
  }

.button:hover {
  @extend %button:hover;
  }

.button a:visited {
  color: $btn-text;
  }

.button a {
  color: $btn-text;
  }

// Primary Button - Accent Color

.primary, .primary a {
  color: $btn-primary-text;
  border: $btn-primary-border;
  background: $btn-primary-bg;
  }

.primary:hover, .primary a:hover  {
  color: $btn-primary-hover-text;
  border: $btn-primary-hover-border;
  background: $btn-primary-hover-bg;
  }

.primary:visited, .primary a:visited {
  color: $btn-primary-text ;
  }

// Shapes
// ----------------------------------------------

.rounded {
    border-radius: 50px;
    min-width: 100px;
    padding: 1rem 2rem;
    }

.circle {
    border-radius: 50%;
    text-align: center;
    padding:  1rem 1.1rem;
    }

.small {
    width: 25px;
    height: 25px;
    }

.fill {
    width: 100%;
    text-align: center;
    }
