/*------------------------------------------------------------
  Icons - Component
------------------------------------------------------------*/

// VARIABLES
// -----------------------------------------------------------

// Icon
$icon-fill-color:                $gray6 !default;
$icon-stroke-color:              $gray6 !default;
$icon-stroke-width:              0 !default;
// Icon Hover
$icon-hover-fill-color:          $gray6 !default;
$icon-hover-stroke-color:        $gray6 !default;
$icon-hover-stroke-width:        0 !default;
// Sizes
$icon-size-small:                1.6rem !default;
$icon-size-medium:               2.4rem !default;
$icon-size-large:                3.2rem !default;
$icon-size-huge:                 6.4rem !default;

// STYLES
// -----------------------------------------------------------

// svg {
//   background: black;
// }

svg path, svg g  {
  //fill: inherit; // Solves the overrides with classes on Firefox
}

.icon {
  display: inline-block;
  width: $icon-size-medium;
  height: $icon-size-medium;
  stroke-width: $icon-stroke-width;
  stroke: currentColor;
	fill: currentColor;
	color: $icon-fill-color;
  vertical-align: middle;
  transition:.2s;

  &.small {
    width: $icon-size-small;
    height: $icon-size-small;
  }
  
  &.medium {
    width: $icon-size-medium;
    height: $icon-size-medium;
  }
  
  &.large {
    width: $icon-size-large;
    height: $icon-size-large;
  }
  
  &.huge {
    width: $icon-size-huge;
    height: $icon-size-huge;
  }

  &.only {
    margin-right: 0 !important;
  } 

}

.icon:hover {
  stroke-width: $icon-hover-stroke-width;
  stroke: currentColor;
  fill: currentColor;
  color: $icon-hover-fill-color;
}