// -----------------------------------------------------------
//  SWAN STYLES by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

@import "swan/abstract/variables";

//$layout-border: solid green 2px; // Development purposes only

// CUSTOM STYLES
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// Basic Palette

$primary:             #019D90 ; // Purple
$secondary:           #723489 ; // Turquoise


// General
// ::::::::::::::::::::::::::::::::::::
$body-bg:              $white ;

// Texts
// ::::::::::::::::::::::::::::::::::::
$text-basic:           $gray6 ;
$text-heading:         lighten($secondary, 5%) ;
$text-link:            $gray9 ;
$text-link-hover:      $gray7 ;
$text-link-visited:    $gray9 ;
$text-selection:       $gray6 ;
$text-selection-bg:    $gray2 ;
// Horizontal rule        
$hr-color:             $gray3 ;


// Layout base styles 
// ::::::::::::::::::::::::::::::::::::
$layout-bg:             none ;
$layout-header-bg:      $primary ;
$layout-main-bg:        $white ;
$layout-footer-bg:      $gray1 ;
$content-bg: 		    $white ;
$sidebar-bg: 		    $gray1 ;


// Hero styles 
// ::::::::::::::::::::::::::::::::::::
$hero-bg:              $gray1 ;
$hero-content-bg:      none ;


// Buttons base styles 
// ::::::::::::::::::::::::::::::::::::

// Btn
$btn-text:                   $gray7 ;
$btn-border:                 $gray2 solid 1px ;
$btn-bg:                     $gray1 ;
// Btn hover
$btn-hover-text:             $gray9 ;
$btn-hover-border:           $gray3 solid 1px ;
$btn-hover-bg:               $white ;
// Btn padding
$btn-padding:                0.6em 1em ;

// Btn Primary
$btn-primary-text:           $gray1 ;
$btn-primary-border:         $white solid 2px ;
$btn-primary-bg:             $primary ;
// Btn Primary hover
$btn-primary-hover-text:     $white ;
$btn-primary-hover-border:   $white solid 2px ;
$btn-primary-hover-bg:       $gray8 ;


// Input text and Textarea styles 
// ::::::::::::::::::::::::::::::::::::

// Input text (text, password, email)
$input-text:                $gray6 ;
$input-text-border:         $gray3 solid 1px ;
$input-text-bg:             $white ;
// Input text focus
$input-text-focus:          $gray7 ;
$input-text-focus-border:   $gray5 solid 1px ;
$input-text-focus-bg:       $white ;

// Select (dropdown) styles
// ::::::::::::::::::::::::::::::::::::

$dropdown-text:             $gray8 ;
$dropdown-border:           $gray5 solid 1px ;
$dropdown-bg:               $gray1 url(../../images/ic-arrow-down.png) right no-repeat ;


// List, card, grid and article view styles
// ::::::::::::::::::::::::::::::::::::  

// Item
$view-item-text:                   $gray7 ;
$view-item-bottom-border:          none ;
$view-item-image-bg:               none ;
$view-item-bg:                     $gray1 ;
// Item hover
$view-item-hover-text:             $gray9 ;
$view-item-hover-bottom-border:    none ;
$view-item-hover-image-bg:         none ;
$view-item-hover-bg:               darken($white, 2%) ;


// Menu styles
// ::::::::::::::::::::::::::::::::::::

// Menu Basic
$navigation-bg:                 none ;
$menu-bg:                       none ;
// Item
$menu-item-text:                $gray1 ;
$menu-item-bg:                  $primary ;
// Item hover
$menu-item-hover-text:          $white ;    
$menu-item-hover-bg:            lighten($primary, 2%) ;
// Item active
$menu-item-active-text:         $white ;
$menu-item-active-bg:           lighten($primary, 5%) ;

// Menu Mobile
$menu-mobile-bg:                 $gray1 ;
// Item
$menu-mobile-item-text:          $gray6 ;
$menu-mobile-item-bg:            $gray1 ;
// Item hover
$menu-mobile-item-hover-text:    $gray9 ;
$menu-mobile-item-hover-bg:      $gray2 ;
// Item active
$menu-mobile-item-active-text:   $gray9 ;
$menu-mobile-item-active-bg:     $gray2 ;

// Menu Mobile hamburger btn
$menu-mobile-btn-text:         $gray9 ;
$menu-mobile-btn-bg:           $white ;
$menu-mobile-btn-border:       1px solid $gray2 ;
// Menu Mobile fade screen
$menu-mobile-fade-screen-bg:   $black ;
$menu-mobile-border:           2px solid $gray5 ;


@import "swan/core";
