<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en" ><![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Global --> 
    <title>Swan - Basic Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Favicon --> 
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/apple-touch-icon" />
    <!-- Styles and fonts --> 
    <link href="../styles/css/styles.min.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="app" class="layout_main">
      <!-- Header :::::::::::::::::::::: -->
      <div id="header" class="layout_header">
        <div class="logo-main">
          <a class="logo" href="#">
          <img src="../images/logo-app.png" alt="Logo">
          </a>
        </div>
        <header class="navigation" role="banner">
          <div class="navigation-wrapper">
            <nav role="navigation">
              <ul id="js-navigation-menu" class="navigation-menu show">
                <li class="nav-link"><a href="javascript:void(0)">Home</a></li>
                <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
                <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
                <li class="nav-link"><a href="javascript:void(0)">Work</a></li>
                <li class="nav-link more">
                  <a href="javascript:void(0)">More</a>
                  <ul class="submenu">
                    <li><a href="javascript:void(0)">Submenu Item</a></li>
                    <li><a href="javascript:void(0)">Another Item</a></li>
                    <li class="more">
                      <a href="javascript:void(0)">Item with submenu</a>
                      <ul class="submenu">
                        <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
                        <li><a href="javascript:void(0)">Another Item</a></li>
                      </ul>
                    </li>
                    <li class="more">
                      <a href="javascript:void(0)">Another submenu</a>
                      <ul class="submenu">
                        <li><a href="javascript:void(0)">Sub-submenu</a></li>
                        <li><a href="javascript:void(0)">An Item</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-link active-nav-item"><a href="javascript:void(0)">Contact</a></li>
              </ul>
            </nav>
            <div class="navigation-tools">
              <div class="search-bar">
                <a href="#" class="btn-dark circle">
                  <img src="../images/ic-social-facebook.png" alt="Facebook">
                </a>
                <a href="#" class="btn-dark circle">
                  <img src="../images/ic-social-twitter.png" alt="Twitter">
                </a>
                <a href="#" class="btn-dark circle">
                  <img src="../images/ic-social-youtube.png" alt="Youtube">
                </a>  
              </div>
            </div>
          </div>
        </header>
        <header class="header menu-mobile fixed--top">
          <a id="cd-logo" href="#0"><img src="../images/logo-app.png" alt="Home"></a>
          <a id="cd-menu-trigger" href="#0">
          <span class="cd-menu-text">Menu</span>
          <span class="cd-menu-icon"></span>
          </a>
        </header>
        <nav id="cd-lateral-nav" role="navigation">
          <ul id="js-navigation-menu" class="navigation-menu show">
            <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
            <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
            <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
            <li class="nav-link more">
              <a href="javascript:void(0)">More</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Submenu Item</a></li>
                <li><a href="javascript:void(0)">Another Item</a></li>
                <li class="more">
                  <a href="javascript:void(0)">Item with submenu</a>
                  <ul class="submenu">
                    <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
                    <li><a href="javascript:void(0)">Another Item</a></li>
                  </ul>
                </li>
                <li class="more">
                  <a href="javascript:void(0)">Another submenu</a>
                  <ul class="submenu">
                    <li><a href="javascript:void(0)">Sub-submenu</a></li>
                    <li><a href="javascript:void(0)">An Item</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Content Area :::::::::::::::::::::: --> 
      <div id="contentarea" class="layout_content cd-main-content">
        <!-- Subheader :::::::::::::::::::::: -->
        <div id="subheader" class="layout_subheader">
          <div class="section-title">
            <h2>SECTION TITLE</h2>
          </div>
          <div class="section-options">
          </div>
        </div>
        <!-- Content :::::::::::::::::::::: -->
        <div class="content">
          <div class="content-image">
            <img src="http://placehold.it/655x270">
          </div>
          <div class="content-title">
            <h1>The Swan UI Project is here</h1>
          </div>
          <div class="content-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed lacus eget lectus convallis aliquam. Praesent id laoreet libero. Curabitur at est dapibus, rhoncus arcu vel, pretium orci. Maecenas posuere nisi vehicula, consectetur lectus eu, pretium augue. Fusce venenatis pretium arcu, vitae dictum lacus tincidunt vel. In porttitor mauris in neque posuere mattis. Nullam vitae tempus ante. Nunc risus libero, egestas at tellus ac, gravida imperdiet libero. Ut vel aliquam nunc, vel facilisis ligula. Curabitur et interdum elit. Nulla blandit nec erat blandit commodo. Aenean placerat commodo nisi, sed tincidunt tortor consequat id. Nam dapibus, ligula id facilisis condimentum, leo quam tincidunt augue, eget mattis eros erat sit amet mauris. Nulla at sapien eu ante molestie pretium in nec eros.</p>
            <p>Sed sollicitudin, odio a pulvinar pharetra, mauris magna ultrices nisi, sit amet sagittis nisl metus nec ipsum. Etiam viverra rhoncus congue. Mauris auctor tortor vitae facilisis sollicitudin. Sed at felis feugiat, vulputate justo sit amet, sodales quam. Maecenas pharetra velit in nisl fermentum, nec porta urna elementum. Cras mattis tortor eget semper blandit. Proin quis sagittis lacus. Morbi non quam vel quam mattis tincidunt nec a elit. Aenean quis ornare turpis. Nullam ac bibendum est. Integer pellentesque arcu a quam mollis, et viverra nibh maximus. </p>
            <p>Quisque eu nisi nulla. Quisque posuere ut erat non euismod. Aliquam a risus lectus. Sed lorem ligula, mattis eu gravida eu, facilisis ut odio. Integer ultricies purus eu ligula auctor sagittis. In interdum lectus ligula, vitae vulputate leo laoreet id. Nam tincidunt felis sit amet mollis volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum nunc id enim finibus, vitae imperdiet mi laoreet. Integer quis risus ut metus posuere vestibulum. Sed tempus auctor mi at egestas. Nam eu feugiat orci. Nullam eget finibus quam, nec ultricies mi. Vestibulum faucibus pellentesque consectetur.</p>
          </div>
          <div class="cards">
            <div class="card">
              <a href="#">
                <div class="card-image">
                  <img src="http://placehold.it/320x120" alt="">
                </div>
                <div class="card-summary">
                  <h3>Abierta convocatoria al 3er Laboratorio Internacional de Guion</h3>
                  <p>Hasta el 23 de julio se recibirán las historias que quieran ser postuladas.</p>
                </div>
              </a>
            </div>
            <div class="card">
              <div class="card-image">
                <img src="http://placehold.it/320x120" alt="">
              </div>
              <div class="card-summary">
                <h3><a href="#">En memoria de Orson Welles</a></h3>
                <p>Cinefilia le rinde homenaje a este director en la conmemoración de los 100 años de su nacimiento.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-image">
                <img src="http://placehold.it/320x120" alt="">
              </div>
              <div class="card-summary">
                <h3><a href="#">La discusión sobre el cine en Medellín está abierta</a></h3>
                <p>Este joven director plantea algunas preguntas al porqué en Medellín no hacemos tanto cine como en otras ciudades..</p>
              </div>
            </div>
            <div class="card">
              <div class="card-image">
                <img src="http://placehold.it/320x120" alt="">
              </div>
              <div class="card-summary">
                <h3><a href="#">La discusión sobre el cine en Medellín está abierta</a></h3>
                <p>Este joven director plantea algunas preguntas al porqué en Medellín no hacemos tanto cine como en otras ciudades..</p>
              </div>
            </div>
            <div class="return">
              < Volver
            </div>
          </div>
        </div>
        <!-- Sidebar :::::::::::::::::::::: -->
        <div class="sidebar">
          <div class="banner" style="display:none;">
            <img src="http://placehold.it/380x320/242424/ffffff/">
          </div>
          <div class="panel">
            <div class="panel-title">
              <h3 class="to-center">
              Related Content
              <h3/>
            </div>
            <div class="panel-content">
              <ul class="listview">
                <li>
                  <a href="#">
                    <img src="http://placehold.it/100x100" >
                    <h3>El IV FICME entregó más de 30 millones en premios</h3>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="http://placehold.it/100x100" >
                    <h3>Narrar en la Era Digital - Guion de Web Series. Curso de Verano</h3>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="http://placehold.it/100x100" >
                    <h3>Abierta convocatoria al 3er Laboratorio Internacional de Guion</h3>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="http://placehold.it/100x100" >
                    <h3>La discusión sobre el cine en Medellín está abierta: Mauricio Maldonado</h3>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="http://placehold.it/100x100" >
                    <h3>Seminario intensivo: el 'casting' en el cine</h3>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="http://placehold.it/100x100" >
                    <h3>¿Por qué en Medellín no hacemos tanto cine como en otras ciudades?</h3>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer :::::::::::::::::::::: -->        
      <div id="footer" class="layout_footer">
        <p class="to-center">Swan Project - 2015</p>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../scripts/all/offcanvas.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    var menuToggle = $('#js-mobile-menu').unbind();
    $('#js-navigation-menu').removeClass("hide");
    menuToggle.on('click', function(e) {
    e.preventDefault();
    $('#js-navigation-menu').slideToggle(function(){
    if($('#js-navigation-menu').is(':hidden')) {
    $('#js-navigation-menu').removeAttr('style');
    }
    });
    });
    });
    </script>
  </body>
</html>