// -----------------------------------------------------------
// SHAME FILE :(
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Themes switch
.themeselect {
  width: em(130);
}

// Using for color palettes
.object {
 padding: em(10);
}

// Fixed positions

.fixed-top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;    
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    z-index: 20;    
}

.fixed-left {
    position: fixed;
    top: 0;
    z-index: 20;
}

.fixed-right {
  position: fixed;
  right: 0;
  z-index: 20;   
}

.hide {
  display: none;
}

// ORDENAR

.to-right {
  float:right;
}

.to-left {
  float:left;
}

.to-center {
  text-align:center;
}