
// -----------------------------------------------------------
// ROUND CORNERS by Sebastian Serna - 2015
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// ROUNDED CLASSES 

$round-unit: 1em ;

.rounded {
    -webkit-border-radius: $round-unit;
    -moz-border-radius: $round-unit;
    border-radius: $round-unit;
}

.rounded--top {
    -webkit-border-top-left-radius: $round-unit;
    -webkit-border-top-right-radius: $round-unit;
    -moz-border-radius-topleft: $round-unit;
    -moz-border-radius-topright: $round-unit;
    border-top-left-radius: $round-unit;
    border-top-right-radius: $round-unit;
}

.rounded--topLeft {
    -webkit-border-top-left-radius: $round-unit;
    -moz-border-radius-topleft: $round-unit;
    border-top-left-radius: $round-unit;
}

.rounded--topRight {
    -webkit-border-top-right-radius: $round-unit;
    -moz-border-radius-topright: $round-unit;
    border-top-right-radius: $round-unit;
}

.rounded--bottom {
    -webkit-border-bottom-left-radius: $round-unit;
    -webkit-border-bottom-right-radius: $round-unit;
    -moz-border-radius-bottomleft: $round-unit;
    -moz-border-radius-bottomright: $round-unit;
    border-bottom-left-radius: $round-unit;
    border-bottom-right-radius: $round-unit;
}

.rounded--bottomLeft {
    -webkit-border-bottom-left-radius: $round-unit;
    -moz-border-radius-bottomleft: $round-unit;
    border-bottom-left-radius: $round-unit;
}

.rounded--bottomRight {
    -webkit-border-bottom-right-radius: $round-unit;
    -moz-border-radius-bottomright: $round-unit;
    border-bottom-right-radius: $round-unit;
}

