
// -----------------------------------------------------------
// SWAN THEME by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Source examples
// https://zellwk.com/blog/organizing-multiple-theme-styles-with-sass/
// https://codepen.io/celar/pen/dXRNQo


// Variables
$color-black : #000;
$color-white : #fff;
$color-alpha : #ff0000;

$themes: (
  blue: (
    color-alpha: blue,
    color-beta: orange
  ),
  red: (
    color-alpha: $color-alpha,
    color-beta: $color-white
  )
);

// Styles
body {
  font-size: 100%;
  font-family: Arial, Verana, Helvetica;
}
form {
  margin: 0 0 30px 0;
}

.component {
  background-color: $color-alpha;
  color: $color-white;
  display: inline-block;
  padding: 20px;
  
  .component__title {
    margin: 0;
  }
}

@function map-fetch($map, $keys) {
  $key: nth($keys, 1);
  $length: length($keys);
  $value: map-get($map, $key);
  
  
  @if $value != null {
    @if $length > 1 {
      $rest: ();
      
      @for $i from 2 through $length {
        $rest: append($rest, nth($keys, $i))
      }
      
      @return map-fetch($value, $rest);
    } @else {
      @return $value;
    }
  } @else {
    @return false;
  }
}

@function getThemifyVariable($key) {
  @return map-get($theme-map, $key);
}

@mixin themify ($themes: $themes) {
  @each $theme, $map in $themes {
    .#{$theme} & {
      // Define theme color
      $theme-map : (
          color-alpha: blue
      ) !global;
      
      @each $key, $submap in $map {
        $value: map-fetch($themes, $theme '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      
      @content;
      
      // reset theme color to null
      $theme-map: null !global;
    }
  }
}


//
// USAGE
//
.component {
  @include themify() {
    background-color: getThemifyVariable('color-alpha');
    color: getThemifyVariable('color-beta');
  }
}