
// -----------------------------------------------------------
// SWAN THEMES by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Based on examples
// https://zellwk.com/blog/organizing-multiple-theme-styles-with-sass/
// https://codepen.io/celar/pen/dXRNQo

$themes: (

  theme-white: (

    // General
    // ::::::::::::::::::::::::::::::::::::
    body-bg:           none ,

    // Texts
    // ::::::::::::::::::::::::::::::::::::
    text-basic:           $gray6 ,
    text-heading:         $gray8 ,
    text-link:            $gray9 ,
    text-link-hover:      $gray7 ,
    text-link-visited:    $gray7 ,
    text-selection:       $gray6 ,
    text-selection-bg:    $gray2 ,

    // Layout base styles 
    // ::::::::::::::::::::::::::::::::::::
    layout-bg:            none ,
    header-bg:            $gray1 ,
    main-bg:              $white ,
    footer-bg:            $gray1 ,

    // Hero styles 
    // ::::::::::::::::::::::::::::::::::::
    hero-bg:              $gray2 ,
    hero-content-bg:      none ,

    // Buttons base styles 
    // ::::::::::::::::::::::::::::::::::::
    // Btn
    btn-text:           $gray7 ,
    btn-border:         $gray2 solid 1px ,
    btn-bg:             $gray1 ,
    // Btn hover
    btn-hover-text:     $gray9 ,
    btn-hover-border:   $gray3 solid 1px ,
    btn-hover-bg:       $white ,
    // Btn padding
    btn-padding:        0.6em 1em ,

    // Btn Primary
    btn-primary-text:           $gray1 ,
    btn-primary-border:         $white solid 2px ,
    btn-primary-bg:             $primary ,
    // Btn Primary hover
    btn-primary-hover-text:     $white ,
    btn-primary-hover-border:   $white solid 2px ,
    btn-primary-hover-bg:       $gray8 ,

    // Input text and Textarea styles 
    // ::::::::::::::::::::::::::::::::::::
    // Input text (text, password, email)
    input-text:                $gray6 ,
    input-text-border:         $gray3 solid 1px ,
    input-text-bg:             $white ,
    // Input text focus
    input-text-focus:          $gray7 ,
    input-text-focus-border:   $gray5 solid 1px ,
    input-text-focus-bg:       $white ,

    // Input textarea
    input-textarea:                $gray6 ,
    input-textarea-border:         $gray3 solid 1px ,
    input-textarea-bg:             $white ,
    // Input textarea focus
    input-textarea-focus:          $gray7 ,
    input-textarea-focus-border:   $gray5 solid 1px ,
    input-textarea-focus-bg:       $white ,

    // Select (dropdown) styles
    // ::::::::::::::::::::::::::::::::::::
    dropdown-text:             $gray8 ,
    dropdown-border:           $gray5 solid 1px ,
    dropdown-bg: url(../../images/ic-arrow-down.png) 96% / 20px no-repeat $gray1 ,

    // Summary styles
    // ::::::::::::::::::::::::::::::::::::  

    summary-text:               $gray7 ,
    summary-bottom-border:      $gray4 ,
    summary-bg:                 $gray1 ,
    summary-image-bg:           $gray4 ,

    // Menu styles
    // ::::::::::::::::::::::::::::::::::::
    // Menu Basic
    navigation-bg:           none ,
    menu-bg:                 none ,
    menu-item-text:          $gray6 ,
    menu-item-bg:            $gray1 ,
    menu-item-hover-text:    $gray9 ,    
    menu-item-hover-bg:      $gray2 ,
    menu-item-active-text:   $gray9 ,
    menu-item-active-bg:     $gray2 ,
    // Menu Mobile
    menu-mobile-bg:                 $gray1,
    menu-mobile-item-text:          $gray6 ,
    menu-mobile-item-bg:            $gray1 ,
    menu-mobile-item-hover-text:    $gray9 ,
    menu-mobile-item-hover-bg:      $gray2 ,
    menu-mobile-item-active-text:   $gray9 ,
    menu-mobile-item-active-bg:     $gray2 ,
    // Menu Mobile hamburger btn
    menu-mobile-btn-text:         $gray9 ,
    menu-mobile-btn-bg:           $white ,
    menu-mobile-btn-border:       1px solid $gray2 ,
    // Menu Mobile fade screen
    menu-mobile-fade-screen-bg:   $black ,
    menu-mobile-border:           2px solid $gray5

  ),


  theme-black: (

    // General texts
    // ::::::::::::::::::::::::::::::::::::
    text-basic:           $gray3 ,
    text-heading:         $gray1 ,
    text-link:            $gray9 ,
    text-link-hover:      $gray7 ,
    text-link-visited:    $gray7 ,
    text-selection:       $gray1 ,
    text-selection-bg:    $gray7 ,

    // Layout base styles 
    // ::::::::::::::::::::::::::::::::::::
    layout-bg:            none ,
    header-bg:            $black ,
    main-bg:              $black ,
    footer-bg:            $gray9 ,

    // Hero styles 
    // ::::::::::::::::::::::::::::::::::::
    hero-bg:              $gray9 ,
    hero-content-bg:      none ,
    
    // Buttons base styles 
    // ::::::::::::::::::::::::::::::::::::
    // Btn
    btn-text:           $gray2 ,
    btn-border:         $gray7 solid 1px ,
    btn-bg:             $gray8 ,
    // Btn hover
    btn-hover-text:     $white ,
    btn-hover-border:   $gray6 solid 1px ,
    btn-hover-bg:       $gray7 ,
    // Btn padding
    btn-padding:        0.6em 1em ,

    // Btn Primary
    btn-primary-text:           $gray1 ,
    btn-primary-border:         $white solid 2px ,
    btn-primary-bg:             $primary ,
    // Btn Primary hover
    btn-primary-hover-text:     $white ,
    btn-primary-hover-border:   $white solid 2px ,
    btn-primary-hover-bg:       $gray8 ,

    // Input text and Textarea styles 
    // ::::::::::::::::::::::::::::::::::::
    // Input text (text, password, email)
    input-text:                $gray2 ,
    input-text-border:         $gray8 solid 1px ,
    input-text-bg:             $gray9 ,
    // Input text focus
    input-text-focus:          $white ,
    input-text-focus-border:   $gray8 solid 1px ,
    input-text-focus-bg:       $gray8 ,

    // Input textarea
    input-textarea:                $gray2 ,
    input-textarea-border:         $gray8 solid 1px ,
    input-textarea-bg:             $gray9 ,
    // Input textarea focus
    input-textarea-focus:          $white ,
    input-textarea-focus-border:   $gray8 solid 1px ,
    input-textarea-focus-bg:       $gray8 ,

    // Select (dropdown) styles
    // ::::::::::::::::::::::::::::::::::::
    dropdown-text:             $gray1 ,
    dropdown-border:           $gray5 solid 1px ,
    dropdown-bg: url(../../images/ic-arrow-down-white.png) 96% / 20px no-repeat $gray9 ,

    // Summary styles
    // ::::::::::::::::::::::::::::::::::::  

    summary-text:               $gray7 ,
    summary-bottom-border:      $gray4 ,
    summary-bg:                 $gray9 ,
    summary-image-bg:           $black ,

    // Menu styles
    // ::::::::::::::::::::::::::::::::::::
    // Menu Basic
    navigation-bg:           none ,
    menu-bg:                 none ,
    menu-item-text:          $gray4 ,    
    menu-item-bg:            $black ,
    menu-item-hover-text:    $gray2 ,    
    menu-item-hover-bg:      $gray9 ,
    menu-item-active-text:   $white ,
    menu-item-active-bg:     $gray9 ,
    // Menu Mobile
    menu-mobile-bg:                 $gray9,
    menu-mobile-item-text:          $gray4 ,
    menu-mobile-item-bg:            $gray9 ,
    menu-mobile-item-hover-text:    $white ,
    menu-mobile-item-hover-bg:      $gray5 ,
    menu-mobile-item-active-text:   $white ,
    menu-mobile-item-active-bg:     $gray8 ,
    // Menu Mobile hamburger btn
    menu-mobile-btn-text:         $gray1 ,
    menu-mobile-btn-bg:           $black ,
    menu-mobile-btn-border:       1px solid $gray8 ,
    // Menu Mobile fade screen
    menu-mobile-fade-screen-bg:   $black ,
    menu-mobile-border:           2px solid $gray8 

  )

);

// THEMES FUNCTION

@function map-fetch($map, $keys) {
  $key: nth($keys, 1);
  $length: length($keys);
  $value: map-get($map, $key);
  
  
  @if $value != null {
    @if $length > 1 {
      $rest: ();
      
      @for $i from 2 through $length {
        $rest: append($rest, nth($keys, $i))
      }
      
      @return map-fetch($value, $rest);
    } @else {
      @return $value;
    }
  } @else {
    @return false;
  }
}

@function getTheme($key) {
  @return map-get($theme-map, $key);
}

@mixin themify ($themes: $themes) {
  @each $theme, $map in $themes {
    .#{$theme} & {
      // Define theme color
      $theme-map : (
          color-primary: $white
      ) !global;
      
      @each $key, $submap in $map {
        $value: map-fetch($themes, $theme '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      
      @content;
      
      // reset theme color to null
      $theme-map: null !global;
    }
  }
}


