
// -----------------------------------------------------------
// TYPO MANAGER by Sebastian Serna - 2015
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// MY TYPOGRAPHY
// -----------------------------------------------------------

<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> dev
=======

>>>>>>> master
@font-face {
    font-family: 'AldoPC';
    src: url('../../fonts/AldoPC.ttf');
    font-weight: normal;
    font-style: normal;
    }

<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> master
@font-face {
    font-family: 'oswald_regularregular';
    src: url('../../fonts/oswald-regular-webfont.eot');
    src: url('../../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('../../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../../fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('../../fonts/oswald-regular-webfont.svg#oswald_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

<<<<<<< HEAD
>>>>>>> dev
=======
>>>>>>> master
// TEXTS 
// -----------------------------------------------------------

body {
    font-family: Tahoma, Geneva, sans-serif;           
    font-style:             normal;
    }
    // -----------------------------------
h1, h2, h3, 
h4, h5, h6 {
<<<<<<< HEAD
<<<<<<< HEAD
    font-family: AldoPC, Tahoma, sans-serif ;
    font-style:             normal;
=======
    font-family: 'oswald_regularregular', Tahoma, Geneva, sans-serif;
    //font-style:             normal;
>>>>>>> dev
=======
    font-family: 'oswald_regularregular', Tahoma, Geneva, sans-serif;
    //font-style:             normal;
>>>>>>> master
    }
    // -----------------------------------
p {
    font-family: Tahoma, Geneva, sans-serif; 
<<<<<<< HEAD
<<<<<<< HEAD
    font-style:             normal;
    }
    // -----------------------------------
a { 
    font-family: AldoPC, Tahoma, sans-serif ;
=======
=======
>>>>>>> master
    //font-style:             normal;
    }
    // -----------------------------------
a { 
    font-family: Tahoma, sans-serif ;
<<<<<<< HEAD
>>>>>>> dev
=======
>>>>>>> master
    font-style:             normal;
    }
    // -----------------------------------
small { 
    font-style:             normal;
    }
    // -----------------------------------
ul, ol, li {
    font-family: AldoPC, Tahoma, sans-serif ;
    font-style:             normal;
    }
    // -----------------------------------
dl, dt, dd {
    font-style:             normal;
    }
    // -----------------------------------
blockquote {
    font-style:             italic;
    }
    // -----------------------------------
q {
    font-style:             italic;
    }
    // -----------------------------------
cite {
    font-style:             normal;
    }
    // -----------------------------------
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> master
nav li a {
    font-family: 'oswald_regularregular', Tahoma, Geneva, sans-serif;
    }
    // -----------------------------------
.nav a {
    font-family: 'oswald_regularregular', Tahoma, Geneva, sans-serif;
    }
    // -----------------------------------
<<<<<<< HEAD
>>>>>>> dev
=======
>>>>>>> master

// CUSTOM MODULES 
// -----------------------------------------------------------

.typo-preview td {
    font-family: Tahoma, Geneva, sans-serif;
    }
    // -----------------------------------
