// -----------------------------------------------------------
//  MAIN CONTENT V0.2 Alpha by Sebastian Serna 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

    .content-image {
        width: 100%;
        background: $black;
        @include media($mobile){
            }
    }   

    .content-image img {
        border-top-right-radius: 2em;
        height: auto;
        @include media($mobile){
            border-top-right-radius: 0em;
            border-top-left-radius: 0em;
            height: auto;
            }
    }   

    .content-title {
        padding: 0 2em;
        font-size: 0.8em;
        @include media($mobile){
            padding: 0 1.5em;
            }
    }   

    .content-body {
        padding: 0 2em;
        @include media($mobile){
            padding: 0 1.5em;
            }
    }

    .content-body p {
        @include media($mobile){
            font-size: 1em;
            line-height: 1.5em;
            }
    }

    .month, .year, .day {
        font-size: 0.6em;
    }


    .banner img {
        margin-bottom: 1em;
        @include media($mobile){
            width: 100%;
            height: auto;
            margin-top: 1.5em;
            }
    }

.content-body a { 
    color: #964CD3;
    //padding:0 0.15em;
    }

.content-body a:hover { 
    color: $white;
    background: #964CD3;
    }

// Catalog summary

.title-detail-cursos h2 {
    color:$white;
    margin-top: 0.5em;
    @include media($mobile){
        display: none !important;
     }    
}

.title-detail-cursos {
    border-top:3px solid #4E9CD5;
    @include media($mobile){
        //height:150px !important;
     }   
}

.btn-registro-detail {
    float:right;
    @include media($mobile){
        float:none;
        width: 100%;
        display: inline-block;
        z-index: 1000;
        margin-left: -10px;
     }  
}


.catalog__summary {
    width: 100%;
    display: block;
    clear: both;
    overflow: auto;
    padding-bottom:30px;
    @include media($mobile){
        } 
}

.catalog__title {
    @include span-columns(12);
}

.catalog__content {
    //overflow: auto;
}

    .catalog__content-image {
        display: inline-block;
        width: 40%;
        @include media($mobile){
            width: 100%;
            height: 180px;
            overflow: hidden;
         }        
    }

        .catalog__content-image img {
            @include media($mobile){
                width: 100%;
             }        
        }

    .catalog__content-text {
        display: inline-block;
        vertical-align: top;
        width: 55%;
        @include media($mobile){
            width: 100%;
         }   
    }

        .catalog__content-text ul {
            padding-left:10px;
            @include media($mobile){
                padding-left:5px;
             }   
        }

    .catalog__content-profile {
        background:#f2f2f2;
        padding:0 10px; 
        margin: 0 4px 0 0;
        border-radius:15px;
    }

.catalog__footer {
    @include span-columns(12);
}


.catalog__summary li {
    list-style: none;
    line-height: 2em;

}

.catalog__summary h4 {
    text-transform: uppercase;

}


