// -----------------------------------------------------------
// BASIC PAGE LAYOUT MANAGER V0.1 Alpha by Sebastian Serna 
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// MAIN LAYOUT CONTAINER
// -----------------------------------------------------------

body {
	background: $black;
}

.layout_main {
	@include outer-container(980px);
}

// HEADER
// -----------------------------------------------------------

.layout_header {
	@include span-columns(12);
	height: $size-m;
    @media screen and (max-width: 768px){
		height: $size-s;
    }
}

	.logo-main {
		@include span-columns(2);
		height: $size-m;
		padding: 0.5em;
	    @media screen and (max-width: 768px){
	    	@include span-columns(12);
			text-align: center;
			padding: 0.5em;
	    }
	}

	.menu-main {
		@include span-columns(10);
		height: 3.5em;
		background: $gray8;
		margin-top: 2em;
	    font-size: 0.9rem;
	    border:solid 1px $gray7; 
	    text-transform: uppercase;   
		@include border-top-radius(0.5em);
		@include border-bottom-radius(0.5em);		
	    @media screen and (max-width: 768px){
	        @include span-columns(0 of 12);
	        margin-top: 0px;
	        display: none;
	    }
	}

	.menu-main li {
	    list-style: none;
	    float: left;
	    margin-right: 20px;
	}

	.menu-main li a {

	}

	.menu-main ul {
	    list-style: none;
	    float: left;
	    margin-right: 20px;
	    display: inline-block;
}

// SUBHEADER
// -----------------------------------------------------------

.layout_subheader {
	@include span-columns(12);
	height: $size-m;
	background: $gray8;
	padding: 1em 2em;
	@include border-top-radius(1em);
    @media screen and (max-width: 768px){
		height: $size-s;
		padding: 0.2em 1em;
    }
}

.layout_subheader h2 {
	color: $gray4;
}

// CONTENT
// -----------------------------------------------------------

.layout_content {
	@include span-columns(12);

}
	.content {
	    @include span-columns(8, block-collapse);
	    background: $white;
	    padding-bottom: 2em;
		@include border-bottom-radius(1em);
	    @media screen and (max-width: 768px){
	        @include span-columns(12 of 12);
			@include border-bottom-radius(0);
	        }
	}
		.content-image {
			background: $gray8;
		    @media screen and (max-width: 768px){
		        }
		}	

		.content-image img {
			border-top-right-radius: 2em;
		    @media screen and (max-width: 768px){
				border-top-right-radius: 1.2em;
				border-top-left-radius: 1.2em;
		        }
		}	

		.content-title {
    		padding: 0 2em;
		    @media screen and (max-width: 768px){
				padding: 0 1em;
		        }
		}	

		.content-body {
    		padding: 0 2em;
		    @media screen and (max-width: 768px){
				padding: 0 1.5em;
		        }
		}

	.sidebar {
	    @include span-columns(4);
	    @include omega;
	    background: $gray8;
		@include border-bottom-radius(1em);
	    @media screen and (max-width: 768px){
	        @include span-columns(12 of 12);
	        }
	}

		.banner img {
			border-top-left-radius: 2em;
			border-top-right-radius: 2em;
		    @media screen and (max-width: 768px){
				border-top-right-radius: 0;
				border-top-left-radius: 0;
				border-bottom-right-radius: 1.2em;
				border-bottom-left-radius: 1.2em;
		        }
		}

	.sidebar h3 {
	    color: $gray2;
	}

	.sidebar a {
		color: $gray3;
	}

// FOOTER
// -----------------------------------------------------------

.layout_footer {
	margin-top: 2em;
	@include border-top-radius(1em);
	@include span-columns(12);
}

