// -----------------------------------------------------------
// BASIC PAGE LAYOUT MANAGER V0.1 Alpha by Sebastian Serna 
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// ::::: Breakpoints

$mobile: new-breakpoint(max-width 768px 4);

$color-start: rgba(0,0,0,0.8) 30%;
$color-end: rgba(178,178,178,0.3) 90%; 

// MAIN LAYOUT CONTAINER
// -----------------------------------------------------------

body {
  background: $gray7 url("../../images/bg-body.jpg") no-repeat fixed center center;
    @include media($mobile){
		background:none;
		background-color: $gray9;
    }
}

.layout_main {
	@include outer-container(980px);
}

// HEADER
// -----------------------------------------------------------

.layout_header {
	@include span-columns(12);
	height: $size-m;
	//margin-bottom:1em;
    @media screen and (max-width: 768px){
		height: $size-xs;
    }
}

	.logo-main {
		@include span-columns(2);
		padding: 0.5em;
	    @include media($mobile){
	    	@include span-columns(2);
			text-align: center;
			padding: 0.5em;
			display: none;
	    }
	}

	.logo-main img {
		margin: 0.8em 0 0 1.5em;
		width: 50%;
	    @include media($mobile){
			width: 3.4em;
	    }
	}
	header.navigation {
		@include span-columns(10);
		@include media($mobile){
	        @include span-columns(0 of 12);
	        margin-top: 0px;
	        display: none;
	    }	
	}
	.navigation-wrapper, .navigation {
		@include span-columns(10);
		@include media($mobile){
	        @include span-columns(0 of 12);
	        margin-top: 0px;
	        display: none;
	    }
	}


	.menu-mobile {
		display: none;
		font-family: AldoPC;
		//box-shadow: 0 2px 4px darken($black, 10%);    
		@include media($mobile){
	        display: block;
	    }
	}

// Fixed positions

.fixed--top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
    height: $size-xs;
	background: $gray9;    
}

.fixed--bottom {
    position: fixed;
    bottom: 0;
    z-index: 20;    
}

.fixed--left {
    position: fixed;
    top: 0;
    z-index: 20;
}

.fixed--right {
    position: fixed;
    right: 0;
    z-index: 20;   
}

// Menu mobile

.menu-left {
	text-align:left;
	@include span-columns(3);
}

.menu-left button, .menu-right button {
	height: $size-xs;
}

.menu-center {
	text-align:center;
	@include span-columns(6);
}

.menu-center h2 {
	color: $gray4;
	text-transform: uppercase;
	font-size: 1.2em;
}


.menu-right {
	text-align:right;
	@include span-columns(3);
}

.ic-social {
	display:inline-block;
	margin-right: 0.3em;
	margin-top: 0.2em;
}


.submenu {
	@include span-columns(8 of 8);
    @include media($mobile){
		display: none;
    }	
}

.menu-categories ul {
	list-style:none;
	float:left;
}

.menu-categories li {
	font-family: AldoPC;
	float:left;
	margin-right: 2em;
	color: $gray3;
    @include media($mobile){

    }	
}

.menu-categories li a {
	color: $gray3;
}

.menu-categories li a:hover {
	color: $gray1;
}


// SUBHEADER
// -----------------------------------------------------------

.layout_subheader {
	@include span-columns(12);
	height: $size-m;
	@include background(linear-gradient(top, $gray8, $black));
	padding: 1em 2em;
	@include border-top-radius(2em);
    @include media($mobile){
    	text-align: center;
		height: 3.8em;
		margin-top: 1em;
		@include border-top-radius(1em);
		padding: 0.1em 1.2em;
		display: none;
    }
}

.layout_subheader h2 {
	color: $gray5;
	text-transform: uppercase;
	font-size: 2em;
    @media screen and (max-width: 768px){
		font-size: 1.5em;
    }
}

// CONTENT
// -----------------------------------------------------------

.layout_content {
	@include span-columns(12);

}
	.content {
	    @include span-columns(8, block-collapse);
	    background: $white;
		@include border-bottom-radius(1em);
	    @include media($mobile){
	        @include span-columns(12 of 12);
			@include border-bottom-radius(0);
	        }
	}

		.content h4 {
			background: $gray8;
			color: $white;
			padding: 0.7em 0 0.7em 1em;
			@include border-bottom-radius(0.5em);
			@include border-top-radius(0.5em);
		}


		.content-image {
			background: $gray8;
			width: 100%;
		    @include media($mobile){
		        }
		}	

		.content-image img {
			border-top-right-radius: 2em;
			height: auto;
		    @include media($mobile){
				border-top-right-radius: 0em;
				border-top-left-radius: 0em;
				height: auto;
		        }
		}	

		.content-title {
    		padding: 0 2em;
    		font-size: 0.8em;
		    @include media($mobile){
				padding: 0 1.5em;
		        }
		}	

		.content-body {
    		padding: 0 2em;
		    @include media($mobile){
				padding: 0 1.5em;
		        }
		}

		.content-body p {
		    @include media($mobile){
				font-size: 1em;
				line-height: 1.5em;
		        }
		}

	.sidebar {
	    @include span-columns(4);
	    @include omega;
	    background: $gray8;
	    padding-bottom: 2em;
		@include border-bottom-radius(1em);
	    @include media($mobile){
	        @include span-columns(12 of 12);
	        }
	}

		.banner img {
			margin-bottom: 1em;
		    @include media($mobile){
		    	width: 100%;
		    	height: auto;
				margin-top: 1.5em;
		        }
		}

	.sidebar h3 {
	    color: $gray2;
	}

	.sidebar a {
		color: $gray5;
	}

	.panel-title {
	    @include background(linear-gradient(top, $gray8, $gray9));
		line-height: 3em;
	    @include border-top-radius(0.5em);
	}

	.panel-title h3 {
		margin-top: 0;
		margin-bottom: 0;
	}

// LISTVIEW
// -----------------------------------------------------------

	.listview {
		padding-left: 0;
	}

	.listview h3 {
		font-size: 1em;
		line-height: 1.2em;
		display:inline;
	    @include media($mobile){
			//margin: 0.1em 0.5em 0 0;
	        }
	}

	.listview li a {
		display: block; 
		width: 100%; 
		height: 100%;
	}

	.listview li a h3 {
		color: $gray4;
	}

	.listview li img {
	  float: left;
	  display:inline;
	  height: 50px;
	  width: 50px;
	  margin: 0 1em 0 0.4em;
	}

	.listview li p {

	}

	.listview li {
	  padding: 10px;
	  overflow: auto;
	  border-bottom: 1px solid $gray7;
	  padding-right: 1em;
	  display: block;
	  width: 100%;
	  height: 100%;
	}

	.listview li:hover {
	  background: $gray7;
	  cursor: pointer;
	  color: $white;
	}

	.listview a h3:hover {
	  color: $white;
	}


// CARDS
// -----------------------------------------------------------

.cards {
	background: $gray8;
	overflow: auto;
	padding: 1em;
	@include media($mobile){
		padding: 0.5em;
	    }
}

.card {
    @include span-columns(8 of 8);
    background: $black;
    border: 1px solid $gray7;
    margin: 0.5em 0;
    display: table;
	@include media($mobile){
	    @include span-columns(12 of 12);
	    @include border-top-radius(0.5em);
		@include border-bottom-radius(0);
	    }
}

.card-image, .card-summary {
	display: table-cell;
	vertical-align: top;
	@include media($mobile){
		@include span-columns(12 of 12);

	    }
}

.card-image img {
	margin: 1em 0.5em 1em 0.5em;
	@include border-top-radius(0.5em);
	@include border-bottom-radius(0.5em);
	@include media($mobile){
		margin: 0;
		@include border-bottom-radius(0);
		@include span-columns(12 of 12);
	    }
}

.card-summary {
	padding: 0 0.5em 0 1em;
}

.card-summary h3 {
	margin-bottom: 0;
	color: $gray3;
}

.card-summary p {
	font-size: 0.8em;
	line-height: 1.4em;
	margin-bottom: 2em;
	color: $gray5;
}

.card a {
	color: $gray3;
	display:block;
	overflow:auto;
}

.card a:hover {
	color: $gray2;
	background: $gray7;
	cursor: pointer;
}

.card-footer {
	@include span-columns(8 of 8);
	display:block;
	@include media($mobile){
		@include span-columns(12 of 12);
	    }	
}

// CARDS COURSE
// -----------------------------------------------------------

.card-course {
	@include span-columns(8 of 8);
	padding-bottom: 2em;
	display:block;
	@include media($mobile){
		@include span-columns(12 of 12);
	    }		
	}

.card-course-title {
	
}

.card-course-content {

}

.card-course-image {
	@include span-columns(3 of 8);
	@include media($mobile){
		@include span-columns(12 of 12);
	    }	
}

.card-course-image img {
	width: 100%;
}

.card-course-summary {
	@include span-columns(5 of 8);
	font-size: 0.9em;
	padding-left:1em;
	@include media($mobile){
		padding-left:0;
		@include span-columns(12 of 12);
	    }	
}

.card-course-summary ul {
	padding-left: 0;
	list-style:none;
}

.card-course-footer {
	@include span-columns(8 of 8);
	@include media($mobile){
		@include span-columns(12 of 12);
	    }
}

.btn-medium {
	@include span-columns(3 of 8);
    height: 50px;
    font-family: AldoPC;
    font-size: 1em;
    margin-right: 20px;
    padding-left: 20px;
    line-height: 50px;
    color: #323438;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #DCDCDC;
    text-decoration:none;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
    background: #F5F5F5 ;
    display:inline-block;
    text-transform: uppercase;
	@include media($mobile){
		font-size: 0.8em;
		@include span-columns(5 of 12);
	    }	
    }  
    
.btn-medium:hover {
    background:#000000;
    color: #fff;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
    }   


.btn-content {
    @include span-columns(5 of 8);
    height: 50px;
    font-family: AldoPC;
    font-size: 1em;
    margin-right: 10px;
    padding-left: 20px;
    line-height: 50px;
    color: #323438;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #DCDCDC;
    text-decoration:none;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
    background: #F5F5F5;
    display:inline-block;
    text-transform: uppercase;
	@include media($mobile){
		font-size: 0.8em;
		@include span-columns(7 of 12);
	    }
    }  
    
.btn-content:hover {
    background:#000000;
    color: #fff;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
    }  

 .btn-medium-detail {
    font-family: AldoPC;
    font-size: 1em;
    width: 150px;
    height: 50px;
    margin-top: 3px;
    padding-left: 20px;
    line-height: 50px;
    color:  #DCDCDC ;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid  #707070 ;
    text-decoration:none;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
    background: #000000 ;
    display:inline-block;
    text-transform: uppercase;
    }  
    
.btn-medium-detail:hover {
    background:#323438;
    color: #fff;
    border: 2px solid #4E9CD5;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
    }     

.title-detail-cursos {
	@include span-columns(8 of 8);
    height:80px;
    padding:10px 5px 10px 30px;
    background:#000;
    margin-bottom: 1em;
    display:block;
    font-family:AldoPC;
    color:#fff;
    font-size:16px;
    letter-spacing: 1px;
    text-transform: uppercase;
	@include media($mobile){
		font-size: 0.8em;
		@include span-columns(12 of 12);
	    }
}

.title-detail-cursos h2 {
    display:inline-block;
}

.item-title {
    font-weight: normal;
}

#summary-corto p {
    display:inline;
}

#summary-corto {
    margin-bottom:10px;
}  

// PAGINATION
// -----------------------------------------------------------

.pages{
 overflow:hidden;
  background-color: #1A1A1A;
  height: 50px;
 height: 50px;clear: both;
 color: #1A1A1A;
 text-align: center;
}

.pages .inside{
 margin-left:auto;
 margin-right:auto;
  overflow: auto;
 text-align: center;
}

.pages a{
	background: $black;
	color: #7a7b77;
	display: block;
	float: left;
	height: 35px;
	line-height: 35px;
	margin: 5px;
	width: 35px;
}

.pages a:hover {
	background: $gray7;
	color: $gray2;
}


.pages a.selected{
  background: #3C3C3C;
  color: #ffffff;
}

.pages a.aimg{
  background-image:none !important;
 background-repeat:no-repeat;
  background-repeat:no-repeat;
  padding-left: 8px;
}
#bread{
  width:237px;
  height:51px;
  margin-left:auto;
 margin-right:auto;
}

.return {
	background: $gray9;
	line-height: $size-xs;
	padding-left:1em;
	@include border-bottom-radius(1em);
	@include media($mobile){
		line-height: 3em;
		@include border-bottom-radius(0);
		@include span-columns(12 of 12);
	    }

}

.return a {
	color: $gray3;
	width: 100%;
	height: $size-xs;
}

// FOOTER
// -----------------------------------------------------------

.layout_footer {
	margin-top: 2em;
	@include border-top-radius(1em);
	background: $gray8;
	@include span-columns(12);
}

// FORMS 
// -----------------------------------------------------------

legend { 
    color:                  $gray8; 
    }
    // -----------------------------------
fieldset { 
    border: 1px solid       $gray4; 
    }
    // -----------------------------------
label { 
    color:                  $gray5; 
    }
    // -----------------------------------
input[type="text"] { 
    border: 2px solid       $gray4;
    background-color:       $white; 
    color:                  $gray5; 
    }
    // -----------------------------------
input[type="text"]:disabled { 
    border: 2px solid       $gray4;
    background-color:       $white; 
    color:                  $gray5;
    }
    // -----------------------------------
input[type="email"] { 
    border: 2px solid       $gray4;
    background-color:       $white; 
    color:                  $gray5;
    }
    // -----------------------------------
input[type="password"] { 
    border: 2px solid       $gray4;
    background-color:       $white; 
    color:                  $gray5; 
    }
    // -----------------------------------
textarea { 
    border: 2px solid       $gray4;
    background-color:       $white; 
    color:                  $gray5; 
    }
    // -----------------------------------
input:focus, 
textarea:focus {
    color:                  $gray5;
    background-color:       $white; 
    border: 2px solid       $gray7; 
    } 
    // -----------------------------------
input[type="submit"] { 
    border:                 none;
    background-color:       $gray8; 
    color:                  $white; 
    }
    // -----------------------------------
input[type="submit"]:hover { 
    border:                 none;
    background-color:       $gray7; 
    color:                  $white; 
    }
    // -----------------------------------
input[type="reset"] { 
    border:                 none;
    background-color:       $gray8; 
    color:                  $white; 
    }
    // -----------------------------------  
input[type="reset"]:hover { 
    border:                 none;
    background-color:       $gray7; 
    color:                  $white; 
    }
    // -----------------------------------
button { 
    border: 1px solid       $gray7;
    background-color:       $gray8; 
    color:                  $gray2; 
    }
    // -----------------------------------    
button:hover { 
    border: 1px solid       $gray6;
    background-color:       $gray7; 
    color:                  $white; 
    }
    // -----------------------------------   

/* Sample FormBuilder CSS base */

.contactform table {
	border: 0px solid $white;
}

.contactform td {
	padding: 0.4em 0.5em;
	border:none;
	@include media($mobile){
	    @include span-columns(12 of 12);
	    @include border-top-radius(0.5em);
		@include border-bottom-radius(0);
	    }
}a

.contactform input[type="submit"] {
	@media screen and (max-width: 768px){
	    padding: 0.5em 0.5em;
	    height: 4em;
	    @include span-columns(12 of 12);
	    }
}

// ScrollNav Styles

.month, .year, .day {
    font-size:0.7em;
    color: #808080;
}

.scroll-nav {
 /* top: 15em;*/
  background: #000;
}

.scroll-nav.fixed .scroll-nav__wrapper {
   /* width: 100%;*/
    position: fixed;
    top: 0;
    z-index: 20; 
    background: #000;
}

.scroll-nav__wrapper {
background:#000;
}

.scroll-nav__wrapper li {
  display:inline-block;
  list-style:none;
   font-family:AldoPC;
  /*font-size:0.8em;*/
}

.scroll-nav__wrapper ol {
  padding-left:0;
}
.scroll-nav__heading {

}
.scroll-nav__heading:before {

}

.scroll-nav__list {
  margin-top:0;
  margin-bottom: 0;
}

.scroll-nav__item {

}
.scroll-nav__item:before {
  color: #fff;
  display: block;
  position: absolute;
  pointer-events: none;
  text-align: center;

}
.scroll-nav__item.active {
  background: #fff;
}

.scroll-nav__item.active a {
  color: #000;
}

.scroll-nav__item.active a:hover {
  color: #000;
}

.scroll-nav__link {
  color: #fff;
  display: block;
  margin: 0 auto;
  padding-left: 42px;
}
.scroll-nav__link:hover {
  color: #fff;
}

.content {

}

.all-yours {
  max-width: 580px;
  margin: 0 auto 20px;
}



@media screen and (min-width: 40.625em) {

}
@media screen and (min-width: 60em) {

  .content {
    /*margin-left: 210px;*/
    /*padding: 30px;*/
  }

  .scroll-nav__wrapper {
    /*padding: 15px 10px;*/
  }

  .scroll-nav__heading {

  }
  .scroll-nav__heading:before {

  }

  .scroll-nav__item {

  }
  .scroll-nav__item.active {

  }
  .scroll-nav__item:before {
    width: 30px;
  }

  .scroll-nav__link {
    padding-left: 20px;
    padding-right: 20px;

  }

  .feature {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    float: left;
    width: 33.33333%;
    padding: 0 10px;
  }
}



