// -----------------------------------------------------------
//  UNIVERSAL LAYOUT MANAGER V0.2 Alpha by Sebastian Serna 
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// ::::: Breakpoints

$mobile: new-breakpoint(max-width 768px 4);

$color-start: rgba(0,0,0,0.8) 30%;
$color-end: rgba(178,178,178,0.3) 90%; 

$layout-border: none; // Development purposes only

// Size Variables for Height

$size-xs:   3em ;
$size-s:    5em ;
$size-m:    9em ;
$size-l:    22em ;
$size-xl:   32em ;
$size-xxl:  45em ;

$width-sidebar-tiny: 4em;

// Size classes


.size--XS    {  height: $size-xs; }
.size--S     {  height: $size-s; }
.size--M     {  height: $size-m; }
.size--L     {  height: $size-l; }
.size--XL    {  height: $size-xl; }
.size--XXL   {  height: $size-xxl; }

// Fixed positions

.fixed--top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;    
}

.fixed--bottom {
    position: fixed;
    bottom: 0;
    z-index: 20;    
}

.fixed--left {
    position: fixed;
    top: 0;
    z-index: 20;
}

.fixed--right {
    position: fixed;
    right: 0;
    z-index: 20;   
}

.hide {
    display: none;
}

//Mixim for mobile portrait

@mixin mobile-portrait  {      
    @media screen and (max-width: 768px){
        @include span-columns(12 of 12);
        }
}

// Layout by default is 980px centered

.layout { 
    width: 100%;
    height: 100%;
    overflow: auto;
}

.layout--fluid { 
    @include outer-container(2000px);
}

.layout--centered { 
    @include outer-container(980px);
}

.layout__header {
    @include span-columns(12);
    outline:$layout-border;
}

.layout__subheader {
    @include span-columns(12);
    outline:$layout-border;
    @include media($mobile){
        display: none;
        }
}

.layout__contentarea {
    @include span-columns(12);
    outline:$layout-border;
}

.layout__content {
    @include span-columns(8, block-collapse);
    outline:$layout-border;
    @include  mobile-portrait;
}

.layout__content--full {
    @include span-columns(12);
    outline:$layout-border;
    @include  mobile-portrait;
}

.layout__sidebar { 
    @include span-columns(4);
    @include omega;
    outline:$layout-border;
    @include  mobile-portrait;
}

.layout__sidebar--tiny { 
    width: $width-sidebar-tiny;
    height: 100%;
    text-align: center;
    outline:$layout-border;
}

.layout__footer {
    @include span-columns(12);
    outline:$layout-border;
}

// Content units in Columns

.col--1  { @include span-columns(1); outline:$layout-border; }
.col--2  { @include span-columns(2); outline:$layout-border; }
.col--3  { @include span-columns(3); outline:$layout-border; }
.col--4  { @include span-columns(4); outline:$layout-border; }
.col--5  { @include span-columns(5); outline:$layout-border; }
.col--6  { @include span-columns(6); outline:$layout-border; }
.col--7  { @include span-columns(7); outline:$layout-border; }
.col--8  { @include span-columns(8); outline:$layout-border; }
.col--9  { @include span-columns(9); outline:$layout-border; }
.col--10 { @include span-columns(10); outline:$layout-border; }
.col--11 { @include span-columns(11); outline:$layout-border; }
.col--12 { @include span-columns(12); outline:$layout-border; }


// Gaps when layout elements are fixed (improve soon)

.gap--top    { margin-top: $width-sidebar-tiny ; }
.gap--left   { padding-left: $width-sidebar-tiny; }
.gap--right  { padding-right: $width-sidebar-tiny ; }
.gap--bottom { margin-bottom: $width-sidebar-tiny ; }

// Center styles

.content--center {
    text-align: center;
}

.logo--hero {
    text-align: center;
    padding-top: 7.5em;
}

.logo--centered {
    text-align: center;
    padding-top: 0.8em;
}

.pad {
    padding: 0.5em 1em 1em 1em;
}

.pad--M {
    padding: 1em 2em 2em 2em;
}

.pad--L {
    padding: 1em 3em 3em 3em;
}



<<<<<<< HEAD

=======
>>>>>>> master
