
// -----------------------------------------------------------
// COLOR MANAGER by Sebastian Serna - 2015
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// MY PALETTE 
// -----------------------------------------------------------

$white:             #FFFFFF ;
$aqua-haze:         #F5F7FA ;
$blue-baked:        #79ADD1 ;
$blue-fountain:     #5F9BC4 ;
$gray-dove:         #727272 ;
$gray-lynch:        #62758b ;
$gray-water:        #d3dbf1 ;
$gray-pigeon:       #bcc5df ;
$gray-light:        #E3E3E3 ;
$gray-alabaster:    #F7F7F7 ;
$gray-mercury:      #E3E3E3 ;
$purple:            #813986 ;
$purple-dark:       #702C75 ;
$purple-light:      #9B44A2 ;


// TEXTS 
// -----------------------------------------------------------

body {
    color:                  $gray-dove ;
    background-color:       $white ;}
    // -----------------------------------
h1, h2, h3, 
h4, h5, h6 { 
    color:                  $blue-baked ;}
    // -----------------------------------
p {
    color:                  $gray-dove ;}
    // -----------------------------------
a { 
    color:                  $blue-baked ;}
    // -----------------------------------
a:hover { 
    color:                  $blue-baked ;}
    // -----------------------------------
small { 
    color:                  $gray-dove ;}
    // -----------------------------------
ul, ol, li {
    color:                  $gray-dove ;}
    // -----------------------------------
dl, dt, dd {
    color:                  $gray-dove ;}
    // -----------------------------------
blockquote {
    border-left-color:      $gray-dove ;
    color:                  $gray-dove ;
    background-color:       $gray-alabaster ;}
    // -----------------------------------
q {
    border-left-color:      $gray-dove ;
    color:                  $gray-dove ;
    background-color:       $gray-alabaster ;}
    // -----------------------------------
cite {
    border-left-color:      $gray-dove ;
    color:                  $gray-dove ;
    background-color:       $gray-alabaster ;}
    // -----------------------------------
pre {
    color:                  $gray-dove ; 
    border-color:           $gray-light ;}
    // -----------------------------------
hr {
    border-color:           $gray-light ;}
    // -----------------------------------

// FORMS 
// -----------------------------------------------------------

legend { 
    color:                  $blue-baked ;}
    // -----------------------------------
fieldset { 
    border-color:           $gray-water ;}
    // -----------------------------------
label { 
    color:                  $blue-baked ;}
    // -----------------------------------
input[type="text"] { 
    border-color:           $gray-water ;
    background-color:       $white ; 
    color:                  $gray-dove ;}
    // -----------------------------------
input[type="password"] { 
    border-color:           $gray-water ;
    background-color:       $white ; 
    color:                  $gray-dove ;}
    // -----------------------------------
textarea { 
    border-color:           $gray-water ;
    background-color:       $white ; 
    color:                  $gray-dove ;}
    // -----------------------------------
input:focus, 
textarea:focus {
    color:                  $gray-dove ;
    background-color:       white ; 
    border-color:           $gray-pigeon ;} 
    // -----------------------------------
input[type="submit"] { 
    border-color:           none ;
    background-color:       $blue-baked ; 
    color:                  $white ;}
    // -----------------------------------
input[type="submit"]:hover { 
    border-color:           none ;
    background-color:       $blue-fountain ; 
    color:                  $white ;}
    // -----------------------------------
input[type="reset"] { 
    border-color:           none ;
    background-color:       $blue-baked ; 
    color:                  $white ;}
    // -----------------------------------  
input[type="reset"]:hover { 
    border-color:           none ;
    background-color:       $blue-fountain ; 
    color:                  $white ;}
    // -----------------------------------
button { 
    border-color:           $gray-water ;
    background-color:       $aqua-haze ; 
    color:                  $gray-dove ;}
    // -----------------------------------    
button:hover { 
    border-color:           $blue-baked ;
    background-color:       $white; 
    color:                  $blue-baked ;}
    // -----------------------------------    

// TABLES 
// -----------------------------------------------------------

table {  
    border-color:           $gray-water ;
    color:                  $gray-dove ;} 
    // -----------------------------------
th {
    border-bottom-color:    $gray-water ;
    border-top-color:       $gray-water ;
    background-color:       $gray-alabaster ;}
    // -----------------------------------
td {
    border-bottom-color:    $gray-water ;
    background-color:       $white ;}
    // -----------------------------------
thead { 
    background-color:       none ;}
    // -----------------------------------
tbody { 
    background-color:       none ;}
    // -----------------------------------
tfoot { 
    background-color:       none ;}
    // -----------------------------------

// CUSTOM MODULES 
// -----------------------------------------------------------

.gray {
    color:                  $gray-dove ;}
    // -----------------------------------
.white {
    color:                  $white ;}
    // -----------------------------------
.green {
    color:                  green ;}
    // -----------------------------------


