// -----------------------------------------------------------
// INPUT TEXTS STYLES
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

input[type="text"] { 
  width:100%;
  height:2em;
  font-size:1em;
  padding:0 0.5em;
  color: $input-text;
  border: $input-text-border;
  background: $input-text-bg;
  }

input[type="text"]:disabled { 

  }

input[type="password"] { 
  width:100%;
  height:2em;
  font-size:1em;
  padding:0 0.5em;
  letter-spacing:3px;
  color: $input-text;
  border: $input-text-border;
  background: $input-text-bg;
  }

input[type="email"] { 
  width:100%;
  height:2em;
  font-size:1em;
  padding:0 0.5em;
  color: $input-text;
  border: $input-text-border;
  background: $input-text-bg;
  }


input:focus {
  color: $input-text-focus;
  border: $input-text-focus-border;
  background: $input-text-focus-bg;
  }


// Textarea

textarea { 
  width:100%;
  font-size:1em;
  padding:0 0.5em;
  height: auto;
  min-height: 5em;
  color: $input-text;
  border: $input-text-border;
  background: $input-text-bg;
  }

textarea:focus {
  color: $input-text-focus;
  border: $input-text-focus-border;
  background: $input-text-focus-bg;
  }




