<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en" ><![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Global --> 
    <title>Swan - Basic Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Favicon --> 
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/apple-touch-icon" />
    <!-- Styles and fonts --> 
    <link href="../styles/css/styles.min.css" media="screen" rel="stylesheet" type="text/css">
<style type="text/css">
  .container nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
  }
.cbp-contentslider {
    border: 4px solid #47a3da;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
    background: #fff;
}

.main, .container > header {
    margin: 0 auto;
    max-width: 70em;
    padding: 0;
    width: 100%;
}
</style>
  </head>
  <body>   
    <div id="app" class="layout_main">
      <!-- Header :::::::::::::::::::::: -->
      <div id="header" class="layout_header sTop">
        <div class="logo-main">
          <a class="logo" href="#">
          <img src="../images/logo-app.png" alt="Logo">
          </a>
        </div>
        <header class="navigation" role="banner">
          <div class="navigation-wrapper">
            <nav role="navigation">
              <ul id="js-navigation-menu" class="navigation-menu show">
                <li class="nav-link"><a href="javascript:void(0)">Home</a></li>
                <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
                <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
                <li class="nav-link"><a href="javascript:void(0)">Work</a></li>
                <li class="nav-link more">
                  <a href="javascript:void(0)">More</a>
                  <ul class="submenu">
                    <li><a href="javascript:void(0)">Submenu tab</a></li>
                    <li><a href="javascript:void(0)">Another tab</a></li>
                    <li class="more">
                      <a href="javascript:void(0)">tab with submenu</a>
                      <ul class="submenu">
                        <li><a href="javascript:void(0)">Sub-submenu tab</a></li>
                        <li><a href="javascript:void(0)">Another tab</a></li>
                      </ul>
                    </li>
                    <li class="more">
                      <a href="javascript:void(0)">Another submenu</a>
                      <ul class="submenu">
                        <li><a href="javascript:void(0)">Sub-submenu</a></li>
                        <li><a href="javascript:void(0)">An tab</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-link active-nav-tab"><a href="javascript:void(0)">Contact</a></li>
              </ul>
            </nav>
            <div class="navigation-tools">
              <div class="search-bar">
                <a href="#" class="btn-dark circle">
                  <img src="../images/ic-social-facebook.png" alt="Facebook">
                </a>
                <a href="#" class="btn-dark circle">
                  <img src="../images/ic-social-twitter.png" alt="Twitter">
                </a>
                <a href="#" class="btn-dark circle">
                  <img src="../images/ic-social-youtube.png" alt="Youtube">
                </a>  
              </div>
            </div>
          </div>
        </header>
        <header class="header menu-mobile fixed--top">
          <a id="cd-logo" href="#0"><img src="../images/logo-app.png" alt="Home"></a>
          <a id="cd-menu-trigger" href="#0">
          <span class="cd-menu-text">Menu</span>
          <span class="cd-menu-icon"></span>
          </a>
        </header>
        <nav id="cd-lateral-nav" role="navigation">
          <ul id="js-navigation-menu" class="navigation-menu show">
            <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
            <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
            <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
            <li class="nav-link more">
              <a href="javascript:void(0)">More</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Submenu tab</a></li>
                <li><a href="javascript:void(0)">Another tab</a></li>
                <li class="more">
                  <a href="javascript:void(0)">tab with submenu</a>
                  <ul class="submenu">
                    <li><a href="javascript:void(0)">Sub-submenu tab</a></li>
                    <li><a href="javascript:void(0)">Another tab</a></li>
                  </ul>
                </li>
                <li class="more">
                  <a href="javascript:void(0)">Another submenu</a>
                  <ul class="submenu">
                    <li><a href="javascript:void(0)">Sub-submenu</a></li>
                    <li><a href="javascript:void(0)">An tab</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Content Area :::::::::::::::::::::: --> 
      <div id="contentarea" class="layout_content cd-main-content">
        <!-- Subheader :::::::::::::::::::::: -->
        <div id="subheader" class="layout_subheader">
          <div class="section-title">
            <h2>SECTION TITLE</h2>
          </div>
          <div class="section-options">
          </div>
        </div>
        <!-- Content :::::::::::::::::::::: -->     
        <div class="content">
          <!-- Tabs :::::::::::::::::::::: -->
          <div class="tabs">

            <div class="subMenu nav subsection" >
              <div class="">
                <a href="#sTop" class="subNavBtn" data-scroll-nav="0">Section 0</a>
                <a href="#s1" class="subNavBtn" data-scroll-nav="1">Section 1</a> 
                <a href="#s2" class="subNavBtn" data-scroll-nav="2">Section 2</a>
                <a href="#s3" class="subNavBtn" data-scroll-nav="3">Section 3</a>
              </div>
            </div>

            <div class="section" data-scroll-index="0">
                <h2>Section 0</h2>

                <img src="../images/hero-banner.jpg" alt="Swan Project Photo by Laura Kangur">

                <p>Sed nisl diam, pulvinar non justo non, commodo molestie augue. Aenean malesuada tortor sit amet mattis semper. Nam nibh mauris, condimentum id dictum eget, porta eget ex. Vivamus non congue purus. Sed at ultrices justo. Etiam aliquam ligula eu ligula facilisis, et pretium purus vehicula.</p>
                <p>Nullam quis ligula bibendum, laoreet metus et, bibendum purus. Morbi efficitur, elit id viverra blandit, lacus ante aliquet mauris, consectetur viverra orci sapien ut felis. Sed consequat id lectus eu volutpat. Mauris vel lectus vel orci laoreet egestas eget nec ex. Aliquam iaculis sem ut dolor dapibus tincidunt. In elementum aliquam felis vitae euismod. Curabitur semper mauris ac turpis sodales consequat. Morbi in ultricies urna, non hendrerit ligula. Etiam nec ornare augue, vel tempor orci. Praesent mattis, eros sed suscipit fermentum, odio orci tristique ligula, at ultricies nibh justo vel elit. Vestibulum eget faucibus orci. Sed auctor sapien turpis. Aliquam vitae condimentum orci, id fringilla ligula. Praesent efficitur purus ipsum, et convallis sem pretium ac. Mauris rhoncus feugiat aliquet. Integer et massa turpis.</p>
            </div>

            <div class="section s1" data-scroll-index="1">
                <h2>Section 1</h2>
                <p>Quisque odio lacus, tempor dignissim mattis ac, auctor laoreet mi. Nullam tortor ligula, fermentum nec ultricies id, fermentum ac tortor. Cras sed ipsum ut arcu fermentum fringilla a id orci. Sed bibendum scelerisque tincidunt. Nulla vel lectus fringilla, mattis elit a, aliquam odio. Morbi quis lacus tempor, faucibus nisi id, bibendum nunc. Fusce fermentum interdum nisi ut rutrum. Proin libero sapien, bibendum feugiat justo quis, vulputate feugiat justo. Nunc ac metus mattis, volutpat dolor eget, aliquet odio. Nulla posuere enim quis erat ornare molestie. Cras bibendum, nisi vitae cursus finibus, urna nisi pharetra enim, eget aliquet augue ante vestibulum metus. Quisque mattis tempus tempor. </p>
                <p>Inbox Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate totam eveniet laboriosam?</p>
                <p>Sed nisl diam, pulvinar non justo non, commodo molestie augue. Aenean malesuada tortor sit amet mattis semper. Nam nibh mauris, condimentum id dictum eget, porta eget ex. Vivamus non congue purus. Sed at ultrices justo. Etiam aliquam ligula eu ligula facilisis, et pretium purus vehicula.</p>
            </div>

            <div class="section s2" data-scroll-index="2">
                <h2>Section 2</h2>
                <p><a href="#s4" class="intLink">Internal Link: Jump to Section 4</a></p>
                <p><a href="#sTop" class="intLink">Internal Link: Back to Top</a></p>
                <p>Inbox Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate totam eveniet laboriosam?</p>
                <p>Inbox Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate totam eveniet laboriosam?</p>
                <p>Inbox Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate totam eveniet laboriosam?</p>
            </div>

            <div class="section s3" data-scroll-index="3">
                <h2>Section 3</h2>
                <p>Inbox Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate totam eveniet laboriosam?</p>
                <p>Inbox Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate totam eveniet laboriosam?</p>
            </div>
            
          </div>
          <!-- Tabs End :::::::::::::::::::::: -->
        </div>
        <!-- Sidebar :::::::::::::::::::::: -->
        <div class="sidebar">
          <div class="banner" style="display:none;">
            <img src="http://placehold.it/380x320/242424/ffffff/">
          </div>
          <div class="panel">
            <div class="panel-title">
              <h3 class="to-center">
              Related Content
              <h3/>
            </div>
            <div class="panel-content">
              <ul class="listview">
                <li>
                  <a href="#">
                    <img src="http://placehold.it/100x100" >
                    <h3>El IV FICME entregó más de 30 millones en premios</h3>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="http://placehold.it/100x100" >
                    <h3>Narrar en la Era Digital - Guion de Web Series. Curso de Verano</h3>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="http://placehold.it/100x100" >
                    <h3>Abierta convocatoria al 3er Laboratorio Internacional de Guion</h3>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="http://placehold.it/100x100" >
                    <h3>La discusión sobre el cine en Medellín está abierta: Mauricio Maldonado</h3>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="http://placehold.it/100x100" >
                    <h3>Seminario intensivo: el 'casting' en el cine</h3>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="http://placehold.it/100x100" >
                    <h3>¿Por qué en Medellín no hacemos tanto cine como en otras ciudades?</h3>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer :::::::::::::::::::::: -->        
      <div id="footer" class="layout_footer size--S ">
        <h5 class="to-center gray5">Swan Project - 2015</h5>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../scripts/all/offcanvas.js"></script>
    <script src="../scripts/all/scrollIt.min.js"></script>
    <script src="../scripts/all/jquery.sticky.js"></script>  

    <script type="text/javascript">

    $(function(){
      $.scrollIt();
    });      

    $(document).ready( function() {
      $(".subsection").sticky({topSpacing:0});
    });


    </script>  

    <script type="text/javascript">
    $(document).ready(function() {
    var menuToggle = $('#js-mobile-menu').unbind();
    $('#js-navigation-menu').removeClass("hide");
    menuToggle.on('click', function(e) {
    e.preventDefault();
    $('#js-navigation-menu').slideToggle(function(){
    if($('#js-navigation-menu').is(':hidden')) {
    $('#js-navigation-menu').removeAttr('style');
    }
    });
    });
    });
    </script>
  </body>
</html>