<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Global --> 
    <title>Color - Swan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Experimental UI Framework">
    <!-- Favicon --> 
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/apple-touch-icon.png" />
    <!-- Styles and fonts --> 
    <link href="../styles/css/themes/theme-black.css" media="screen" rel="stylesheet">
    <!-- IE support --> 
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="layout">
    <!-- Layout Header :::::::::::::::::::: -->
    <header class="layout-header">
      <div class="navigation centered">
        <!-- Logo -->
        <a class="logo" href="../index.html"><img src="../images/logo-white.png" alt=""></a>
        <nav id="menu-main" class="menu" role="navigation">
          <!-- Menu -->
          <ul>
            <li><a href="../index.html">Overview</a></li>
            <li><a href="text.html">Text</a></li>
            <li><a href="multimedia.html">Multimedia</a></li>
            <li><a href="controls.html">Controls</a></li>
            <li><a href="patterns.html">Patterns</a></li>
            <li><a href="color.html">Color</a></li>
          </ul>
        </nav>         
        <button type="button" class="menu-mobile-open">☰</button> 
      </div>
      <div class="menu-mobile-fade-screen"></div>
    </header>
    <!-- Layout Main Content :::::::::::::::::::: -->
    <main class="layout-main" role="main">
        <header class="hero size-m">
            <div class="hero-content">
              <h1>Color</h1>
            </div>
        </header>

        <article class="centered">
          
          <h2 class="heading">Color Palette</h2>

          <div class="object bg-white"><small>$white: #FFFFFF</small></div>
          <div class="object bg-gray1"><small>$gray1: #F2F2F2</small></div>
          <div class="object bg-gray2"><small>$gray2: #CCCCCC</small></div>
          <div class="object bg-gray3"><small>$gray3: #B3B3B3</small></div>
          <div class="object bg-gray4"><small>$gray4: #999999</small></div>
          <div class="object bg-gray5"><small>$gray5: #808080</small></div>
          <div class="object bg-gray6"><small>$gray6: #595959</small></div>
          <div class="object bg-gray7"><small>$gray7: #4D4D4D</small></div>
          <div class="object bg-gray8"><small>$gray8: #333333</small></div>
          <div class="object bg-gray9"><small>$gray9: #1A1A1A</small></div>
          <div class="object bg-black"><small>$black: #000000</small></div> 
        </article>

    </main>
    <!-- Layout Footer :::::::::::::::::::: -->
    <footer class="layout-footer">
        <div class="centered">
          <!-- Start Social buttons -->
          <div class="social-links">
            <a class="button" href="javascript:void(0)">
              <img src="../images/ic-social-facebook.png" alt="Facebook">
            </a>
            <a class="button" href="javascript:void(0)">
              <img src="../images/ic-social-twitter.png" alt="Twitter">
            </a>
            <a class="button" href="javascript:void(0)">
              <img src="../images/ic-social-youtube.png" alt="YouTube">
            </a>
          </div>
          <!-- End Social buttons -->
          <p class="pad-top">Swan UI Ⓒ 2016</P>  
        </div>
    </footer>
</div>

<!-- Javascripts -->  
<script src="../scripts/all/jquery-1.11.1.min.js"></script>
<script src="../scripts/all/swan.js"></script>

</body>
</html>