<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en" ><![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Global --> 
    <title>Swan - Basic Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Favicon --> 
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/apple-touch-icon" />
    <!-- Styles and fonts --> 
    <link href="../styles/css/styles.min.css" media="screen" rel="stylesheet" type="text/css">
  <script src="../scripts/all/modernizr.js"></script> <!-- Modernizr -->
</head>
<body>
    <div id="app" class="layout_main">
        <!-- Header :::::::::::::::::::::: -->
        <div id="header" class="layout_header">    
            <div class="logo-main">
                <a href="#">
                    <img src="../img/logo-app.png" alt="Logo">
                </a>
            </div>
            <div class="menu-main">
                <ul>
                    <li>Section 1</li>
                    <li>Section 2</li>
                    <li>Section 3</li>
                    <li>Section 4</li>
                    <li>Section 5</li>
                    <li>Section 6</li>
                </ul>
                <div class="social-links">
                    <a href="#" class="btn-dark circle">
                        <span class="icon-ribbon medium"></span>
                    </a>
                    <a href="#" class="btn-dark circle">
                        <span class="icon-heart medium"></span>
                    </a>
                    <a href="#" class="btn-dark circle">
                        <span class="icon-printer medium"></span>
                    </a>   
                </div>
            </div>
        </div>  

        <header class="menu-mobile fixed--top">
          <a id="cd-logo" href="#0"><img src="../img/logo-app.png" alt="Home"></a>
          <a id="cd-menu-trigger" href="#0">
            <span class="cd-menu-text">Menu</span>
            <span class="cd-menu-icon"></span>
          </a>
        </header>


        <nav id="cd-lateral-nav">

          <div class="cd-navigation socials social-links">
            <a href="#" class="btn-dark circle">
                <span class="icon-ribbon medium"></span>
            </a>
            <a href="#" class="btn-dark circle">
                <span class="icon-heart medium"></span>
            </a>
            <a href="#" class="btn-dark circle">
                <span class="icon-printer medium"></span>
            </a>  
          </div> <!-- socials -->
        </nav>

        <!-- Content Area :::::::::::::::::::::: --> 
        <div id="contentarea" class="layout_content cd-main-content">
            <!-- Subheader :::::::::::::::::::::: -->
            <div id="subheader" class="layout_subheader">
                <div class="section-title">
                    <h2>ACTUALIDAD</h2>   
                </div>    
                <div class="section-options">
                    
                </div>  
            </div>
            <!-- Content :::::::::::::::::::::: -->
            <div class="content">

                <div class="content-image">
                    <img src="http://www.cinefilia.org.co/uploads/images/2016/header-cursos-2016-1.jpg">
                </div>
                <div class="content-title">
                    <h1>¿Por qué en Medellín no hacemos tanto cine como en otras ciudades?</h1> 
                </div>

                <div class="content-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed lacus eget lectus convallis aliquam. Praesent id laoreet libero. Curabitur at est dapibus, rhoncus arcu vel, pretium orci. Maecenas posuere nisi vehicula, consectetur lectus eu, pretium augue. Fusce venenatis pretium arcu, vitae dictum lacus tincidunt vel. In porttitor mauris in neque posuere mattis. Nullam vitae tempus ante. Nunc risus libero, egestas at tellus ac, gravida imperdiet libero. Ut vel aliquam nunc, vel facilisis ligula. Curabitur et interdum elit. Nulla blandit nec erat blandit commodo. Aenean placerat commodo nisi, sed tincidunt tortor consequat id. Nam dapibus, ligula id facilisis condimentum, leo quam tincidunt augue, eget mattis eros erat sit amet mauris. Nulla at sapien eu ante molestie pretium in nec eros.</p>
                </div>
            </div>

            <!-- Sidebar :::::::::::::::::::::: -->
            <div class="sidebar">
                <div class="banner">
                    <img src="http://placehold.it/380x320/242424/ffffff/">
                </div>
                <div class="panel">
                    <div class="panel-title">
                        <h3 class="to-center">Related Content<h3/>
                    </div>
                    <div class="panel-content">
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer :::::::::::::::::::::: -->        
        <div id="footer" class="layout_footer">
             <p class="to-center">Swan Project - 2015</p>
        </div>
    </div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="../scripts/all/main.js"></script>

</body>
</html>