<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en" ><![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Global --> 
    <title>Swan - Basic Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Favicon --> 
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/apple-touch-icon" />
    <!-- Styles and fonts --> 
    <link href="../styles/css/styles.min.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="app" class="layout bg--black">
        <!-- Header :::::::::::::::::::::: -->
        <div id="header" class="layout--centered size--M">    
            <div class="logo--centered col--2">
                <a href="#">
                    <img src="../img/logo-app.png" alt="Logo" width="80">
                </a>
            </div>
            <div class="menu rounded col--10">
                <ul>
                    <li>Section 1</li>
                    <li>Section 2</li>
                    <li>Section 3</li>
                    <li>Section 4</li>
                    <li>Section 5</li>
                    <li>Section 6</li>
                </ul>
            </div>
        </div> 
        <!-- Subheader :::::::::::::::::::::: -->
        <div id="subheader" class="layout--centered size--M rounded--top bg--gray8">
        <h4 class="white">Subheader</h4>
        </div>
        <!-- Content Area :::::::::::::::::::::: --> 
        <div id="contentarea" class="layout--centered">
            <!-- Content :::::::::::::::::::::: -->
            <div class="layout__content rounded--bottom bg--white pad--L">
                <h2>Content</h2>
                <p>Lorem ipsum dolor sit amet, <a title="test link" href="#">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
                <p>Lorem ipsum dolor sit amet, <a title="test link" href="#">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
                <p>Lorem ipsum dolor sit amet, <a title="test link" href="#">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
            </div>
            <!-- Sidebar :::::::::::::::::::::: -->
            <div class="layout__sidebar rounded--bottomRight bg--gray8 pad--M">
                <h2 class="white">Sidebar</h2>
                <p>Lorem ipsum dolor sit amet, <a title="test link" href="#">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
            </div>
        </div>
        <!-- Footer :::::::::::::::::::::: -->        
        <div id="footer" class="layout--centered size--S rounded--top bg--gray8 content--center">
            <h4 class="white">Footer</h4>
        </div>
    </div>
</body>
</html>