<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Global --> 
    <title>Patterns - Swan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Experimental UI Framework">
    <!-- Favicon --> 
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/apple-touch-icon.png" />
    <!-- Styles and fonts --> 
    <link href="../styles/css/styles.css" media="screen" rel="stylesheet">
    <!-- IE support --> 
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="layout">
    <!-- START LAYOUT HEADER :::::::::::::::::::: -->
    <header class="layout-header section">
      <div class="section-content">
        <!-- Logo -->
        <a class="logo" href="../index.html"><img src="../images/logo-white.png" alt=""></a>
        <nav id="menu-main" class="menu" role="navigation">
          <!-- Menu -->
          <ul>
            <li><a href="../index.html">Overview</a></li>
            <li><a href="text.html">Text</a></li>
            <li><a href="multimedia.html">Multimedia</a></li>
            <li><a href="controls.html">Controls</a></li>
            <li><a href="patterns.html">Patterns</a></li>
            <li><a href="color.html">Color</a></li>
            <li><a href="tmp/general.html">TMP</a></li>
          </ul>
        </nav>         
        <button type="button" class="menu-mobile-open">☰</button> 
      </div>
      <div class="menu-mobile-fade-screen"></div>
    </header>
    <!-- END LAYOUT HEADER :::::::::::::::::::::::::::: -->
    <!-- START LAYOUT MAIN CONTENT :::::::::::::::::::: -->
    <main class="layout-main" role="main">
        <header class="hero size-m">
            <div class="hero-content">
              <h1>Patterns</h1>
            </div>
        </header>
        <section class="section-content">

          <h2 class="heading">List View (ul, li tags)</h2>
          <!-- Start List View :::::::::::::::::::: -->
          <ul class="listview">
            <!-- List View item -->
            <li class="listview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="listview-item-figure" src="../images/thumb-square.png" alt="">
                <div class="listview-item-body">
                  <h3 class="maxlines-1">Interdum urna egestas scelerisque 1</h3>
                  <p class="maxlines-2">Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
                </div>
              </a>
            </li>
            <!-- List View item -->
            <li class="listview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="listview-item-figure" src="../images/thumb-square.png" alt="">
                <div class="listview-item-body">
                  <h3 class="maxlines-1">Interdum urna egestas scelerisque 2</h3>
                  <p class="maxlines-2">Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
                </div>
              </a>
            </li>
            <!-- List View item -->
            <li class="listview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="listview-item-figure" src="../images/thumb-square.png" alt="">
                <div class="listview-item-body">
                  <h3 class="maxlines-1">Interdum urna egestas scelerisque 3</h3>
                  <p class="maxlines-2">Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
                </div>
              </a>
            </li>
            <!-- List View item -->
            <li class="listview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="listview-item-figure" src="../images/thumb-square.png" alt="">
                <div class="listview-item-body">
                  <h3 class="maxlines-1">Interdum urna egestas scelerisque 4</h3>
                  <p class="maxlines-2">Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
                </div>
              </a>
            </li>
            <!-- List View item -->
            <li class="listview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="listview-item-figure" src="../images/thumb-square.png" alt="">
                <div class="listview-item-body">
                  <h3 class="maxlines-1">Interdum urna egestas scelerisque 5</h3>
                  <p class="maxlines-2">Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
                </div>
              </a>
            </li>
            <!-- List View item -->
            <li class="listview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="listview-item-figure" src="../images/thumb-square.png" alt="">
                <div class="listview-item-body">
                  <h3 class="maxlines-1">Interdum urna egestas scelerisque 6</h3>
                  <p class="maxlines-2">Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
                </div>
              </a>
            </li>
            <!-- List View item -->
            <li class="listview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="listview-item-figure" src="../images/thumb-square.png" alt="">
                <div class="listview-item-body">
                  <h3 class="maxlines-1">Interdum urna egestas scelerisque 7</h3>
                  <p class="maxlines-2">Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
                </div>
              </a>
            </li>
            <!-- List View item -->
            <li class="listview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="listview-item-figure" src="../images/thumb-square.png" alt="">
                <div class="listview-item-body">
                  <h3 class="maxlines-1">Interdum urna egestas scelerisque 8</h3>
                  <p class="maxlines-2">Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
                </div>
              </a>
            </li>
          </ul>
          <!-- End List View :::::::::::::::::::: -->

          <h2 class="heading">Card View</h2>
          <!-- Start Card View :::::::::::::::::::: -->
          <section class="cardview">
            <!-- Card View item -->
            <article class="cardview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="cardview-item-figure" src="../images/thumb.png" alt="">
                <div class="cardview-item-body">
                  <h3>Interdum urna egestas scelerisque 7</h3>
                  <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
                </div>
              </a>
            </article>
            <!-- Card View item --> 
            <article class="cardview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="cardview-item-figure" src="../images/thumb.png" alt="">
                <div class="cardview-item-body">
                  <h3>Interdum urna egestas scelerisque 7</h3>
                  <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
                </div>
              </a>
            </article> 
            <!-- Card View item -->
            <article class="cardview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="cardview-item-figure" src="../images/thumb.png" alt="">
                <div class="cardview-item-body">
                  <h3>Interdum urna egestas scelerisque 7</h3>
                  <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
                </div>
              </a>
            </article> 
            <!-- Card View item -->
            <article class="cardview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="cardview-item-figure" src="../images/thumb.png" alt="">
                <div class="cardview-item-body">
                  <h3>Interdum urna egestas scelerisque 7</h3>
                  <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
                </div>
              </a>
            </article> 
            <!-- Card View item -->
            <article class="cardview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="cardview-item-figure" src="../images/thumb.png" alt="">
                <div class="cardview-item-body">
                  <h3>Interdum urna egestas scelerisque 7</h3>
                  <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
                </div>
              </a>
            </article> 
            <!-- Card View item -->
            <article class="cardview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="cardview-item-figure" src="../images/thumb.png" alt="">
                <div class="cardview-item-body">
                  <h3>Interdum urna egestas scelerisque 7</h3>
                  <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
                </div>
              </a>
            </article> 
          </section>
          <!-- End Card View :::::::::::::::::::: -->

          <h2 class="heading">Grid View</h2>
          <!-- Start Grid View :::::::::::::::::::: -->
          <section class="gridview">
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="gridview-item-figure" src="../images/thumb-square-m.png" alt="">
              </a>
            </article> 
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="gridview-item-figure" src="../images/thumb-square-m.png" alt="">
              </a>
            </article> 
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="gridview-item-figure" src="../images/thumb-square-m.png" alt="">
              </a>
            </article> 
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="gridview-item-figure" src="../images/thumb-square-m.png" alt="">
              </a>
            </article> 
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="gridview-item-figure" src="../images/thumb-square-m.png" alt="">
              </a>
            </article> 
            <!-- Grid View item -->
            <article class="gridview-item">
              <a href="javascript:void(0)" target="_self" >
                <img class="gridview-item-figure" src="../images/thumb-square-m.png" alt="">
              </a>
            </article>
          </section>
          <!-- End Grid View :::::::::::::::::::: -->        

          <h2 class="heading">Article View (Portrait)</h2>
          <!-- Start Article View (Portrait) :::::::::::::::::::: -->
          <section class="articleview">
            <!-- Article View item -->
            <article class="articleview-item">
              <header class="articleview-item-figure">
                <a href="javascript:void(0)" target="_self" >
                  <img src="../images/thumb.png" alt="Article Image">
                </a>
              </header>
              <div class="articleview-item-body">
                <section class="articleview-item-text">
                  <a href="javascript:void(0)" target="_self" >
                    <h3>Interdum urna egestas scelerisque</h3>
                    <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt nec eu odio. Mauris quis turpis id sapien hendrerit pellentesque vel id leo. Vivamus vitae nibh dolor.</p>
                  </a>
                </section>
                <footer class="articleview-item-footer">
                  <a href="javascript:void(0)" class="button">
                    Read More
                  </a>
                </footer>
              </div>
            </article>
            <!-- Article View item -->
            <article class="articleview-item">
              <header class="articleview-item-figure">
                <a href="javascript:void(0)" target="_self" >
                  <img src="../images/thumb.png" alt="Article Image">
                </a>
              </header>
              <div class="articleview-item-body">
                <section class="articleview-item-text">
                  <a href="javascript:void(0)" target="_self" >
                    <h3>Interdum urna egestas scelerisque</h3>
                    <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt nec eu odio. Mauris quis turpis id sapien hendrerit pellentesque vel id leo. Vivamus vitae nibh dolor.</p>
                  </a>
                </section>
                <footer class="articleview-item-footer">
                  <a href="javascript:void(0)" class="button">
                    Read More
                  </a>
                </footer>
              </div>
            </article>
          </section>
          <!-- End Article View (Portrait) :::::::::::::::::::: --> 

          <h2 class="heading">Article View (Landscape)</h2>
          <!-- Start Article View (Landscape) :::::::::::::::::::: -->
          <section class="articleview">
            <!-- Article View item -->
            <article class="articleview-item land">
              <header class="articleview-item-figure">
                <a href="javascript:void(0)" target="_self" >
                  <img src="../images/thumb.png" alt="Article Image">
                </a>
              </header>
              <div class="articleview-item-body">
                <section class="articleview-item-text">
                  <a href="javascript:void(0)" target="_self" >
                    <h3>Interdum urna egestas scelerisque</h3>
                    <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt nec eu odio. Mauris quis turpis id sapien hendrerit pellentesque vel id leo. Vivamus vitae nibh dolor.</p>
                  </a>
                </section>
                <footer class="articleview-item-footer">
                  <a href="javascript:void(0)" class="button">
                    Read More
                  </a>
                </footer>
              </div>
            </article>
            <!-- Article View item -->
            <article class="articleview-item land">
              <header class="articleview-item-figure">
                <a href="javascript:void(0)" target="_self" >
                  <img src="../images/thumb.png" alt="Article Image">
                </a>
              </header>
              <div class="articleview-item-body">
                <section class="articleview-item-text">
                  <a href="javascript:void(0)" target="_self" >
                    <h3>Interdum urna egestas scelerisque</h3>
                    <p>Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt nec eu odio. Mauris quis turpis id sapien hendrerit pellentesque vel id leo. Vivamus vitae nibh dolor.</p>
                  </a>
                </section>
                <footer class="articleview-item-footer">
                  <a href="javascript:void(0)" class="button">
                    Read More
                  </a>
                </footer>
              </div>
            </article>
          </section>
          <!-- End Article View (Landscape) :::::::::::::::::::: -->         
        </section>
    </main>
    <!-- END LAYOUT MAIN CONTENT :::::::::::::::::::: -->
    <!-- START LAYOUT FOOTER :::::::::::::::::::::::: -->
    <footer class="layout-footer">
        <div class="centered">
          <!-- Start Social buttons -->
          <div class="social-links">
            <a class="button" href="javascript:void(0)">
              <img src="../images/ic-social-facebook.png" alt="Facebook">
            </a>
            <a class="button" href="javascript:void(0)">
              <img src="../images/ic-social-twitter.png" alt="Twitter">
            </a>
            <a class="button" href="javascript:void(0)">
              <img src="../images/ic-social-youtube.png" alt="YouTube">
            </a>
          </div>
          <!-- End Social buttons -->
          <p class="pad-top">Swan UI Ⓒ 2016</P>  
        </div>
    </footer>
    <!-- END LAYOUT FOOTER :::::::::::::::::::::::: -->
</div>

<!-- Javascripts -->  
<script src="../scripts/all/jquery-1.11.1.min.js"></script>
<script src="../scripts/all/swan.js"></script>

</body>
</html>