// -----------------------------------------------------------
// GRID VIEW by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.gridview {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  @include media($mobile){ 
    }
}

.gridview-item {
  display: flex;
  flex: 0 1 33%;
  margin-bottom: 0.5em;
  color: $view-item-text;
  border-bottom: $view-item-bottom-border;
  background: $view-item-bg;

  @include media($mobile){ 
    flex: 0 1 49%;
    margin-bottom: 0.5em;
    }
}

.gridview-item img {
  width: 100%;
  height: auto;
  @include media($mobile){ 

    }
}

.gridview-item-figure {
  @include media($mobile){ 

    }
}

.gridview-item-body {
  padding: 1em;
  color: $text-basic;

  @include media($mobile){ 
    padding: 1.5em;
    }
}

.gridview-item-body h3 {
  font-size: 1em;
}

.gridview-item-body p {
  font-size: 0.8em;
}

.gridview-item a {
  display: flex;
  flex-direction: column;
}

.gridview-item a:hover {
  background: $gray8;
  cursor: pointer;
  // Transition
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  // End transition
  color: $view-item-hover-text;
  border-bottom: $view-item-hover-bottom-border;
  background: $view-item-hover-bg;
}