
// -----------------------------------------------------------
// SWAN MIXINS by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Center content vertical and horizontal
// Source: https://codepen.io/hced/pen/FbdqC/

// Provisional Mixin
@mixin vertical-align($top: 50%) {
    position: relative;
    top: $top;
    -webkit-transform: translateY(-$top);
    -ms-transform: translateY(-$top);
    transform: translateY(-$top);
}
