/*-----------------------------------------------------------------*/
/*--------------------- NANO SCROLLER ---------------------------*/
/*-----------------------------------------------------------------*/


//Este estilo sobreescribe el color de nanoscroller

.nano { width: 100%; }
.nano > .nano-content { padding: none; }
.nano > .nano-pane   { background: $white; }  
.nano > .nano-pane > .nano-slider { background: $gainsboro; }
