
// -----------------------------------------------------------
// URL MANAGER by Sebastian Serna - 2015
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// FONTS URLs
// -----------------------------------------------------------

// ICON FONTS URLs
// -----------------------------------------------------------

$url-icon-font-eot:       url('../fonts/icomoon.eot?3vly5m');
$url-icon-font-eot-iefix: url('../fonts/icomoon.eot?#iefix3vly5m');
$url-icon-font-woff:      url('../fonts/icomoon.woff?3vly5m');
$url-icon-font-ttf:       url('../fonts/icomoon.ttf?3vly5m');
$url-icon-font-svg:       url('../fonts/icomoon.svg?3vly5m#icomoon');

// IMAGES URLs
// -----------------------------------------------------------
