
// -----------------------------------------------------------
// FOOTER by Sebastian Serna - 2015
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


.footer {
  @include span-columns(12 of 12);
  height: 80px;
  padding: 10px;
  margin-top:20px;
  background: #000000;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  @media screen and (max-width: 768px){
      @include span-columns(12 of 12);
      -webkit-border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 0px;
      -moz-border-radius-topleft: 0px;
      -moz-border-radius-topright: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      }
  }
