// -----------------------------------------------------------
// BUTTON STYLES
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

input[type="submit"] { 
  vertical-align: middle;
  border: none;
  // Transition
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  // End transition
  @include themify() {
    padding: getTheme('btn-padding');
    color: getTheme('btn-text');
    border: getTheme('btn-border');
    background: getTheme('btn-bg');
    }
  }

input[type="submit"]:hover { 
  vertical-align: middle;
  border: none;
  // Transition
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  // End transition
  @include themify() {
    color: getTheme('btn-hover-text');
    border: getTheme('btn-hover-border');
    background: getTheme('btn-hover-bg');
    }
  }

input[type="reset"] { 
  vertical-align: middle;
  border: none;
  // Transition
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  // End transition
  @include themify() {
    padding: getTheme('btn-padding');
    color: getTheme('btn-text');
    border: getTheme('btn-border');
    background: getTheme('btn-bg');
    }
  }

input[type="reset"]:hover { 
  vertical-align: middle;
  border: none;
  // Transition
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  // End transition
  @include themify() {
    color: getTheme('btn-hover-text');
    border: getTheme('btn-hover-border');
    background: getTheme('btn-hover-bg');
    }
  }

button {
  vertical-align: middle;
  // Transition
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  // End transition
  @include themify() {
    padding: getTheme('btn-padding');
    color: getTheme('btn-text');
    border: getTheme('btn-border');
    background: getTheme('btn-bg');
    }
  }

button:hover {
  vertical-align: middle;
  // Transition
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  // End transition
  @include themify() {
    color: getTheme('btn-hover-text');
    border: getTheme('btn-hover-border');
    background: getTheme('btn-hover-bg');
    }
  }

// -----------------------------------------------------------
// SPECIAL BUTTONS by Sebastian Serna - 2015
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.button {
  vertical-align: middle;
  // Transition
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  // End transition
  display: inline-block;
  @include themify() {
    padding: getTheme('btn-padding');
    color: getTheme('btn-text');
    border: getTheme('btn-border');
    background: getTheme('btn-bg');
    }
  }

.button:hover {
  vertical-align: middle;
  // Transition
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  // End transition
  @include themify() {
    color: getTheme('btn-hover-text');
    border: getTheme('btn-hover-border');
    background: getTheme('btn-hover-bg');
    }
  }


.button a:visited {
  @include themify() {
    color: getTheme('btn-text');
    }
  }

.button a {
  @include themify() {
    color: getTheme('btn-text');
    }
  }

// Primary Button - Accent Color

.primary {
  @include themify() {
    color: getTheme('btn-primary-text');
    border: getTheme('btn-primary-border');
    background: getTheme('btn-primary-bg');
    }  
  }

.primary:hover {
  @include themify() {
    color: getTheme('btn-primary-hover-text');
    border: getTheme('btn-primary-hover-border');
    background: getTheme('btn-primary-hover-bg');
    }  
  }

.primary a:visited {
  @include themify() {
    color: getTheme('btn-primary-text');
    }
  }

.primary a {
  @include themify() {
    color: getTheme('btn-primary-text');
    }
  }

// Shapes for Buttons


// CUSTOM SHAPES 
// -----------------------------------------------------------

.button .rounded {
    border-radius:              50px; 
    -moz-border-radius:         50px; 
    -webkit-border-radius:      50px;

    min-width:                  100px;
    }
    // -----------------------------------

.button.circle {
    display:                    inline-block ;
    width:                      50px ;
    height:                     50px ;
    border-radius:              50% ; 
    -moz-border-radius:         50% ; 
    -webkit-border-radius:      50% ;
    text-align:                 center;
    border:                     1px solid;
    padding:                    0 ;
    padding-top:                7px;  
    }

.button .small {
    width:                      25px ;
    height:                     25px ;

    }

.fill {
    width: 100%;
    text-align: center;
}