// -----------------------------------------------------------
// SELECT STYLES
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

select {
  background: transparent;
  max-width: em(250);
  padding: 5px 35px 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: $dropdown-text;
  border: $dropdown-border;
  background: $dropdown-bg;    
	}

select option {
  color: $dropdown-text;
  } 

select optgroup {
  color: $dropdown-text;
  } 
