// --------------------------------------------------------------------------------
//  BASE TOKENS (VARIABLES)
// --------------------------------------------------------------------------------
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Breakpoints

$mobile: new-breakpoint(max-width 768px 4);
$tablet: new-breakpoint(max-width 980px 4);
$desktop: new-breakpoint(max-width 1920px 4);

// ::::: Start Neat override ::::::::::::::::

// Visual Grid
$visual-grid:         true;
$visual-grid-color:   #d4d4d4;
$visual-grid-opacity: 0.3;

// Initial Grid Settings
$max-width:     100%;
$grid-columns:  12;
$gutter:        0em ;

// ::::: End Neat override ::::::::::::::::

$large-screen: 50em !default;
$border-box-sizing: true !default;
$add-gutter: 1em;

// Dimensions

$size-xs:    3.5rem   !default;
$size-s:     5rem   !default;
$size-m:     20rem   !default;
$size-l:     40rem  !default;
$size-xl:    50rem  !default;
$size-xxl:   70rem  !default;

$width-sidebar-tiny: 4rem;

// Text sizes

$text-tiny:    0.6rem  !default;
$text-small:   1.2rem  !default;
$text-medium:  1.4rem  !default;
$text-large:   1.9rem  !default;
$text-xlarge:  2.4rem  !default;
$text-huge:    3.4rem  !default;

$text-baseline: 2.5rem !default;

// Layout Dimens

$header-size: $size-xs !default;
$main-size: auto !default;
$footer-size: $size-m !default;


// GRAYSCALE PALETTE variables (white to black)

$white:             #FFFFFF ; // White (HTML color: white) #FFFFFF
$gray1:             darken($white, 5%); // #F2F2F2
$gray2:             darken($white, 10%); // ??
$gray3:             darken($white, 30%); // #B3B3B3
$gray4:             darken($white, 40%); // #999999
$gray5:             darken($white, 50%); // Gray medium (HTML color: gray) #808080
$gray6:             darken($white, 65%); // #595959
$gray7:             darken($white, 70%); // #4D4D4D
$gray8:             darken($white, 80%); // #333333
$gray9:             darken($white, 85%); // #1A1A1A
$black:             #000000 ; // Black (HTML color: black) #000000

$primary:           #000000 !default; // Black
$secondary:         #999999 !default; // Gray
