// --------------------------------------------------------------------------------
//  BASE TOKENS (VARIABLES)
// --------------------------------------------------------------------------------
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Brand Colors - Sass variables + CSS custom properties
$brand1: var(--brand1, #000000); 
$brand2: var(--brand2, #808080);
$brand3: var(--brand3, #B3B3B3);
$brand4: var(--brand4, #CCCCCC);
$brand5: var(--brand5, #EDEDED);
$brand6: var(--brand6, #F7F7F7);
$brand7: var(--brand7, #FAFAFA);
$brand8: var(--brand8, #FAFAFA);
$brand9: var(--brand9, #FAFAFA);

// Grayscale
$white: #FFFFFF ; // White (HTML color: white)
$gray1: #FAFAFA; 
$gray2: #F7F7F7;
$gray3: #EDEDED;
$gray4: #CCCCCC;
$gray5: #B3B3B3; // Gray medium
$gray6: #808080;
$gray7: #383838;
$gray8: #262626;
$gray9: #1A1A1A;
$black: #000000 ; // Black (HTML color: black)

// Grey keyword
$grey1: $gray1; 
$grey2: $gray2;
$grey3: $gray3;
$grey4: $gray4;
$grey5: $gray5;
$grey6: $gray6;
$grey7: $gray7;
$grey8: $gray8;
$grey9: $gray9;

// Grayscale Blue
$grayblue1: #F6F7F9; 
$grayblue2: #F0F1F5;
$grayblue3: #EAECF1;
$grayblue4: #C2C9D6;
$grayblue5: #A3ADC2;
$grayblue6: #8592AD;
$grayblue7: #47536B;
$grayblue8: #29303D;
$grayblue9: #1F242E;

// Greyblue keyword
$greyblue1: $grayblue1; 
$greyblue2: $grayblue2;
$greyblue3: $grayblue3;
$greyblue4: $grayblue4;
$greyblue5: $grayblue5;
$greyblue6: $grayblue6;
$greyblue7: $grayblue7;
$greyblue8: $grayblue8;
$greyblue9: $grayblue9;

// Dimensions

$size-xs:    3.5rem   !default;
$size-s:     5rem   !default;
$size-m:     20rem   !default;
$size-l:     40rem  !default;
$size-xl:    50rem  !default;
$size-xxl:   70rem  !default;

$width-sidebar-tiny: 4rem;

// Text sizes

$text-tiny:    0.6rem  !default;
$text-small:   1.2rem  !default;
$text-medium:  1.4rem  !default;
$text-large:   1.9rem  !default;
$text-xlarge:  2.4rem  !default;
$text-huge:    3.4rem  !default;

$text-baseline: 2.5rem !default;
