/* --------------------------------------------------------------------------------
   BASE
-------------------------------------------------------------------------------- */
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// Variables
// ----------------------------------------------

$body-bg:              $white !default;


// Styles
// ----------------------------------------------

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 10px;
  background: $body-bg;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}
