/* --------------------------------------------------------------------------------
   BASE
-------------------------------------------------------------------------------- */
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

:root,
[theme='light'] {
  --body-bg:   #{$white};
}

[theme='dark']{
  --body-bg:   #{$gray9};
}

// Styles
// ----------------------------------------------

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  background: initial; // Fallback
  background: var(--body-bg);
}
