/* --------------------------------------------------------------------------------
   CONTROL - INPUT TEXT
-------------------------------------------------------------------------------- */
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------

// Input text (text, password, email, textarea)
$input-text-font:           $text-body-font !default;
$input-text:                $gray7 !default;
$input-text-border:         $gray4 solid 1px !default;
$input-text-bg:             $white !default;
// Input text focus
$input-text-focus:          $gray7 !default;
$input-text-focus-border:   $brand1 solid 1px !default;
$input-text-focus-bg:       $white !default;


// STYLES
// -----------------------------------------------------------

input[type="text"] {
  width:100%;
  font-size: $text-medium;
  font-family: $input-text-font;
  padding: 1rem 1rem;
  color: $input-text;
  border: $input-text-border;
  background: $input-text-bg;
  margin-bottom: 1rem;
  outline: none;
}

input[type="text"]:disabled {
  opacity: 0.4;
}

input[type="password"] {
  width:100%;
  font-size: $text-medium;
  font-family: $input-text-font;
  padding: 1rem 1rem;
  letter-spacing:3px;
  color: $input-text;
  border: $input-text-border;
  background: $input-text-bg;
  margin-bottom: 1rem;
  outline: none;
}

input[type="email"] {
  width:100%;
  font-size: $text-medium;
  font-family: $input-text-font;
  padding: 1rem 1rem;
  color: $input-text;
  border: $input-text-border;
  background: $input-text-bg;
  margin-bottom: 1rem;
  outline: none;
}


input:focus {
  color: $input-text-focus;
  border: $input-text-focus-border;
  background: $input-text-focus-bg;
}


// Textarea

textarea {
  width:100%;
  font-size: $text-medium;
  font-family: $input-text-font;
  padding: 1rem 1rem;
  height: auto;
  min-height: 8rem;
  color: $input-text;
  border: $input-text-border;
  background: $input-text-bg;
  margin-bottom: 1rem;
  outline: none;
}

textarea:focus {
  color: $input-text-focus;
  border: $input-text-focus-border;
  background: $input-text-focus-bg;
}
