/* -----------------------------------------------------------
   SCROLLBAR
----------------------------------------------------------- */
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// ----------------------------------------------

$scrollbar-panel-bg:       hsla(0,0,100,0.1) !default;
$scrollbar-color:          hsla(0,0,60,0.5) !default;
$scrollbar-size:           5px !default;
$scrollbar-border:         none !default;
$scrollbar-border-radius:  6px !default;


// STYLES
// ----------------------------------------------

.scroll-custom::-webkit-scrollbar {
	width: $scrollbar-size;
}

.scroll-custom.sidebar::-webkit-scrollbar-track {
	background: $scrollbar-panel-bg;
}

.scroll-custom::-webkit-scrollbar-thumb {
	border-radius: $scrollbar-border-radius;
	background: $scrollbar-color;
}
