/* -----------------------------------------------------------
   DROPDOWN (SELECT)
----------------------------------------------------------- */
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------

$dropdown-text:             $gray8 !default;
$dropdown-border:           $gray5 solid 1px !default;
$dropdown-bg:               $gray1 !default;
$dropdown-bg-arrow:         url('../../images/icon-arrow.svg') 90% 50% !default;


// STYLES
// -----------------------------------------------------------

select {
  background: transparent;
  max-width: 25rem;
  padding: 5px 35px 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: $dropdown-text;
  border: $dropdown-border;
  background: $dropdown-bg;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-image: $dropdown-bg-arrow;
}

select {
  font-size: $text-medium;
}

select option {
  color: $dropdown-text;
}

select optgroup {
  color: $dropdown-text;
}