/* --------------------------------------------------------------------------------
   CONTROL - DROPDOWN (SELECT)
-------------------------------------------------------------------------------- */
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

/* Theme Default (Light) */
:root {
  --dropdown-text-color:    inherit;
  --dropdown-bg:            #{$white};
  --dropdown-arrow:         #{$gray5};
  --dropdown-border:        #{$gray4} 1px solid;
  --dropdown-border-focus:  #{$brand1} 1px solid;
  --dropdown-border-error:  red 1px solid;
}

/* Theme Dark */
.theme-dark {
  --dropdown-text-color:    #{$gray3};
  --dropdown-bg:            #{$black};
  --dropdown-arrow:         #{$gray4};
  --dropdown-border:        #{$gray6} 1px solid;
  --dropdown-border-focus:  #{$gray4} 1px solid;
  --dropdown-border-error:  red 1px solid;
}

// STYLES
// -----------------------------------------------------------

select {
  min-width: 100px;
  margin: 5px auto;
  padding: 9px 8px;
  color: inherit; // Fallback
  color: var(--dropdown-text-color);
  border: solid 1px $gray4; // Fallback
  border: var(--dropdown-border);
  border-radius: 5px;
  font-size: 14px;
  font-family: inherit;
  line-height: 21px;
  transition: all 0.2s;
  background: $white; // Fallback
  background: var(--dropdown-bg);
  background-image: linear-gradient(45deg, transparent 50%, $gray5 0), 
                    linear-gradient(135deg, $gray5 50%, transparent 0); // Fallback
  background-image: linear-gradient(45deg, transparent 50%, var(--dropdown-arrow) 0), 
                    linear-gradient(135deg, var(--dropdown-arrow) 50%, transparent 0);
  background-position: calc(100% - 20px) calc(15px + 2px), 
                        calc(100% - 15px) calc(15px + 2px);
  background-size: 5px 5px, 5px 5px, 1px 15px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  cursor: pointer;
  // States
  &:focus {
    outline: none;
    border: 1px solid $brand1-fallback; // Fallback
    border: var(--dropdown-border-focus);
  }
  &.has-error {
    border: 1px solid red; // Fallback
    border: var(--dropdown-border-error);
  }
  // Sizes
  &.is-small {
    font-size: 12px;
    padding: 3px 32px 3px 8px;
    min-width: 80px;
    line-height: 18px;
    background-position: calc(100% - 15px) calc(12px - 2px), 
                         calc(100% - 10px) calc(12px - 2px);
  }
  &.is-medium {
    font-size: 14px;
    padding: 9px 36px 9px 8px;
    min-width: 100px;
    line-height: 21px;
    background-position: calc(100% - 20px) calc(15px + 2px), 
                         calc(100% - 15px) calc(15px + 2px);
  }
  &.is-large {
    font-size: 16px;
    padding: 12px 38px 12px 8px;
    min-width: 130px;
    line-height: 24px;
    background-position: calc(100% - 20px) calc(17px + 5px), 
                         calc(100% - 15px) calc(17px + 5px);
  }
  &.is-full-width {
    width: 100%;
  }
  // Shapes
  &.is-pill {
    border-radius: 48px 48px 48px 48px;
  }
  &.is-square {
    border-radius: 0px;
  }
  &.is-rounded-right {
    border-radius: 0px 5px 5px 0px;
  }
  &.is-rounded-left {
    border-radius: 5px 0px 0px 5px;
  }
  &.is-rounded {
    border-radius: 5px;
  }
}

select::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gray5;
  opacity: 1;
  /* Firefox */
}

select:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $gray5;
}

select::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $gray5;
}