/* --------------------------------------------------------------------------------
   CONTROL - INPUT TEXT
-------------------------------------------------------------------------------- */
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

/* Theme Default (Light) */
:root {
  --input-text-color:         inherit;
  --input-text-bg:            #{$white};
  --input-text-border:        #{$gray4} 1px solid;
  --input-text-bg-focus:      #{$white};
  --input-text-border-focus:  #{$brand1} 1px solid;
  --input-text-border-error:  red 1px solid;
}

/* Theme Dark */
.theme-dark {
  --input-text-color:         #{$gray3};
  --input-text-bg:            #{$black};
  --input-text-border:        #{$gray6} 1px solid;
  --input-text-bg-focus:      #{$black};
  --input-text-border-focus:  #{$gray4} 1px solid;
  --input-text-border-error:  red 1px solid;
}

// STYLES
// -----------------------------------------------------------

input[type="text"],
input[type="password"],
input[type="email"] {
  width:100%;
  font-size: $text-medium;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  outline: none;
  color: inherit; // Fallback
  color: var(--input-text-color);
  border: $gray4 1px solid; // Fallback
  border: var(--input-text-border);
  background: white; // Fallback
  background: var(--input-text-bg);
}

input:disabled {
  opacity: 0.4;
}

input:focus {
  color: inherit; // Fallback
  color: var(--input-text-color);
  border: $gray4 1px solid; // Fallback
  border: var(--input-text-border-focus);
  background: white; // Fallback
  background: var(--input-text-bg-focus);
}

/* Textarea */
textarea {
  width:100%;
  font-size: $text-medium;
  padding: 1rem 1rem;
  height: auto;
  min-height: 8rem;
  margin-bottom: 1rem;
  outline: none;
  color: inherit; // Fallback
  color: var(--input-text-color);
  border: $gray4 1px solid; // Fallback
  border: var(--input-text-border);
  background: white; // Fallback
  background: var(--input-text-bg);
}

textarea:focus {
  color: inherit; // Fallback
  color: var(--input-text-color);
  border: $gray4 1px solid; // Fallback
  border: var(--input-text-border-focus);
  background: white; // Fallback
  background: var(--input-text-bg-focus);
}

input:focus.has-error,
input.has-error,
textarea.has-error {
  border: red 1px solid; // Fallback
  border: var(--input-text-border-error);
}