/* -----------------------------------------------------------
   LAYOUT GRID
----------------------------------------------------------- */
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------


// STYLES
// -----------------------------------------------------------

.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 224px 1fr;
  grid-template-rows: 56px auto;
  grid-template-areas: 
    "sidebar     header"
    "sidebar     content";
}

@media all and (max-width: 700px) {
  .layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 56px 0 1fr 44px;
    grid-template-areas: 
      "header"
      "sidebar"
      "content"
      "footer";
  }
}


.header {
  grid-area: header;
  background: hsl(0,0%,20%);
  color: white;
}

.content {
  grid-area: content;
  overflow: auto;
  padding: 32px;
}

.sidebar {
  grid-area: sidebar;
  background: hsl(0,0%,10%);
  overflow: auto;
  color: white;
} 
  
.footer {
  grid-area: footer;
  background: hsl(0,0%,20%);
  color: white;
}