/* -----------------------------------------------------------
   LAYOUT GRID
----------------------------------------------------------- */
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------

:root {
  --header-size: 80px;
  --footer-size: 80px;
  --content-size: 1fr;
  --sidebar-left-size: 220px;
  --sidebar-right-size: 220px;
  --auto-cols: 240px;
  --auto-rows: 240px;
  --grid-gap: 8px;
}

// STYLES
// -----------------------------------------------------------

.grid.show-grid * {
  color: $gray8;
  background: $gray1;
  box-shadow: inset 0 0 0 1px hsla(0, 0, 50%, 1);
}

/* Grid */
.grid {
  width: 100%;
  height: 100%;
  display: grid;
  overflow: auto;
}

.grid.app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.grid > * {
  overflow: auto;
  min-height: 0;
}

/* Grid Gap */

.grid.has-gap {
  grid-gap: var(--grid-gap);
}

/* Grid Auto Cols */

.grid.auto-cols {
  grid-template-columns: repeat(auto-fit, minmax(var(--auto-cols), 1fr));
  grid-auto-rows: var(--auto-rows);
  align-items: center;
}

.grid.auto-cols > * {
  height: 100%;
}

/* Grid Basic Areas */

.header { grid-area: head; }
.sidebar-left { grid-area: side1; }
.content-area { grid-area: main; }
.sidebar-right { grid-area: side2; }
.footer { grid-area: foot; }

/* Layout Variations */

/* 1 Column */
.grid.one-col {
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-size) var(--content-size) var(--footer-size);
  grid-template-areas: 
    "head"
    "main"
    "foot";
}

.grid.one-col.no-header {
  grid-template-columns: 1fr;
  grid-template-rows: var(--content-size) var(--footer-size);
  grid-template-areas: 
    "main"
    "foot";
}

.grid.one-col.no-footer {
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-size) var(--content-size);
  grid-template-areas: 
    "head"
    "main";
}

/* 2 Columns */
.grid.two-cols,
.grid.two-cols.sidebar-left {
  grid-template-columns: var(--sidebar-left-size) var(--content-size);
  grid-template-rows: 1fr;
  grid-template-areas: 
    "side1   main";
}

.grid.two-cols.sidebar-right {
  grid-template-columns: 1fr var(--sidebar-right-size);
  grid-template-rows: 1fr;
  grid-template-areas: 
    "main    side2";
}

/* 3 Columns */
.grid.three-cols {
  grid-template-columns: var(--sidebar-left-size) var(--content-size) var(--sidebar-right-size);
  grid-template-rows: 1fr;
  grid-template-areas: 
    "side1   main   side2";
}