/* --------------------------------------------------------------------------------
   MEDIA - VIDEO
-------------------------------------------------------------------------------- */
// Based on Refills http://refills.bourbon.io/components/
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------


// STYLES
// -----------------------------------------------------------

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

}
