/* --------------------------------------------------------------------------------
   MEDIA - TEXT
-------------------------------------------------------------------------------- */
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------

$text-body-font:            var(--text-body-font, Tahoma, Geneva, sans-serif) !default;
$text-body-color:           $gray7 !default;

$text-heading-font:         var(--text-heading-font, inherit) !default;
$text-heading-weight:       var(--text-heading-weight, normal)  !default;
$text-heading-color:        var(--text-heading-color, $gray8) !default;

$text-link:                 $brand1 !default;
$text-link-hover:           $brand1 !default;
$text-link-visited:         $brand1 !default;

$text-selection:            $gray7 !default;
$text-selection-bg:         $gray3 !default;

// Horizontal rule
$hr-color:                  $gray3 !default;


// STYLES
// ------------------------------------------------------------

body {
  font-family: sans-serif;
  font-family: $text-body-font;
  color: $text-body-color;
}

h1, h2, h3, h4, h5, h6  {
  font-family: $text-heading-font;
  font-weight: $text-heading-weight;
  margin: 1rem 0 2rem 0;
  color: $text-heading-color;
}

h1 { font-size: 4.5rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.3rem; }

p {
  font-family: $text-body-font;
  font-size: $text-medium;
  line-height: $text-baseline;
  margin: 0;
  padding-bottom: 1.5rem;
  color: $text-body-color;
}

a {
  text-decoration: none;
  color: $text-link;
  outline: 0;
  font-size: $text-medium;
}

a:hover {
  text-decoration: none;
  transition:.2s;
  color: $text-link-hover;
}

a:visited {
  color: $text-link-visited;
}

ul, ol {
}

li {
  font-size: $text-medium;
  line-height: $text-baseline;
}

dl, dt, dd {
  font-size: $text-medium;
  line-height: $text-baseline;
}

small {
  font-size: 90%;
  font-family: $text-body-font;
}

q {
  display: inline-block;
  font-style: italic;
  font-size: $text-medium;
}

blockquote {
  font-style: italic;
}

blockquote q {
  display: inline-block;
  font-style: italic;
  font-size: $text-xlarge;
  line-height: 4rem;
}

blockquote footer {
  margin-top: 1rem;
  color: $text-body-color;
  text-align: right;
  font-size: $text-large;
}

cite {
  display: inline-block;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  font-style: italic;
}

pre, code, samp, kbd {
  box-shadow: none;
}

code {
}

pre {
  padding: 1rem 0;
  font-size: $text-medium;
  line-height: $text-baseline;
}

hr {
  border: 0;
  height: 1px;
  color: $hr-color;
  background-color: $hr-color;
}

// Form texts

label {
  display: inline-block;
  margin-bottom: 1rem;
  color: $text-body-color;
  font-size: $text-medium;
}

optgroup, option {
  color: $text-body-color;
}

input [type="checkbox"] {
  color: $text-body-color;
}

::selection {
  color: $text-selection;
  background: $text-selection-bg;
}

::-moz-selection {
  color: $text-selection;
  background: $text-selection-bg;
}