/* --------------------------------------------------------------------------------
   PATTERN - MENU
-------------------------------------------------------------------------------- */
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

:root,
[theme='light'] {
  --menu-bg:                  transparent;
  --menu-item-text:           inherit;
  --menu-item-bg:             transparent;
  --menu-item-text-hover:     #{$gray9};
  --menu-item-bg-hover:       #{$gray2};
  --menu-item-text-active:    inherit;
  --menu-item-bg-active:      #{$gray3};
  --menu-item-border-active:  #{$brand1} 3px solid;
}

[theme='dark'] {
  --menu-bg:                  #{$black};
  --menu-item-text:           #{$gray5};
  --menu-item-bg:             transparent;
  --menu-item-text-hover:     #{$white};
  --menu-item-bg-hover:       #{$gray9};
  --menu-item-text-active:    #{$white};
  --menu-item-bg-active:      #{$gray7};
  --menu-item-border-active:  #{$white} 3px solid;
}

// STYLES --------------------------------------------------------------------------

.menu {
  color: inherit; // Fallback
  color: var(--menu-item-text);
  background: var(--menu-bg);
}

ul.menu,
.menu ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

ul.menu li,
ul.menu li a,
.menu ul li,
.menu ul li a {
  list-style-type: none;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
}

ul.menu a,
.menu ul a {
  transition: none;
  width: 100%;
  padding-left: 24px;
  color: inherit;
  background: transparent; // Fallback
  background: var(--menu-item-bg);
}


ul.menu a:hover,
.menu ul a:hover {
  color: $gray9; // Fallback
  color: var(--menu-item-text-hover);
  background: $gray2; // Fallback
  background: var(--menu-item-bg-hover);
}

ul.menu li.active,
.menu ul li.active {
  position: relative; /* Used in border active absolute */
}

ul.menu li.active,
.menu ul li.active,
ul.menu li.active a,
.menu ul li.active a {
  color: inherit; // Fallback
  color: var(--menu-item-text-active);
  background: $gray3; // Fallback
  background: var(--menu-item-bg-active);
}

ul.menu li.active a:hover,
.menu ul li.active a:hover {
  background: inherit;
}

ul.menu li.active:before,
.menu ul li.active:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 38px;
  top: 0;
  border-left: 3px solid $brand1-fallback; // Fallback
  border-left: var(--menu-item-border-active);
}

ul.menu a span,
.menu ul a span {
  margin-left: 16px;
}

.menu .menu-section {
  font-size: 12px;
  height: 32px;
  padding-top: 28px;
  padding-bottom: 14px;
  padding-left: 24px;
}

/* Horizontal */

ul.menu.is-horizontal,
.menu.is-horizontal ul {
  flex-direction: row;
}

ul.menu.is-horizontal li,
ul.menu.is-horizontal li a,
.menu.is-horizontal ul li,
.menu.is-horizontal ul li a {
  list-style-type: none;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
}

ul.menu.is-horizontal li a {
  padding-right: 24px;
}

ul.menu.is-horizontal li.active:before,
.menu.is-horizontal ul li.active:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  border-left: none;
  border-bottom: 3px solid $brand1-fallback; // Fallback
  border-bottom: var(--menu-item-border-active, 3px solid $brand1);
}
