/* --------------------------------------------------------------------------------
   PATTERN - TABLE
-------------------------------------------------------------------------------- */
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

/* Theme Default (Light) */
:root {
  --table-text:         inherit;
  --table-bg:           transparent;
  --table-th-bg:        transparent;
  --table-th-border:    #{$gray3} 1px solid;
  --table-td-bg:        transparent;
  --table-td-border:    #{$gray3} 1px solid;
  --table-tr-bg-hover:  #{$gray1};
}

/* Theme Dark */
.theme-dark {
  --table-text:         #{$gray3};
  --table-bg:           #{$gray9};
  --table-th-bg:        transparent;
  --table-th-border:    #{$gray8} 1px solid;
  --table-td-bg:        transparent;
  --table-td-border:    #{$gray8}  1px solid;
  --table-tr-bg-hover:  #{$gray8};
}

// STYLES --------------------------------------------------------------------------

table {
    border-collapse:collapse;
    width:100%;
    margin: 1rem auto 1rem auto;
    text-align: left;
    font-size: inherit;
    color: inherit; // Fallback
    color: var(--table-text);
    background: transparent; // Fallback
    background: var(--table-bg);
  }
  
  thead {
    height:2rem;
  }
  
  tbody {
    height:2rem;
  }
  
  tfoot {
    height:2rem;
  }
  
  table caption {
    font-size: 80%;
    margin:1rem;
  }
  
  th {
    text-align: left;
    padding: 1rem 0.8rem;
    border-bottom: 1px solid $gray3; //Fallback
    border-bottom: var(--table-th-border);
    background: transparent; //Fallback
    background: var(--table-th-bg);
  }
  
  td {
    padding: 1rem 0.8rem;
    border-bottom: 1px solid $gray3; //Fallback
    border-bottom: var(--table-td-border);
    background: transparent; //Fallback
    background: var(--table-td-bg);
  }
  
  tr:hover {
    background: $gray1; //Fallback
    background: var(--table-tr-bg-hover);
  }  