/* --------------------------------------------------------------------------------
   UTILITIES - SIZES
-------------------------------------------------------------------------------- */
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Dimensions classes

.size-xs    {  height: $size-xs   ; }
.size-s     {  height: $size-s    ; }
.size-m     {  height: $size-m    ; }
.size-l     {  height: $size-l    ; }
.size-xl    {  height: $size-xl   ; }
.size-xxl   {  height: $size-xxl  ; }


/* Padding */

.no-padding {
  padding: 0;
}

.padding,
.padding-medium {
  padding: 16px;
}

.padding-small {
  padding: 8px;
}

.padding-large {
  padding-left: 24px;
}

/* Padding left */
.padding-left,
.padding-left-medium {
  padding-left: 16px;
}

.padding-left-small {
  padding-left: 8px;
}

.padding-left-large {
  padding-left: 24px;
}

/* Padding Right */
.padding-right,
.padding-right-medium {
  padding-right: 16px;
}

.padding-right-small {
  padding-right: 8px;
}

.padding-right-large {
  padding-right: 24px;
}