/* --------------------------------------------------------------------------------
   UTILITIES - BASE
-------------------------------------------------------------------------------- */
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

:root,
[theme='light'] {
  --util-border:     #{$gray3} solid 1px;
}

[theme='dark'] {
  --util-border:     #{$gray7} solid 1px;
}

// STYLES
// -----------------------------------------------------------

// Borders

.border {
  border: var(--util-border);
}

.border-top {
  border-top: var(--util-border);
}

.border-left {
  border-left: var(--util-border);
}

.border-right {
  border-right: var(--util-border);
}

.border-bottom {
  border-bottom: var(--util-border);
}

// Visibility

.hidden {
  display: none;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.visible {
  display: block;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

// Alignment

.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-align: center;
}

.align-vertical {
  display: flex;
  align-items: center;
}

.align-horizontal {
  display: flex;
  justify-content: center;  
  text-align: center;
}

.align-right {
  text-align:right;
}

.align-left {
  text-align:left;
}

// Shadows

.shadow-bottom {
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.22);
}

.shadow-right {
  box-shadow: 4px 3px 5px -1px rgba(0,0,0,0.22);
}

.shadow {
  box-shadow: 12px 11px 23px -14px rgba(0,0,0,0.8);
}

// Lists

.no-bullets {
  list-style: none;
  padding-left: 0;
}