// -----------------------------------------------------------
// IMAGES
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

img {
	display: inline-block;
	max-width:100%;
	height:auto; 
	}