// -----------------------------------------------------------
// LIST VIEW by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

  .listview {
    padding-left: 0;
  }

  .listview h3 {
    font-size: 1em;
    line-height: 1.2em;
    display:inline;
      @include media($mobile){
      //margin: 0.1em 0.5em 0 0;
          }
  }

  .listview li a {
    display: block; 
    width: 100%; 
    height: 100%;
  }

  .listview li a h3 {
    color: $gray4;
  }

  .listview li img {
    float: left;
    display:inline;
    height: 50px;
    width: 50px;
    margin: 0 1em 0 0.4em;
  }

  .listview li p {

  }

  .listview li {
    padding: 10px;
    overflow: auto;
    border-bottom: 1px solid $gray7;
    padding-right: 1em;
    display: block;
    width: 100%;
    height: 100%;
  }

  .listview li:hover {
    background: $gray7;
    cursor: pointer;
    color: $white;
  }

  .listview a h3:hover {
    color: $white;
  }
