// -----------------------------------------------------------
// MENU HORIZONTAL TABS by Sebastian Serna - 2016
// -----------------------------------------------------------
// Rounded tabs
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.section-options {
  overflow: auto;
  width:655px; 
  position:absolute;
  top:248px;
}

.section-options li {
  float:left;
  list-style: none;
  padding: 0.1em 1.2em;
  border-top:2px solid $black;
  border-left:2px solid $black;
  border-right:2px solid $black;
  border-bottom:2px solid $black;
  @include border-top-radius(1em);
}

.section-options ul {
  margin:0;
}

.section-options li a {
  color: $gray4;
  font-family: 'AldoPC';
}

.section-options li a:hover {
  color: $white;
  font-family: 'AldoPC';
}

.section-options:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom:2px solid $white; 
  z-index: 1;
}

.section-options:before {
  z-index: 1;
}
.section-options li {
  position: relative;
  z-index: 0;
}
.section-options li.active-tab {
  z-index: 2;
  border-bottom-color: #000;
}

.active-tab {
  background:$black;
  border-top:2px solid $white !important;
  border-left:2px solid $white !important;
  border-right:2px solid $white !important;
  border-bottom:2px solid $black !important;
  @include border-top-radius(1em);
}

.active-tab li a:active {
  color: $white !important;
}

.tabs-submenu-wrap {
  float: right;
  padding-right: 0.5em;
}

.tabs-submenu {
  overflow: auto;
}

.tabs-submenu ul {
  margin: 0 !important;
}
