// -----------------------------------------------------------
// MENU SIDEBAR OFF CANVAS by Sebastian Serna - 2016
// -----------------------------------------------------------
// Based on Bourbon - Refills http://refills.bourbon.io/
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

body {
  @include media($mobile){
    padding-top:50px;
  }
}

// HEADER MOBILE :::::::::::::::

.header__mobile {
    @include span-columns(12);
    @include position(fixed, 0 0 auto auto);
    z-index: 999999;
    width: 100%;
    display:none;
    background:$gray8;
      @include media($mobile){
        display: block;
      }  
}

// LOGO MOBILE :::::::::::::::

.logo-mobile {
  padding-left: 0.5em;
  padding-top:0.1em;
  @include span-columns(2);
  //@include position(fixed, 0 auto auto 0);
}

.logo-mobile img {
  width: 2.8em;
}

// SECTION TITLE :::::::::::::::

.header__mobile--title {
    @include span-columns(8);
    text-align: center;
}

.header__mobile--title h2 {
    margin:0;
    margin-top:0.8em;
    font-size: 1.2em;
    text-transform: uppercase;
    color:$gray3;
}

// SHOW BUTTON :::::::::::::::

.offcanvas-panel-show {
    @include span-columns(2);
    height:50px;
    text-align: right;
}

.offcanvas-panel-button {
    width:50px;
    height:50px;
    text-align: center;
    @include border-left-radius(50%);
    background: $black;
    border:1px solid $black;
    color: $white;   
}

// PANEL OFFCANVAS :::::::::::::::

// CLOSE BUTTON

.offcanvas-panel-close {
  cursor: pointer;
  height: 50px;
  width: 50px;
  padding-top:0.6em;
  text-align: center;
  background:$gray7;
  color: $white;
  @include border-right-radius(50%);
}

.offcanvas-panel-content {  
  $sliding-panel-width: 250px;

  @include position(fixed, 0 0 0 auto);
  @include size($sliding-panel-width 100%);
  @include transform(translateX($sliding-panel-width));
  @include transition(all 0.20s linear);
  background:$gray9;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  z-index: 999999;

  &.is-visible {
    @include transform(translateX(0));
  }
}

.offcanvas-panel-content nav ul {
    padding-left:0;
    text-transform: uppercase;
}

.offcanvas-panel-content nav li {
    list-style: none;
    line-height: 3.5em;
    padding-left:2.5em;
    border-bottom:1px solid $gray8;
    color:$gray4;
}

.offcanvas-panel-content nav a {
    color:$gray4;
}

.offcanvas-panel-content .social-bar {
    width: 100%;
    text-align: center;
    position:absolute;
    bottom:20px;
}

.offcanvas-panel-content .social-bar a {
    margin-right:0.5em;
    margin-left:0.5em;
}

// FADE SCREEN :::::::::::::::

.offcanvas-panel-fade-screen {
  @include position(fixed, 0 0 0 0);
  @include transition;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

.no-scroll {
    overflow:hidden;
}


// Based on code by Diego Eis
