// -----------------------------------------------------------
// MENU HORIZONTAL STICKY by Sebastian Serna - 2016
// -----------------------------------------------------------
// Powered by Jquery Sticky http://stickyjs.com/
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.sub-navigation {
  background:$gray7;
  color: $gray4;
  height: auto;
  font-size: 0.65em;
  text-transform: uppercase;
  @include media($mobile){
    @include position(fixed, auto 0 0 auto);
    width:100%;
    font-size: 0.5em;
  }

}


.icontab {
  margin-right: 0.5em;
  font-size: 1em;

}

  @include media($mobile){

    .tabs span {
      display: block;
      margin-top: 0.5em;
    }
    .icontab {
      text-align: center;
      font-size: 1.8em;
      margin-right: 0;
    }

    .tabs a {
      overflow: auto;
    }

    .tabs nav a:hover {
      color: $gray4 !important;
    }

  }

.tab-section {
  border-bottom: 1px solid $gray3;
  padding-bottom:1em;
  padding-top:2.5em;
}

// Tabs (based on http://tympanus.net/codrops/2014/03/21/responsive-full-width-tabs/) 


.tabs {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-weight: 300;
  background:$gray7;
}

/* Nav */
.tabs nav li {
  text-align: center;
}

.tabs nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.tabs nav ul li {
  border: 1px solid $gray6;
  border-bottom: none;
  border-top: none;
  display: block;
  float: left;
  position: relative;
}

.tabs nav li.tab-current {
  border: 1px solid $gray6;
  box-shadow: inset 0 2px $gray6;
  border-bottom: none;
  z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
  content: '';
  position: absolute;
  height: 1px;
  right: 100%;
  bottom: 0;
  width: 1000px;
  background: #47a3da;
}

.tabs nav li.tab-current:after {
  right: auto;
  left: 100%;
  width: 4000px;
}

.tabs nav a {
  color: $gray4;
  display: block;
  font-size: 1.45em;
  line-height: 2.5;
  padding: 0 1.25em;
  white-space: nowrap;
}

.tabs nav a:hover {
  color: $white;
}

.tabs nav li.tab-current a {
  color: #47a3da;
}

  .tabs nav a:before {
    margin-right: 0;
  }

  .tabs nav ul,
  .tabs nav ul li a {
    width: 100%;
    padding: 0;
  }

  .tabs nav ul li {
    width: 20%;
    width: calc(25% + 1px);
    margin: 0 0 0 -1px;
  }

  .tabs nav ul li:last-child {
    border-right: none;
  }


.active {
  background: $black;
}

.active nav li a {
  color: $white !important;
}





